body > .container-fluid {
    font-size: 16px;
}

@media (max-width: 768px) {
    body > .container-fluid {
        font-size: 12px;
    }
}

.form-control {
    color: #333333;
}

/* make some room at top of the form */
#addJob > .row:first-child {
    padding-top: 30px;
}

#addJob > .row {
    padding: 2px 0 0;
}

#addJob > .row label {
    color: #608a92;
    font-weight: normal;
    margin: 0;
    font-size: 1.1em;
}

#itemProjectCombo + .chosen-container:before {
    content: 'Job is for this project...';
    color: #666;
}

#addJob .form-control {
    font-size: 18px;
}

#labels {
    list-style-type: none;
    padding: 0 3px;
    margin: 0;
    position: absolute;
}

@media (max-width: 768px) {
    #labels {
        position: inherit;
    }
}


#labels li {
    margin: 0;
}

#labels li input[type="checkbox"] {
    display: none;
}

#labels li input[type="checkbox"] + label {
    background-color: #E9EEEF;
    border-radius: 5px;
    display: inline-block;
    font-size: 0.8em;
    padding: 0 5px;
    white-space: nowrap;
    cursor: pointer;
    color: #333;
}

@media (max-width: 768px) {
    #labels li {
        display: inline-block;
        margin: 2px 0;
    }
    #labels li input[type="checkbox"] + label {
        font-size: 1.2em;
    }
}

#labels li input[type="checkbox"]:checked + label {
    background-color: #007F7c;
    color: #fff;
}

#addJob textarea[name="notes"] {
    min-height: 180px;
}

#addJob > .row:nth-child(4) > div > div,
#addJob > .row:nth-child(4) > div > div > div {
    padding: 0;
}

#addJob > .row:nth-child(4) > div fieldset label em {
    color: #333;
    font-weight: none;
    text-decoration: underline;
    cursor: pointer;
    font-style: normal;
}

#addJob > .row:last-child > div {
    line-height: 2.2em;
    text-align: right;
}

#addJob button[type=submit] {
    background: none #007F7c;
    border-radius: 5px;
    border: 0;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    height: 2.2em;
    margin-left: 15px;
}

/**
 * Attachments styling
 */
#attachments {
    background-color: #E9EEEF;
    border: 1px dashed #cbcbcb;
    padding: 10px;
    color: #007F7c;
}

#attachments > .loading {
    float: right;
    width: 12px;
    height: 12px;
    position: relative;
    opacity: .4;
    margin: 6px 10px;
}

#attachments > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#attachments > ul > li {
    margin: 6px 3px;
    display: inline-block;
    z-index: 2;
}

#attachments > ul > li > i {
    margin-right: -5px;
}

#attachments > ul > li {
    padding: 2px 5px;
    background-color: #e9eeef;
    font-size: 12px;
    color: #608E96;
    border-width: 1px;
}

#attachments > ul > li,
#attachments > ul > li > i {
    border-color: #cbcbcb;
    border-style: solid;
}

#attachments > ul > li > i {
    cursor: pointer;
    color: #000000;
    padding: 4px 0 4px 5px;
    border-width: 0 0 0 1px;
    margin: -2px 2px;
    line-height: 1.3em;
}


/* Hides <input type="file"> while simulating "Browse" button: */
#attachments .fd-file {
  opacity: 0;
  font-size: 118px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  padding: 0;
  margin: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  font-family: sans-serif;
}

/* Provides visible feedback when use drags a file over the drop zone: */
#attachments.fd-zone.over {
    border-color: #007F7c;
    background: #eee;
}

/* Essential FileDrop zone element configuration: */
#attachments.fd-zone {
  position: relative;
  overflow: hidden;
  margin: 0;
}

/**
 * validation messages 
 */
.LV_validation_message {
    position: absolute;
    font-size: .8em;
    color: #ff5582;
}
#addJob > .row:first-child select + .LV_validation_message {
    margin-top: 35px;
}

/* won't display the footer on addjob */
section#footer {
    display: none;
}
