body {
    margin: 0;
    padding: 0;
}

.budgetTable {
    border: 1px solid #D1CFCF;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    font-family: proxima-nova, sans-serif;
}
.budgetTable th{
    text-align: left;
    
}

.budgetSourceTable {
    border: 1px solid #D1CFCF !important;
}
 
.pages {
    text-align: center;
}

.date {
    width: 105px;
}

.id {
    width: 40px;
}

.giver {
    width: 90px;
}

.amount {
    width: 50px;
}

.for {
    width: 230px;
}

.active {
    width: 45px;
}

#budget-report-export{
    width: 130px;
}

td,
th {
    padding: 3px;
    font-family: proxima-nova,sans-serif;
    font-size: 13 px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaaaaa;
}
table tr:hover{
    background: #ffffdd;
}

.rowodd {
    background-color: #ffffff;
}
.roweven{
    background: url('images/evenrow2.jpg') #ffffff repeat-x top left;
}

table thead tr{
    background: url('images/tbg.jpg') repeat-x bottom left;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#E0E0E0),
        color-stop(0.5, #FFFFFF),
        to(#E0E0E0)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #E0E0E0,
        #FFFFFF,
        #E0E0E0
    );
}

.pages{
    font-family: proxima-nova,sans-serif;
    font-size: 13 px;
}