
#update-budget {
    text-align: left;
}

.budget-source-combo-bonus {
    width: 360px;
} 

#pay-bonus .ui-combobox-list,
#budgetInWorkitem .ui-combobox-list,
#update-budget .ui-combobox-list,
#popupSelectBudget .ui-combobox-list,
#give-budget .ui-combobox-list {
    max-height: 150px;
}

#pay-bonus select[name="budget-source-combo-bonus"] {
    width: 340px;
    margin: 10px;
}

#budgetInWorkitem select[name="budget-source-combo"] {
    width: 340px;
    margin: 10px;
}

#update-budget select[name="budget-source-combo"],
#popupSelectBudget select[name="budget-source-combo"],
#give-budget select[name="budget-source-combo"] {
    width: 340px;
    margin: 10px;
}

#pay-bonus .ui-combobox-list li,
#budgetInWorkitem .ui-combobox-list li,
#update-budget .ui-combobox-list li,
#popupSelectBudget .ui-combobox-list li,
#give-budget .ui-combobox-list li {
    height: 16px;
}

#pay-bonus .ui-icon-carat-1-s,
#budgetInWorkitem .ui-icon-carat-1-s,
#update-budget .ui-icon-carat-1-s,
#popupSelectBudget .ui-icon-carat-1-s,
#give-budget .ui-icon-carat-1-s {
    background-position: -64px 0 !important;
}

#popupSelectBudget .budget-source {
    margin-bottom: 40px;
}

#budget-reason,
#budget-source,
#budget-note {
    width: 95%;
}

#budget-note {
    height: 80px;
}

#budget-source {
    display: none;
}

#budget-source-combo {
    display: none;
}

.budget-source  span{
    margin-top: 6px;
}

.lgivenBudgetArea,
.givenBudgetArea,
.currentBudgetArea {
    margin-bottom: 6px;
}

.redBudget,
.comboListClear.redBudget.ui-state-hover {
    color: red;
}

.comboListID {
    float: left;
    width: 50px;
    text-align: right;
    padding-right: 4px;
}

.comboListTitle {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    width: 218px;
    height: 18px;
}

.comboListAmount {
    float: left;
    width: 60px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}

.comboListClear {
    clear: both;
}