
#update-budget {
    text-align: left;
}

#popupSelectBudget .budget-source {
    margin-top: 6px;
    margin-bottom: 116px;
}

#budget-reason,
#budget-source,
#budget-note {
    width: 98%;
}

#budget-note {
    height: 80px;
}

#popupSelectBudget #confirm_budget,
#popupSelectBudget #cancel_budget {
    float: right;
}

#budget-source {
    display: none;
}

.budget-source  span{
    margin-top: 6px;
}

.lgivenBudgetArea,
.givenBudgetArea,
.currentBudgetArea {
    margin-bottom: 6px;
}

.currentBudgetArea {
    margin-top: 10px;
}

.comboListID {
    float: left;
    width: 50px;
    text-align: right;
    padding-right: 4px;
}

.comboListTitle {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    width: 218px;
    height: 18px;
}

.comboListAmount {
    float: left;
    width: 60px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}

#update-budget .budget-source {
    min-height: 34px;
    max-height: 80px;
    overflow: auto;
}