#entries {
    list-style-type: none;
    padding-left: 45px;
}

#entries li:before {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    content: '';
    display: inline-block;
    margin-left: -40px;
    margin-top: 15px;
    background-color: transparent;
}

#entries li[type="worklist"]:before {
    background-color: transparent;
}
#entries li[type="worklist"] em,
#entries li[type="worklist"] a[href^="./"] {
    color: #999;
}

/* draft status change entries colors */
#entries li[type="worklist"].statusDraft:before {
    background-color: #eddfb4;
}
#entries li[type="worklist"].statusDraft em,
#entries li[type="worklist"].statusDraft a[href^="./"] {
    color: #eddfb4;
}

/* suggested & swb status change entries colors */
#entries li[type="worklist"].statusSuggestion:before {
    background-color: #ffcc66;
}
#entries li[type="worklist"].statusSuggestion em,
#entries li[type="worklist"].statusSuggestion a[href^="./"] {
    color: #ffcc66;
}

/* bidding status change entries colors */
#entries li[type="worklist"].statusBidding:before {
    background-color: #ff9900;
}
#entries li[type="worklist"].statusBidding em,
#entries li[type="worklist"].statusBidding a[href^="./"] {
    color: #ff9900;
}

/* working status change entries colors */
#entries li[type="worklist"].statusInProgress:before {
    background-color: #22bc7a;
}
#entries li[type="worklist"].statusInProgress em,
#entries li[type="worklist"].statusInProgress a[href^="./"] {
    color: #22bc7a;
}

/* functional status change entries colors */
#entries li[type="worklist"].statusQAReady:before {
    background-color: #1c658e;
}
#entries li[type="worklist"].statusQAReady em,
#entries li[type="worklist"].statusQAReady a[href^="./"] {
    color: #1c658e;
}

/* review status change entries colors */
#entries li[type="worklist"].statusCode:before {
    background-color: #ff5582;
}
#entries li[type="worklist"].statusCode em,
#entries li[type="worklist"].statusCode a[href^="./"] {
    color: #ff5582;
}

/* completed status change entries colors */
#entries li[type="worklist"].statusMerged:before {
    background-color: #999999;
}
#entries li[type="worklist"].statusMerged em,
#entries li[type="worklist"].statusMerged a[href^="./"] {
    color: #999999;
}

/* pass status change entries colors */
#entries li[type="worklist"].statusPass:before {
    background-color: #cccccc;
}
#entries li[type="worklist"].statusPass em,
#entries li[type="worklist"].statusPass a[href^="./"] {
    color: #cccccc;
}

/* done status change entries colors */
#entries li[type="worklist"].statusDone:before {
    background-color: #000000;
}
#entries li[type="worklist"].statusDone em,
#entries li[type="worklist"].statusDone a[href^="./"] {
    color: #000000;
}

#entries li[type^="github"]:before {
    background-color: #007f7c;
}
#entries li[type^="github"] em,
#entries li[type^="github"] a[href^="https://github.com/highfidelity/"] {
    color: #007f7c;
}

#entries li {
    margin-top: 20px;
}

#entries li a {
    text-decoration: none;
    font-weight: bold;
}

#entries li > p {
    font-size: 1.1em;
    margin: 0;
}

#entries li em {
    font-style: normal;
    font-weight: bold;
}

#entries li h4 {
    color: #828282;
    font-size: 1em;
    margin: 0;
}
