.favoriteIcon.favorite0 {
    display: none;
}

/**
 * Favorite star inside the mission list
 */
.table-missions .favoriteIcon {
    height: 12px;
    width: 12px;
    vertical-align: middle;
}

.favorite_count.favorited {
    background-position: 132px 0 !important;
}

.favorite_count.favorited:hover {
    background-position: 0 0 !important;
}

.favorite_count.notfavorited:hover {
    background-position: 88px  0 !important;
}

.favorite_user.favorited {
    background-image: url('../images/wl-icons/star-dark.png');
    background-image: url('../images/wl-icons/star-dark.svg');
    background-repeat: no-repeat;
}

.favorite_user.myfavorite {
    background-image: url('../images/wl-icons/star-dark.png');
    background-image: url('../images/wl-icons/star-dark.svg');
    background-repeat: no-repeat;
}

.favorite_user.favorited:hover {
    background-image: url('../images/wl-icons/star-remove.png');
    background-image: url('../images/wl-icons/star-remove.svg');
    background-repeat: no-repeat;
}

.favorite_user.myfavorite:hover {
    background-image: url('../images/wl-icons/star-remove.png');
    background-image: url('../images/wl-icons/star-remove.svg');
    background-repeat: no-repeat;
}

.favorite_user.notfavorited:hover {
    background-image: url('../images/wl-icons/star-add.png');
    background-image: url('../images/wl-icons/star-add.svg');
    background-repeat: no-repeat;
}

.favorite_user.notmyfavorite:hover {
    background-image: url('../images/wl-icons/star-add.png');
    background-image: url('../images/wl-icons/star-add.svg');
    background-repeat: no-repeat;
}

.favorite_user.notmyfavorite {
    background-image: url('../images/wl-icons/star.png');
    background-image: url('../images/wl-icons/star.svg');
    background-repeat: no-repeat;
}

.favorite_user.notfavorited {
    background-image: url('../images/wl-icons/star.png');
    background-image: url('../images/wl-icons/star.svg');
    background-repeat: no-repeat;
}