
body > nav.navbar + .container-fluid {
    font-size: 1.9em;
}

body > nav.navbar + .container-fluid > .row {
    margin: 0 5%;
}

@media (max-width: 1024px) {
    body > nav.navbar + .container-fluid {
        font-size: 1.7em;
    }
}

@media (max-width: 768px) {
    body > nav.navbar + .container-fluid {
        font-size: 1.3em;
    }
}

p {
    margin: 15px 0 30px;
    padding-top: 60px;
}

@media (max-width: 768px) {
    p {
        padding-top: 30px;
    }
}


#github {
    margin: 20px 0;
    background-color: #edebe8;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    #github {
        padding: 5px;
        background: transparent;
    }

}

#github > a {
    background: transparent url(../images/githubmark.png) 20px center no-repeat;
    background-size: 48px 48px;
    display: inline-block;
    margin: 0 auto;
    background-color: #009999;
    color: #edebe8;
    padding: 15px 20px 15px 80px;
    border-radius: 10px;
}