#info-top {
    margin-top: 10px;
    width: 200%;
    float: left;
    margin-left: -100%;
    padding-left: 100%;
}

#info-top .title:before {
    content: '- ';
    color: #333;
}

#commentform {
    background-color: #efefef;
    border-width: 1px;
}

#commentform,
#commentform textarea {
    border-color: #D6D6D6;
    border-style: solid;
    padding-bottom: 10px;
}

#commentform textarea {
    font-size: 13px;
    font-family: proxima-nova, sans-serif;
    border-width: 0 0 1px;
}

#commentform .form-group {
    margin-bottom: 10px;
}

#commentform input[type="submit"] {
    margin-left: 10px;
}


table.table-bids thead tr td,
table.table-fees thead tr td {
    color: #999;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.table-bids h4,
.table-bids h5,
.table-fees h4,
.table-fees h5 {
    display: inline-block;
}

.table-fees .bid-notes p {
    white-space: pre-line;
}

.table-bids h4 + span,
.table-bids h5 + span,
.table-fees h4 + span,
.table-fees h5 + span {
    float: right;
}

.table-bids > caption,
.table-fees > caption {
    text-align: left;
}

.table-fees td.who {
    width: 27%;
}
.table-fees td.fee {
    width: 20%;
}
.table-fees td.what {
    width: 18%;
}
.table-fees td.when {
    width: 20%;
}
.table-fees td.paid {
    width: 15%;
}

/* inline footer */
section#footer {
    max-width: 370px;
    padding: 6px 0 0 35px;
    background-position: center left;
}

section#footer li:first-child:before {
    content : '• ';
}

section#footer p,
section#footer li:nth-child(-n+3) {
    display: inline-block;
}

section#footer li:nth-child(-n+3) {
    display: none;
}