/**
 * Stylesheet for login page
 */

body {
    background-color: #F2F2F2 !important;
}

section#login,
section#signup {
    background-color: #FFFFFF;
    color: #565656;
    margin: auto;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
}

section#login {
    width: 450px;
}

section#signup {
    clear: both;
    padding: 35px 30px;
    width: 390px;
    margin-top: 10px;
}

#login h1 {
    color: #272727;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding: 35px 45px 0 45px;
}

#login .errors {
    padding: 20px 40px;
    margin-top: 10px;
}

#form-login {
    padding: 15px 45px;
}

#form-login .actions {
    margin-bottom: 20px;
    margin-top: 7px;
    height: 52px;
    line-height: 52px;
}

#signup p,
#form-login p {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #666666;
    font-family: Helvetica, Arial, sans-serif;
}

#signup p {
    font-size: 1.7em;
    padding: 4px 0 0 3px;
}

#login a,
#signup a {
    color: #983300;
}
#login .errors {
    background-color: #983300;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
}

#login .error,
#login .error a {
    color: #FFFFFF;
    margin: 0;
}

#login label {
    font-size: 18px;
    color: #666666;
    line-height: 18px;
}

#login input[type=text],
#login input[type=password] {
    border: 1px solid #D1CFCF;
    font-size: 20px;
    clear left;
    padding: 11px 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 330px;
}

#login input[type=submit] {
    background-image: none;
    background-color: #983300;
    border-radius: 5px;
    color: #FFFFFF;
    font: 24px bold proxima-nova, sans-serif;
    height: 2.1em;
    padding: 0 23px;
    width: auto;
    float: left;
    margin-right: 10px;
}

#login button {
    background-color: #983300 !important;
}
/**
 * Responsive
 */
@media only screen and (min-width: 0px) and (max-width: 880px) {
    #footer {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    #login h1 {
        font-size: 20px;
        padding-left: 35px;
    }

    #login label {
        font-size: 16px;
        line-height: 16px;
    }

    section#login {
        width: 300px;
    }

    section#signup {
        width: 240px;
        padding: 20px 30px;
    }

    #login input[type=text],
    #login input[type=password] {
        font-size: 16px;
        width: 200px;
    }

    #login .errors {
        padding: 15px 35px;
    }

    #login p.error {
        font-size: 12px;
    }

    #login input[type=submit] {
        font-size: 20px;
        height: 1.5em;
    }

    #form-login {
        padding: 15px 35px;
    }

    #form-login p.actions {
        height: 30px;
        line-height: 30px;
    }

    #form-login p {
        font-size: 1.0em;
    }

    #signup p {
        font-size: 1.0em;
    }
}

@media screen and (max-width: 320px) {
    section#login {
        width: 300px;
    }

    #login input[type=text],
    #login input[type=password] {
        width: 200px;
    }

    #login input[type=submit] {
        font-size: 16px;
        height: 1.5em;
    }

    #form-login p.actions {
        height: 24px;
        line-height: 24px;
    }
}
