/**
 * override default bootstrap navbar with customs settings
 */

body > nav.navbar {
    border-radius: 0px; /* squared corners */
    background: none rgb(51, 51, 51); /* flat background */
}

/* navbar links borders */
body > nav.navbar ul.nav:first-child li:first-child {
    border-left: 1px solid #515151;
}
body > nav.navbar ul.nav:first-child li {
    border-right: 1px solid #515151;
}

/* links at the right side of the navbar will only have a left-border except for the first one */
body > nav.navbar ul.nav:last-child li:nth-child(n+2) {
    border-left: 1px solid #515151;
}

/* our brand link is actually a logo image */
body > nav.navbar a.navbar-brand {
    display: inline-block;
    width: 120px;
    height: 32px;
    margin-top: 14px;
    text-indent: -9999px;
    background: transparent url(../images/tmp/navbar_logo.png) center center no-repeat;

}

/*navbar links colors and background */
body > nav.navbar-inverse .navbar-nav > .li > a {
    color: #515151;    
}

/* navbar active links bg are too dark for us, let's make them a bit lighter */
body > nav.navbar-inverse .navbar-nav > .open > a, 
body > nav.navbar-inverse .navbar-nav > .open > a:hover, 
body > nav.navbar-inverse .navbar-nav > .open > a:focus,
body > nav.navbar-inverse .navbar-nav > .active > a, 
body > nav.navbar-inverse .navbar-nav > .active > a:hover, 
body > nav.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ddd;
    background-color: #282828;
}

/* iconic links styling */
body > nav.navbar ul.nav:first-child li a {
    display: inline-block;
    padding-top: 35px;
    padding-bottom: 5px;
    width: 80px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 8px;
}

body > nav.navbar ul.nav a[href$="/jobs"] {
    background-image: url(../images/tmp/jobs.png);
}

body > nav.navbar ul.nav a[href$="/projects"] {
    background-image: url(../images/tmp/projects.png);
}

body > nav.navbar ul.nav a[href$="/status"] {
    background-image: url(../images/tmp/status.png);
}

body > nav.navbar ul.nav a[href$="/team"] {
    background-image: url(../images/tmp/team.png);
}

body > nav.navbar ul.nav a[href$="/help"] {
    background-image: url(../images/tmp/help.png);
}

/* default navbar dropdown is thiner than desired height  */
body .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

