/**
 * override default bootstrap navbar with customs settings
 */

body > nav.navbar {
    border-radius: 0px; /* squared corners */
    background: none rgb(51, 51, 51); /* flat background */
}

/* our brand links are actually logo images */
body > nav.navbar a.navbar-brand {
    display: inline-block;
    height: 32px;
    text-indent: -9999px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

body > nav.navbar a.navbar-brand[href="https://highfidelity.io"] {
    width: 60px;
    text-indent: 0;
    padding: 0;
    padding-top: 2px;
    text-align: center;
    margin-left: 0;
}

/*navbar links colors and background */
body > nav.navbar-inverse .navbar-nav > .li > a {
    color: #515151;    
}

/* navbar active links bg are too dark for us, let's make them a bit lighter */
body > nav.navbar-inverse .navbar-nav > .open > a, 
body > nav.navbar-inverse .navbar-nav > .open > a:hover, 
body > nav.navbar-inverse .navbar-nav > .open > a:focus,
body > nav.navbar-inverse .navbar-nav > .active > a, 
body > nav.navbar-inverse .navbar-nav > .active > a:hover, 
body > nav.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ddd;
    background-color: #282828;
}

@media (min-width: 768px) {
    /* navbar links borders */
    body > nav.navbar ul.nav:first-child li:first-child {
        border-left: 1px solid #515151;
    }
    body > nav.navbar ul.nav:first-child li {
        border-right: 1px solid #515151;
    }

    /* links at the right side of the navbar will only have a left-border except for the first one */
    body > nav.navbar ul.nav:last-child > li:nth-child(n+2) {
        border-left: 1px solid #515151;
    }

    /* iconic links styling */
    body > nav.navbar ul.nav:first-child li a {
        display: inline-block;
        padding-top: 35px;
        padding-bottom: 5px;
        width: 80px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center 8px;
    }

     body > nav.navbar ul.nav a[href$="/jobs"] {
        background-position-y: 9px !important;
    }

    body > nav.navbar ul.nav a[href$="/projects"] {
        background-position-y: 10px !important;
    }

    body > nav.navbar ul.nav a[href$="/status"] {
        background-position-y: 9px !important;
    }

    body > nav.navbar ul.nav a[href$="/team"] {
        background-position-y: 12px !important;
    }

    body > nav.navbar ul.nav a[href$="/help"] {
        background-position-y: 6px !important;
    }

    /* default navbar dropdown is thiner than desired height  */
    body .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
