body {
  font-family: proxima-nova, sans-serif;
  position: relative; /* Fix bootstrap flicker bug */
}

/* fluid container will only do its part on smaller sizes, desktop screens should see a single fixed-width column */
@media (min-width: 960px) {
    body > .container-fluid {
        max-width: 920px;
    }
}

/* let's set some margins on the main container for smaller sizes */
@media (max-width: 960px) {
    body > .container-fluid {
        margin: 10px 10%;
    }
}

@media (max-width: 768px) {
    body > .container-fluid {
        margin: 10px 5px;
        min-width: 310px;
        overflow: hidden;
    }

    .navbar-nav {
        font-size: 14px;
    }
}

/* global links styling */
a {
    color: #333333;    
}
a:hover {
    color: #009999;
}
a:active {
    color: #007F7C;
}

/* navigation bar shadow */
nav.navbar {
    box-shadow: 0 0px 6px #333;
}

/* navigation log in link color */
nav.navbar .navbar-right > li > a[href="./github/login"] {
    color: #fff;
    font-size: 1.4em;
}


/* loading bar */
body.onAjax nav.navbar > .container-fluid:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #007F7c;
    animation: moveLoadingBar 3s ease-in-out infinite;
    -o-animation: moveLoadingBar 3s ease-in-out infinite;
    -moz-animation: moveLoadingBar 3s ease-in-out infinite;
    -webkit-animation: moveLoadingBar 3s ease-in-out infinite;
    background: -moz-linear-gradient(left,  rgba(0,127,124,0) 0%, rgba(0,127,124,1) 25%, rgba(0,127,124,1) 50%, rgba(0,127,124,1) 75%, rgba(0,127,124,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,127,124,0)), color-stop(25%,rgba(0,127,124,1)), color-stop(50%,rgba(0,127,124,1)), color-stop(75%,rgba(0,127,124,1)), color-stop(100%,rgba(0,127,124,0)));
    background: -webkit-linear-gradient(left,  rgba(0,127,124,0) 0%,rgba(0,127,124,1) 25%,rgba(0,127,124,1) 50%,rgba(0,127,124,1) 75%,rgba(0,127,124,0) 100%);
    background: -o-linear-gradient(left,  rgba(0,127,124,0) 0%,rgba(0,127,124,1) 25%,rgba(0,127,124,1) 50%,rgba(0,127,124,1) 75%,rgba(0,127,124,0) 100%);
    background: -ms-linear-gradient(left,  rgba(0,127,124,0) 0%,rgba(0,127,124,1) 25%,rgba(0,127,124,1) 50%,rgba(0,127,124,1) 75%,rgba(0,127,124,0) 100%);
    background: linear-gradient(to right,  rgba(0,127,124,0) 0%,rgba(0,127,124,1) 25%,rgba(0,127,124,1) 50%,rgba(0,127,124,1) 75%,rgba(0,127,124,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00007f7c', endColorstr='#00007f7c',GradientType=1 );
}

@keyframes moveLoadingBar { 
    0% {
        left: 0%;
        width: 0%;
    }
    50% {
        left: 0%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

@-o-keyframes moveLoadingBar { 
    0% {
        left: 0%;
        width: 0%;
    }
    50% {
        left: 0%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

@-webkit-keyframes moveLoadingBar { 
    0% {
        left: 0%;
        width: 0%;
    }
    50% {
        left: 0%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

@-moz-keyframes moveLoadingBar { 
    0% {
        left: 0%;
        width: 0%;
    }
    50% {
        left: 0%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

/*
 * Form controls styling
 */
.form-control {
    border-radius: 0;
    color: #007F7c;
}

.form-control:focus {
    border-color: #007F7c;
    box-shadow: none;
}

input[type="button"],
input[type="submit"] {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin: 0 2px;
    margin-top: 5px;
    font-size: .9em;
}

input[type="button"],
input[type="submit"],
input.btn-primary,
button.btn-primary {
    background-color: #608e96;
    border-color: #608e96;
}

input[type="button"]:focus,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="submit"]:hover,
input.btn-primary:hover,
button.btn-primary:hover {
    background-color: #007F7c;
    border-color: #007F7c;
}

label[for] {
    cursor: pointer;
}

input.wlcheckbox[type="checkbox"] {
    opacity: 0;
    position: absolute;
}
input.wlcheckbox[type="checkbox"] + label {
    line-height: 2.2em;
    padding-left: 40px;
    font-weight: normal;
}
@media (max-width: 768px) {
    input.wlcheckbox[type="checkbox"] + label {
        line-height: 3em
    }
}
input.wlcheckbox[type="checkbox"] + label:before {
    content: '\00a0';
    width: 23px;
    line-height: 1em;
    border-radius: 5px;    
    font-family: FontAwesome;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 8px 5px 0 -35px;
    color: #999;
    font-size: 1.3em;
    padding: 2px;
    background-color: #fff;
}
input.wlcheckbox[type="checkbox"]:focus + label:before {
    border-color: #007F7c;
}
input.wlcheckbox[type="checkbox"]:checked + label:before {
    content: '\f00c';
}

form .row {
    margin-bottom: 15px;
}

/**
 * chosen dropdown common styling 
 */
body .chosen-container-single .chosen-single,
body .chosen-container-multi .chosen-choices {
    border-radius: 0px;
    height: 35px !important;
}

body .chosen-container-single .chosen-search input[type=text] {
    margin: 0;
    border-right: 0px;
    border-left: 0px;
    line-height: 1.9em;
    height: 40px;
    position: inherit;
    background: 0 none;
}

body .chosen-container-single.chosen-container-active.chosen-with-drop .chosen-single,
body .chosen-container-multi.chosen-container-active.chosen-with-drop .chosen-choices,
body .chosen-container .chosen-drop,
body .chosen-container-single .chosen-search input[type=text] {
    border-color: #e0e0e0;
}

body .chosen-container-multi .chosen-choices,
body .chosen-container-single .chosen-single,
body .chosen-container-single .chosen-search input[type=text] {
    background-color: #ffffff;
}

body .chosen-container-single .chosen-single,
body .chosen-container-multi .chosen-choices,
body .chosen-container-single .chosen-search input[type=text],
body .chosen-container-single .chosen-drop {
    box-shadow: none;
}

body .chosen-container-single .chosen-drop {
    border-radius: 0;
}

body .chosen-container-single .chosen-search {
    padding: 0;
    position: relative;
}

body .chosen-container-single .chosen-search:before {
    font-family: FontAwesome;
    content: "\f002";
    display: inline-block;
    font-size: 1em;
    box-sizing: border-box;
    color: #007F7c;
    margin-top: 11px;
    margin-right: 10px;
    float: right;
}


body .chosen-container-single .chosen-single, 
body .chosen-container-single .chosen-search input[type="text"] {
    background: none repeat scroll 0% 0% transparent;
}

body .chosen-container-single .chosen-single > span:first-child,
body .chosen-container-multi .chosen-choices .search-field > input.default {
    color: #007F7c;
    font-weight: bold;
    line-height: 28px;
}

body .chosen-container-single .chosen-single div {
    width: 30px;
    padding: 3px 0 0;
}

@media (max-width: 1024px) {
    body .chosen-container-single .chosen-single div {
        width: 28px;
    }
}

body .chosen-container-single .chosen-single div b {
    background: none transparent;
}

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-resolution:144dpi) {
    .chosen-rtl .chosen-search input[type=text],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type=text],
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
        background-image: none !important;
    }
}

body .chosen-container-single .chosen-single div b:before,
body .chosen-container-multi .chosen-choices:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    font-size: 1em;
    box-sizing: border-box;
    color: #666;
    border-left: 1px solid #ccc;
}
body .chosen-container-single .chosen-single div b:before {
    padding: 1px 8px 2px;
}

body .chosen-container-multi .chosen-choices:before {
    padding: 3px 7px 4px 8px;
    float: right;
    font-weight: bold;
}
@media (max-width: 1024px) {
    body .chosen-container-multi .chosen-choices:before {
        padding: 6px 7px 6px 8px;
    }    
}

body .chosen-container-multi.chosen-with-drop .chosen-choices:before,
body .chosen-container-single.chosen-with-drop .chosen-single div b:before {
    content: "\f077";    
}

body .chosen-container-single .chosen-single,
body .chosen-container-multi .chosen-choices {
    padding: 3px 0px 3px 10px;
    border: 0 none;
}

body .chosen-container-single .chosen-single,
body .chosen-container-multi .chosen-choices,
body .chosen-container-single.chosen-with-drop .chosen-single,
body .chosen-container-multi.chosen-with-drop .chosen-choices {
    background: none #fff;
}

body .chosen-container-multi .chosen-choices li.search-choice {
    margin: 3px 1px;
    font-size: .7em;
    background: none #fff;
    border-radius: 0;
    border-color: #007F7c;
    padding: 4px 20px 2px 5px;
}


body .chosen-container-multi .chosen-choices li.search-field {
    margin: 3px 1px;
}

body .chosen-container-multi .chosen-choices .search-field input.default {
    height: 23px;
    line-height: 1.3em;
}

body .chosen-container .chosen-results {
    overflow-y: hidden;
    margin: 0;
    padding: 0 10px;
}

body .chosen-container .chosen-results li {
    margin: 0 0 0 -5px;
    line-height: 1.2em;
}

body .chosen-container .chosen-results li.highlighted {
    background: none #007F7c;
}

body .chosen-container-single .chosen-single,
body .chosen-container-multi .chosen-choices {
    border: 1px solid #ccc;
}

body .chosen-container-multi.chosen-container-active .chosen-choices,
body .chosen-container-single.chosen-container-active .chosen-single {
    border-color: #007F7c;
}

/**
 * Jumbotron messages
 */
body .jumbotron {
    padding-top: 5px;
    padding-bottom: 15px;
}

body .jumbotron p {
    font-size: 1.2em;
}

body .jumbotron a {
    color: #007F7C;
}
body .jumbotron a:hover {
    color: #009999;
}
body .jumbotron a:active {
    color: #333333;    
}

button:focus, a:focus {
    outline: none;
}

@media only screen and (max-width: 450px) {
    #footer {
        display: none;
    }
}

/* Navbar styles for responsiveness */
.navbar .dropdown-menu {
    box-shadow: -1px 3px 10px rgba(0,0,0,.75);
    border-color: black;
    background-clip: border-box;
}

.navbar .dropdown-menu > li > a {
    padding: 3px 20px 3px 0px;
    color: #999;
}

.navbar .dropdown-menu-icon {
    width: 32px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}

.navbar .navbar-nav > li > .dropdown-menu{
    background-color: #333;
}

.navbar .dropdown-menu .divider {
    background-color: #000;
}

.navbar > .container-fluid,
.navbar-collapse > ul.navbar-nav,
.navbar-collapse > ul.navbar-nav > li.dropdown
{
    padding: 0;
}

.navbar-nav.navbar-right{
    max-width: 170px;
}

.navbar {
    margin-bottom: 0;
}

.container > .navbar-header, 
.container-fluid > .navbar-header, 
.container > .navbar-collapse, 
.container-fluid > .navbar-collapse {
    margin: 0;
}

.navbar-inverse .navbar-collapse {
    overflow: auto;
    max-height: 224px;
}

body > nav.navbar a.navbar-brand {
    margin-left: 0;
    margin-top: 14px;
}

body > nav.navbar a.navbar-brand.wl-icon-worklist {
    margin-left: -15px;
    width: 80px
}

.dropdown > .dropdown-toggle {
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .dropdown > .dropdown-toggle {
        text-align: left;
    }
    
    .navbar-nav.navbar-right {
        max-width: none;
    }
    
    body > nav.navbar a.navbar-brand {
        margin-top: 9px;
    }
    
    body > nav.navbar a.navbar-brand.wl-icon-worklist {
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 125px);
    }
    
    .nav.navbar-nav a {
        background: none;
    }
}

.navbar.affix, 
.navbar.affix-bottom {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

/* Worklist Icons Classes */
.wl-icon-arrow-down,
.wl-icon-arrow-down\:regular {
    background-image: url('../images/wl-icons/arrow-down.png');
    background-image: url('../images/wl-icons/arrow-down.svg');
    background-repeat: no-repeat;
}

.wl-icon-arrow-down-dims {
    width: 20px;
    height: 13px;
}

.wl-icon-arrow-up,
.wl-icon-arrow-up\:regular {
    background-image: url('../images/wl-icons/arrow-up.png');
    background-image: url('../images/wl-icons/arrow-up.svg');
    background-repeat: no-repeat;
}

.wl-icon-arrow-up-dims {
    width: 25px;
    height: 18px;
}

.wl-icon-attach-black,
.wl-icon-attach-black\:regular {
    background-image: url('../images/wl-icons/attach-black.png');
    background-image: url('../images/wl-icons/attach-black.svg');
    background-repeat: no-repeat;
}

.wl-icon-attach-black-dims {
    width: 30px;
    height: 23px;
}

.wl-icon-attach,
.wl-icon-attach\:regular {
    background-image: url('../images/wl-icons/attach.png');
    background-image: url('../images/wl-icons/attach.svg');
    background-repeat: no-repeat;
}

.wl-icon-attach-dims {
    width: 19px;
    height: 15px;
}

.wl-icon-bar,
.wl-icon-bar\:regular {
    background-image: url('../images/wl-icons/bar.png');
    background-image: url('../images/wl-icons/bar.svg');
    background-repeat: no-repeat;
}

.wl-icon-bar-dims {
    width: 121px;
    height: 7px;
}

.wl-icon-chat,
.wl-icon-chat\:regular {
    background-image: url('../images/wl-icons/chat.png');
    background-image: url('../images/wl-icons/chat.svg');
    background-repeat: no-repeat;
}

.wl-icon-chat-dims {
    width: 20px;
    height: 20px;
}

.wl-icon-close,
.wl-icon-close\:regular {
    background-image: url('../images/wl-icons/close.png');
    background-image: url('../images/wl-icons/close.svg');
    background-repeat: no-repeat;
}

.wl-icon-close-dims {
    width: 18px;
    height: 18px;
}

.wl-icon-comments-dark,
.wl-icon-comments-dark\:regular {
    background-image: url('../images/wl-icons/comments-dark.png');
    background-image: url('../images/wl-icons/comments-dark.svg');
    background-repeat: no-repeat;
}

.wl-icon-comments-dark-dims {
    width: 29px;
    height: 21px;
}

.wl-icon-comments,
.wl-icon-comments\:regular {
    background-image: url('../images/wl-icons/comments.png');
    background-image: url('../images/wl-icons/comments.svg');
    background-repeat: no-repeat;
}

.wl-icon-comments-dims {
    width: 19px;
    height: 14px;
}

.wl-icon-dialog,
.wl-icon-dialog\:regular {
    background-image: url('../images/wl-icons/dialog.png');
    background-image: url('../images/wl-icons/dialog.svg');
    background-repeat: no-repeat;
}

.wl-icon-dialog-dims {
    width: 45px;
    height: 36px;
}

.wl-icon-document-color,
.wl-icon-document-color\:regular {
    background-image: url('../images/wl-icons/document-color.png');
    background-image: url('../images/wl-icons/document-color.svg');
    background-repeat: no-repeat;
}

.wl-icon-document-color-dims {
    width: 32px;
    height: 41px;
}

.wl-icon-document,
.wl-icon-document\:regular {
    background-image: url('../images/wl-icons/document.png');
    background-image: url('../images/wl-icons/document.svg');
    background-repeat: no-repeat;
}

.wl-icon-document-dims {
    width: 30px;
    height: 39px;
}

.wl-icon-dollar-gray,
.wl-icon-dollar-gray\:regular {
    background-image: url('../images/wl-icons/dollar-gray.png');
    background-image: url('../images/wl-icons/dollar-gray.svg');
    background-repeat: no-repeat;
}

.wl-icon-dollar-gray-dims {
    width: 19px;
    height: 26px;
}

.wl-icon-dollar,
.wl-icon-dollar\:regular {
    background-image: url('../images/wl-icons/dollar.png');
    background-image: url('../images/wl-icons/dollar.svg');
    background-repeat: no-repeat;
}

.wl-icon-dollar-dims {
    width: 12px;
    height: 18px;
}

.wl-icon-edit,
.wl-icon-edit\:regular {
    background-image: url('../images/wl-icons/edit.png');
    background-image: url('../images/wl-icons/edit.svg');
    background-repeat: no-repeat;
}

.wl-icon-edit:hover,
.wl-icon-edit\:hover {
    background-image: url('../images/wl-icons/edit~hover.png');
    background-image: url('../images/wl-icons/edit~hover.svg');
    background-repeat: no-repeat;
}

.wl-icon-edit:after {
    background-image: url('../images/wl-icons/edit~hover.png');
    background-image: url('../images/wl-icons/edit~hover.svg');
    display: none;
}

.wl-icon-edit-dims {
    width: 14px;
    height: 14px;
}

.wl-icon-edit-dims:hover,
.wl-icon-edit\:hover-dims {
    width: 14px;
    height: 14px;
}

.wl-icon-engine-black,
.wl-icon-engine-black\:regular {
    background-image: url('../images/wl-icons/engine-black.png');
    background-image: url('../images/wl-icons/engine-black.svg');
    background-repeat: no-repeat;
}

.wl-icon-engine-black-dims {
    width: 24px;
    height: 24px;
}

.wl-icon-engine-dark,
.wl-icon-engine-dark\:regular {
    background-image: url('../images/wl-icons/engine-dark.png');
    background-image: url('../images/wl-icons/engine-dark.svg');
    background-repeat: no-repeat;
}

.wl-icon-engine-dark-dims {
    width: 24px;
    height: 24px;
}

.wl-icon-engine-light,
.wl-icon-engine-light\:regular {
    background-image: url('../images/wl-icons/engine-light.png');
    background-image: url('../images/wl-icons/engine-light.svg');
    background-repeat: no-repeat;
}

.wl-icon-engine-light-dims {
    width: 24px;
    height: 24px;
}

.wl-icon-exit,
.wl-icon-exit\:regular {
    background-image: url('../images/wl-icons/exit.png');
    background-image: url('../images/wl-icons/exit.svg');
    background-repeat: no-repeat;
}

.wl-icon-exit-dims {
    width: 16px;
    height: 26px;
}

.wl-icon-follow,
.wl-icon-follow\:regular {
    background-image: url('../images/wl-icons/follow.png');
    background-image: url('../images/wl-icons/follow.svg');
    background-repeat: no-repeat;
}

.wl-icon-follow:hover,
.wl-icon-follow\:hover {
    background-image: url('../images/wl-icons/follow~hover.png');
    background-image: url('../images/wl-icons/follow~hover.svg');
    background-repeat: no-repeat;
}
.wl-icon-follow:after {
    background-image: url('../images/wl-icons/follow~hover.png');
    background-image: url('../images/wl-icons/follow~hover.svg');
    display: none;
}

.wl-icon-follow-dims {
    width: 24px;
    height: 14px;
}

.wl-icon-follow-dims:hover,
.wl-icon-follow\:hover-dims {
    width: 24px;
    height: 14px;
}

.wl-icon-github,
.wl-icon-github\:regular {
    background-image: url('../images/wl-icons/github.png');
    background-image: url('../images/wl-icons/github.svg');
    background-repeat: no-repeat;
}

.wl-icon-github-dims {
    width: 42px;
    height: 32px;
}

.wl-icon-help,
.wl-icon-help\:regular {
    background-image: url('../images/wl-icons/help.png');
    background-image: url('../images/wl-icons/help.svg');
    background-repeat: no-repeat;
}

.wl-icon-help-dims {
    width: 27px;
    height: 28px;
}

.wl-icon-hifi-black,
.wl-icon-hifi-black\:regular {
    background-image: url('../images/wl-icons/hifi-black.png');
    background-image: url('../images/wl-icons/hifi-black.svg');
    background-repeat: no-repeat;
}

.wl-icon-hifi-black-dims {
    width: 29px;
    height: 29px;
}

.wl-icon-hifi,
.wl-icon-hifi\:regular {
    background-image: url('../images/wl-icons/hifi.png');
    background-image: url('../images/wl-icons/hifi.svg');
    background-repeat: no-repeat;
}

.wl-icon-hifi:hover,
.wl-icon-hifi\:hover {
    background-image: url('../images/wl-icons/hifi~hover.png');
    background-image: url('../images/wl-icons/hifi~hover.svg');
    background-repeat: no-repeat;
}

.wl-icon-hifi:after{
    background-image: url('../images/wl-icons/hifi~hover.png');
    background-image: url('../images/wl-icons/hifi~hover.svg');
    display: none;
}

.wl-icon-hifi-dims {
    width: 29px;
    height: 29px;
}

.wl-icon-hifi-dims:hover,
.wl-icon-hifi\:hover-dims {
    width: 29px;
    height: 29px;
}

.wl-icon-invite,
.wl-icon-invite\:regular {
    background-image: url('../images/wl-icons/invite.png');
    background-image: url('../images/wl-icons/invite.svg');
    background-repeat: no-repeat;
}

.wl-icon-invite:hover,
.wl-icon-invite\:hover {
    background-image: url('../images/wl-icons/invite~hover.png');
    background-image: url('../images/wl-icons/invite~hover.svg');
    background-repeat: no-repeat;
}

.wl-icon-invite:after {
    background-image: url('../images/wl-icons/invite~hover.png');
    background-image: url('../images/wl-icons/invite~hover.svg');
    display: none;
}

.wl-icon-invite-dims {
    width: 17px;
    height: 14px;
}

.wl-icon-invite-dims:hover,
.wl-icon-invite\:hover-dims {
    width: 17px;
    height: 14px;
}

.wl-icon-jobs,
.wl-icon-jobs\:regular {
    background-image: url('../images/wl-icons/jobs.png');
    background-image: url('../images/wl-icons/jobs.svg');
    background-repeat: no-repeat;
}

.wl-icon-jobs-dims {
    width: 26px;
    height: 26px;
}

.wl-icon-no-dialog,
.wl-icon-no-dialog\:regular {
    background-image: url('../images/wl-icons/no-dialog.png');
    background-image: url('../images/wl-icons/no-dialog.svg');
    background-repeat: no-repeat;
}

.wl-icon-no-dialog-dims {
    width: 29px;
    height: 21px;
}

.wl-icon-projects,
.wl-icon-projects\:regular {
    background-image: url('../images/wl-icons/projects.png');
    background-image: url('../images/wl-icons/projects.svg');
    background-repeat: no-repeat;
}

.wl-icon-projects-dims {
    width: 26px;
    height: 22px;
}

.wl-icon-remove,
.wl-icon-remove\:regular {
    background-image: url('../images/wl-icons/remove.png');
    background-image: url('../images/wl-icons/remove.svg');
    background-repeat: no-repeat;
}

.wl-icon-remove:hover,
.wl-icon-remove\:hover {
    background-image: url('../images/wl-icons/remove~hover.png');
    background-image: url('../images/wl-icons/remove~hover.svg');
    background-repeat: no-repeat;
}
.wl-icon-remove:after {
    background-image: url('../images/wl-icons/remove~hover.png');
    background-image: url('../images/wl-icons/remove~hover.svg');
    display: none;
}

.wl-icon-remove-dims {
    width: 18px;
    height: 18px;
}

.wl-icon-remove-dims:hover,
.wl-icon-remove\:hover-dims {
    width: 18px;
    height: 18px;
}

.wl-icon-search,
.wl-icon-search\:regular {
    background-image: url('../images/wl-icons/search.png');
    background-image: url('../images/wl-icons/search.svg');
    background-repeat: no-repeat;
}

.wl-icon-search-dims {
    width: 18px;
    height: 18px;
}

.wl-icon-star,
.wl-icon-star\:regular {
    background-image: url('../images/wl-icons/star.png');
    background-image: url('../images/wl-icons/star.svg');
    background-repeat: no-repeat;
}

.wl-icon-star-dims {
    width: 22px;
    height: 22px;
}

.wl-icon-status,
.wl-icon-status\:regular {
    background-image: url('../images/wl-icons/status.png');
    background-image: url('../images/wl-icons/status.svg');
    background-repeat: no-repeat;
}

.wl-icon-status-dims {
    width: 24px;
    height: 24px;
}

.wl-icon-t-dark,
.wl-icon-t-dark\:regular {
    background-image: url('../images/wl-icons/t-dark.png');
    background-image: url('../images/wl-icons/t-dark.svg');
    background-repeat: no-repeat;
}

.wl-icon-t-dark-dims {
    width: 21px;
    height: 20px;
}

.wl-icon-t-light,
.wl-icon-t-light\:regular {
    background-image: url('../images/wl-icons/t-light.png');
    background-image: url('../images/wl-icons/t-light.svg');
    background-repeat: no-repeat;
}

.wl-icon-t-light-dims {
    width: 21px;
    height: 20px;
}

.wl-icon-team,
.wl-icon-team\:regular {
    background-image: url('../images/wl-icons/team.png');
    background-image: url('../images/wl-icons/team.svg');
    background-repeat: no-repeat;
}

.wl-icon-team-dims {
    width: 31px;
    height: 19px;
}

.wl-icon-tweet,
.wl-icon-tweet\:regular {
    background-image: url('../images/wl-icons/tweet.png');
    background-image: url('../images/wl-icons/tweet.svg');
    background-repeat: no-repeat;
}

.wl-icon-tweet-dims {
    width: 10px;
    height: 13px;
}

.wl-icon-worklist,
.wl-icon-worklist\:regular {
    background-image: url('../images/wl-icons/worklist.png');
    background-image: url('../images/wl-icons/worklist.svg');
    background-repeat: no-repeat;
}

.wl-icon-worklist-dims {
    width: 46px;
    height: 26px;
}

/* Chosen plugin SVG icons */
.chosen-container-single .chosen-single abbr {
    background: url('chosen/chosen-sprite.svg') -42px 1px no-repeat;
}

.chosen-container-single .chosen-single div b {
    background: url('chosen/chosen-sprite.svg') no-repeat 0 2px;
}

.chosen-container-single .chosen-search input[type=text] {
    background: #fff url('chosen/chosen-sprite.svg') no-repeat 100% -20px;
    background: url('chosen/chosen-sprite.svg') no-repeat 100% -20px,-webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));
    background: url('chosen/chosen-sprite.svg') no-repeat 100% -20px,-webkit-linear-gradient(#eee 1%,#fff 15%);
    background: url('chosen/chosen-sprite.svg') no-repeat 100% -20px,-moz-linear-gradient(#eee 1%,#fff 15%);
    background: url('chosen/chosen-sprite.svg') no-repeat 100% -20px,-o-linear-gradient(#eee 1%,#fff 15%);
    background: url('chosen/chosen-sprite.svg') no-repeat 100% -20px,linear-gradient(#eee 1%,#fff 15%);
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: url('chosen/chosen-sprite.svg') -42px 1px no-repeat;
}

.chosen-rtl .chosen-search input[type=text] {
    background: #fff url('chosen/chosen-sprite.svg') no-repeat -30px -20px;
    background: url('chosen/chosen-sprite.svg') no-repeat -30px -20px,-webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));
    background: url('chosen/chosen-sprite.svg') no-repeat -30px -20px,-webkit-linear-gradient(#eee 1%,#fff 15%);
    background: url('chosen/chosen-sprite.svg') no-repeat -30px -20px,-moz-linear-gradient(#eee 1%,#fff 15%);
    background: url('chosen/chosen-sprite.svg') no-repeat -30px -20px,-o-linear-gradient(#eee 1%,#fff 15%);
    background: url('chosen/chosen-sprite.svg') no-repeat -30px -20px,linear-gradient(#eee 1%,#fff 15%);
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-resolution:144dpi) { 
    .chosen-rtl .chosen-search input[type=text],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type=text],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
        background-image: url('chosen/chosen-sprite.svg')!important;
        background-size: 52px 37px!important;
        background-repeat: no-repeat!important;
    }
}

.modal-footer .btn-group button > span:first-child:not(.caret) {
    display: inline-block;    
    vertical-align: middle;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
}

.modal-footer .btn-group button > span:first-child:not(.caret):after {
    content: '\00a0';
    width: 30px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 100%) transparent;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)))  transparent;
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%) transparent;
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%) transparent;
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%) transparent;
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%) transparent;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
}