body {
  font-family: proxima-nova, sans-serif;
  padding-top: 61px; /* Move down content because of the fixed top navbar */
}

/* fluid container will only do its part on smaller sizes, desktop screens should see a single fixed-width column */
@media (min-width: 960px) {
    body > .container-fluid {
        max-width: 920px;
    }
}

/* let's set some margins on the main container for smaller sizes */
@media (max-width: 960px) {
    body > .container-fluid {
        margin: 10px 10%;
    }
}

/* multiline-centered footer with logo by default */
section#footer {
    max-width: 400px;
    padding: 35px 0 0 0;
    background-position: top center;
}

/* no styling on the first item from the links list */
section#footer li:first-child:before {
    content : '';
}

/* reverting footer paragraph as block */
section#footer p {
    display: block;
}

/* displaying first 3 links on this layout's footer (hidden on footer.css) */
section#footer li:nth-child(-n+3) {
    display: inline-block;
}

/** legacy css copied from common.css, still needed in order to hide dialogs **/
#wFees,
#feesToolTip,
.popup-body {
    display: none;
}

#stats-area {
    color: #98AAB2;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    text-align: right;
}

#stats-text {
    display: none;
}

#stats-area a {
    cursor: hand;
}

#nav a,
#welcome a,
#stats-area a {
    color: #6f6f6f;
    text-decoration: none;
}

