/**
 * Privacy styling
 *
 * @todo: All these styling rules were copied from help.css, please review 
 *        and either remove unnecesary rules or create a new layout
 *        that includes common rules for this kind of views
 */

body {
    background-color: #dde4e6;
}

body > nav.navbar + .container-fluid {
    background-color: #fff;
    -moz-box-shadow: 0px 0 8px #666;
    -webkit-box-shadow: 0px 0 8px #666;
    box-shadow: 0px 0 8px #666;
    padding: 10px 0 40px;
}

body > nav.navbar + .container-fluid > h2,
body > nav.navbar + .container-fluid > h3,
body > nav.navbar + .container-fluid > h4,
body > nav.navbar + .container-fluid > p {
    padding: 15px 8% 0;
}

body > nav.navbar + .container-fluid > h4 + p {
    padding-top: 0;
}

body > nav.navbar + .container-fluid > ul {
    padding: 3px 10% 0;
}

h2 {
    color: #007f7c;
    font-size: 4.5em;
    font-weight: bold;
    border-bottom: 1px solid #dde4e6;
}

h3 {
    color: #009b9b;
}

body > nav.navbar + .container-fluid > h3 + ul li > a,
body > nav.navbar + .container-fluid > h4 a,
body > nav.navbar + .container-fluid > h4 a[name]:hover,
body > nav.navbar + .container-fluid > h4 a[name]:active {
    color: #000;
    text-decoration: none;
}

h4 a[name]:hover,
h4 a[name]:active {
    cursor: default;
}

body > nav.navbar + .container-fluid > p + p {
    padding-top: 0;
}
