.userReview {
    width:98%;
    height:100%;
}

#reviewDialog .content {
    width:100%;
    height:100%;
}

.reviewsList {
    clear:both;
    margin:4px;
    height: 220px;
    overflow-y:auto;
}

.listReviewElement .feeRange {
    margin:2px;
    float:left;
    width:9%;
    font-weight:bold;
    text-align: right;
}

.listReviewElement .reviewText {
    width:86%;
    margin:2px;
    float:left;
}

.listReviewElement {
    clear:both;
}

.myReview {
    color:black;
}
.reviewTitle {
    font-weight:bold;
    padding-left: 44px;
    width:60%;
    float:left;
}
.reviewAddLink {
    float:right;
    font-size:10px;
}
.reviewEditLink {
    float:right;
    font-size:10px;
    display:none;
}
.noReview {
    padding:6px;
}

.reviewTrustArea {
    margin-bottom: 6px;
}

.reviewTrustArea .profileInfoFavorite {
    position: inherit;
}