#account-info, #personal-info, #payment-info {
    border: 1px solid black;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 8px;
    margin-bottom: 6px;
    margin-left: 32px;
    margin-right: 32px;
}

#account-info table {
    border: none;
}
#account-info tr:hover {
    background: inherit;
}
#account-info td {
    border: none;
    padding: 0px;
}

#w9-dialog #first_name,
#w9-dialog #last_name {
    width: 176px;
}

div.uploadnotice-w9 div {
    padding: 0.7em; 
    margin: 0.7em 0;
    display: block;
}

#w9-dialog>div {
    margin-bottom: 10px;
}

#account-info {
    background: #FFF url(../images/lm_gradient1.jpg) no-repeat top center;
    margin-top: 24px;
}

#personal-info {
    background: #FFF url(../images/lm_gradient2.jpg) no-repeat top center;
}

#payment-info {
    background: #FFF url(../images/lm_gradient3.jpg) no-repeat top center;
}

#account-info h2, #personal-info h2, #payment-info h2 {
    color: #000;
    margin-top: 8px;
}

#formHolder{
    position: relative;
    width: 780px;
}
#formRight{
    width: 120px;
    position: absolute;
    right: 10px;
    top: 0;
}

#smsOptions,
#emailOptions {
    border: 1px solid #666666;
    padding: 10px;
    overflow: hidden;
}

#smsOptions .floatLeft,
#emailOptions .floatLeft {
    padding: 3px 10px;
}

.floatLeft {
    float: left;
}

#profilepicture {
    border: 2px solid rgb(209, 207, 207);
    padding: 10px;
    width: 100px;
    height: 100px;
}

#phone_prefix {
    display: inline-block;
    text-align: right;
    width: 35px;
    font-weight: bold;
}

#phone_wrapper {
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 7px 7px 4px 7px;
    margin: 0 2px;
}

#phone_wrapper.active {
    border: 2px solid rgb(209, 207, 207);
    padding: 5px 5px 2px 5px;
}

#phone_wrapper .LV_validation_message {
    display: none;
}
