#account-info, #personal-info, #payment-info {
    border: 1px solid black;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 8px;
    margin-bottom: 6px;
    margin-left: 32px;
    margin-right: 32px;
}

#account-info table {
    border: none;
}
#account-info tr:hover {
    background: inherit;
}
#account-info td {
    border: none;
    padding: 0px;
}



#account-info {
    background: #FFF url(../images/lm_gradient1.jpg) no-repeat top center;
    margin-top: 24px;
}

#personal-info {
    background: #FFF url(../images/lm_gradient2.jpg) no-repeat top center;
}

#payment-info {
    background: #FFF url(../images/lm_gradient3.jpg) no-repeat top center;
}

#account-info h2, #personal-info h2, #payment-info h2 {
    color: #000;
    margin-top: 8px;
}

#formHolder{
    position: relative;
    width: 780px;
}
#formRight{
    width: 120px;
    position: absolute;
    right: 10px;
    top: 0;
}

#smsOptions {
    border: 1px solid #666666;
    padding: 10px;
    overflow: hidden;
}

#smsOptions .floatLeft {
    padding: 3px 10px;
}

.floatLeft {
    float: left;
}
