/***** Override global page styles *****/
h1 {
    float:left;
    margin-top:20px;
}
/***** Override global page styles *****/

.active-users {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}
.jobs {
    text-align:right;
}
.age {
    text-align:left;
}
.money {
    text-align:right;
}

.ln-letters, .ln-pages {
    margin-left: auto;
    margin-right: auto;
    display:table;
    overflow:hidden;
    margin-top:20px;
    margin-bottom:20px;
}
.ln-letters a, .ln-pages a {
    font-size:1.3em;
    display:block;
    float:left;
    padding:2px 6px;
    border:1px solid silver;
    border-right:none;
    text-decoration:none;
}
.ln-letters a.ln-last, .ln-pages a.ln-last {
    border-right:1px solid silver;
}
.ln-letters a:hover, .ln-letters a.ln-selected, 
.ln-pages a:hover, .ln-pages a.ln-selected {
    background-color:#eaeaea;
}
.ln-letters a.ln-disabled, .ln-pages a.ln-disabled  {
    color:#ccc;
}
.pages-top {
    margin-top:0px;
}

#userlist{
    list-style: none;
}
.table-userlist, 
.table-worklist, 
.table-worklist-payee {
    margin-left: auto;
    margin-right: auto;
}
.table-userlist .name-col{
    text-align: left;
}
.table-userlist .arrow,
.table-worklist .arrow, 
.table-worklist-payee .arrow  {
    float:right;
    height: 15px;
    width: 15px;
    margin-left: 2px;
}
.table-userlist .arrow-down,
.table-worklist .arrow-down,
.table-worklist-payee .arrow-down {
    background-image: url(../images/arrow-down.png);
}
.table-userlist .arrow-up,
.table-worklist .arrow-up, 
.table-worklist-payee .arrow-up {
    background-image: url(../images/arrow-up.png)
}
#message{
    text-align: center;
    display:none;
    font-size: 1.3em;
}

table#newUserStats {
    width: 300px;
    float: right;
    margin-top: 10px;
}

#newUserStats caption {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 5px;
    color: #876F6D;
}

#newUserStats td {
    text-align: center;
}

#search_user_box {
    background: url("../images/input_bg.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline-block;
    position: relative;
    width: 195px;
    margin: 20px 0 10px 10px;
    float: right;
}

#search_user_box input {
    border: 0 none;
    color: #2C3549;
    font-size: 13px;
    margin: 0;
    padding: 4px;
    width: 130px;
    top: -10px;
    background: none repeat scroll 0 0 transparent !important;
}

#search_user_box .searchIcon {
    top: 0;
    float: right;
}

#clear_input {
    margin-left: 25px;
}

.ui-menu .ui-menu-item a {
    text-align: left;
}
.ui-autocomplete a.ui-state-hover {
    background: #FFD;
}
