#message {
    text-align: center;
    display: none;
    font-size: 1.3em;
}

#searchbar {
    background-color: #E1E8EA;
    padding: 20px 15px;
}

.myfavorite {
    background-image: url('../images/wl-icons/star-dark.png');
    background-image: url('../images/wl-icons/star-dark.svg');
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.ln-letters,
.ln-pages {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.ln-letters > li,
.ln-pages > li {
    display: inline-block;
    margin: 0 2px;
}

.ln-letters a {
    border: none;
}

.ln-letters a,
.ln-letters a:hover,
.ln-pages a:hover {
    background-color: #ffffff;
}

.ln-letters a:active,
.ln-pages a:active {
    color: #009999;
}

.ln-letters a.ln-selected, 
.ln-pages a.ln-selected {
    font-weight: bold;
    background-color: #EAEAEA;
}

.ln-letters a,
.ln-pages a {
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 1px 3px;
}

.ln-pages > span > span {
    color: #cccccc;
}

.ln-letters a:hover,
.ln-pages a:hover {
    text-decoration: underline;
}

#table-userlist tr:hover{
    cursor: pointer;
    color: #007F7C;
}

#table-userlist thead tr:hover{
    cursor: default;
}

#table-userlist .myfavorite {
    background-size: 20px;
}

#days {
    width: 100px;
}

input.wlcheckbox[type="checkbox"] + label {
    padding-right: 26px;
}

#query {
    margin-top: 3px;
}

.chosen-container {
    margin-left: 5px;
    margin-bottom: 3px;
}

#search-box {
    float: left;
    width: 410px;
}

@media screen and (max-width: 960px) {
    #search-box {
        width: auto;
    }
}

#search-filters {
    padding-left: 35px;
    width: 480px;
    float: left;
}

@media screen and (max-width: 910px) {
    #search-box {
        width: 100%;
        padding-bottom: 10px;
    }
    #search-filters {
        padding-left: 0;
        width: auto;
    }
}
