@charset "utf-8";
/* CSS Document */

#tooltip, #livetip {
    position: absolute;
    z-index: 3000;
    font-family: Helvetica, sans-serif;
    border: 0px solid #eaeff0;
    background: rgba(255, 255, 255, 0.9);
    text-align: left;
}

#tooltip h3, #tooltip div { 
    margin: 0; 
}
#tooltip h3, #livetip {
    padding: 5px 10px;
}

#tooltip .body {
    padding: 20px;
    font-size: 16px;
}

#tooltip.content { 
    font-size: 16px;
    width: 400px; 
    border: 3px solid #ccc;
    background-color: white;
}

#tooltip .head {
    font-family: 'Cabin';
    color: #993300 !important;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid 2px #666666;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#tooltip .tip-entry {
    font-size: 14px;
    padding: 0.5em 0 0 0;
    margin: 0.5em 0 0 0;
    border-top: solid 1px;
}

#tooltip .tip-entry.no-border {
    border: 0;
    padding: 0;
    margin: 0;
}

#tooltip .tip-entry.FL {
    float: left;
    padding-right: 15px;
}
