.ui-toaster {
    background:#F5F4F4 none repeat scroll 0% 0%;
    border:4px solid #D3D3D3;
    color:#222222;
    font-family:Verdana,Arial,sans-serif;
    font-size:100%;
    line-height:1.3;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:4px;
    padding:0;
    text-decoration:none;
    z-index:1000;
    -moz-border-radius:3px;
}

.ui-toaster-sticky,
.ui-toaster-closable { cursor:pointer; }

body > #ui-toaster-tl,
body > #ui-toaster-tr,
body > #ui-toaster-bl,
body > #ui-toaster-br { 
    position:fixed; 
    *absolute;
}

#ui-toaster-tl { top:    0px; left:  0px; } /* Top Left */
#ui-toaster-tr { top:    0px; right: 0px; } /* Top Right */
#ui-toaster-bl { bottom: 0px; left:  0px; } /* Bottom Left */
#ui-toaster-br { bottom: 0px; right: 0px; } /* Bottom Right */

.ui-toaster .ui-toaster-body {
    font-size:80%;
    background:#eee;
    margin:0;
}
.ui-toaster .ui-toaster-body div {
    padding:10px;
}
.ui-toaster .ui-toaster-close {
    float:right;
    font-size:80%;
    margin:10px;
    cursor:pointer;
}
.ui-toaster a.ui-toaster-close:hover { 
    font-weight:bold;
}

.ui-toaster .ui-toaster-border-tl, 
.ui-toaster .ui-toaster-border-tc, 
.ui-toaster .ui-toaster-border-tr, 
.ui-toaster .ui-toaster-border-bl, 
.ui-toaster .ui-toaster-border-bc, 
.ui-toaster .ui-toaster-border-br { display:none; }
 
