body {
    background-color: white;
    background-image: none;
}

.user-info p{
    font-size: 1.3em;
    margin: 4px 0 0;
}

#unixusername, #projects{
    width: 200px;
}

#reward-link {
  float: right;
}

#quick-reward {
    display:none;
    text-align: left;
}

#quick-reward p {
    font-size: 1.2em;
} 

#quick-reward input[type="text"] {
    width: 3em;
}

#quick-reward .labelo {
    display: inline-block;
    width: 11em;
}

#quick-reward .points {
    font-weight: bold;
}

.big-text{
    font-size: 1.6em;
}
p.small-text{
    font-size: 1.1em;
	height:20px;
}

#user-stats {
    position: absolute;
    right: 12em;
    width: auto;
}
#user-avatar {
    position: absolute;
    left: 53em;
    width: auto;
}
#avatar {
	background: #ffffff;
	border: 1px solid lightgrey;
    padding: 5px;
    margin: auto auto 3px;
}
#user-stats tbody tr td {
    text-align: center;
    font-weight: bold;
	border-width:1px;
}
#user-stats tbody tr:hover{
    background-color: white;
}
div.left-column, div.right-column {
    float: left;
    width:45%;
}

#admin-left, #admin-middle, #admin-right {
    float: left;
}

#admin-left, #admin-middle{
    border-right: solid 2px #ccc;
}
#admin-middle, #admin-right{
    margin-left: 0.5em;
}
#admin-middle, #admin-left, #admin-right {
    width: 220px;
    height: 180px;
}
p.bottom {
    position: absolute;
    bottom: 40px;
}

#loading{
    position: absolute;
    top: 6em;
}

#tabs {
    margin-top: 3em;
}
#tabs { height: 250px; }
.tabs-bottom { position: relative; } 
.tabs-bottom .ui-tabs-panel { height: 190px; overflow: auto; }
.tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 0.2em 0; } 
.tabs-bottom .ui-tabs-nav li { margin-top: -2px !important; margin-bottom: 1px !important; border-top: none; border-bottom-width: 1px; }
.ui-tabs-selected { margin-top: -3px !important; }

.button-row {
    float: right;
    padding: 10px 130px 10px ;
	margin-top:15px;   
}
.button-row span {
    margin: 5px; }

.quarter-column {
    float: left; 
    width: 23%;
}
