@font-face {
  font-family: proxima-nova;
  font-style: normal;
  font-weight: bold;
}

#left, #right {
    background: none;
}

.hidden {
    display: none;
}

.rowodd {
    background-color: #ffffff;
}

.roweven {
    background-color: #EEE !important;
    background-image: none !important;
}

.userInfoLink {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.common-info {
    overflow: hidden;
}

.bonus-history {
    margin:10px 0 10px 0;
    text-align:left;
}

#unixusername, #projects{
    width: 200px;
}

#reward-link {
  float: right;
}

#quick-reward {
    display:none;
    text-align: left;
}

#quick-reward p {
    font-size: 1.2em;
}

#quick-reward input[type="text"] {
    width: 3em;
}

#quick-reward .labelo {
    display: inline-block;
    width: 11em;
}

#quick-reward .points {
    font-weight: bold;
}

.big-text{
    font-size: 1.6em;
}

p.small-text{
    font-size: 1.1em;
    height:20px;
}

#info-currenttime {
    float: left;
    margin-top: 6px;
    width: 196px;
    border-bottom: none !important;
}

#info-currenttime span {
    font-size: 45px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: -2px;
    font-family:proxima-nova;
}

#tabs .info-label {
    font-weight: normal;
    border-bottom: 2px solid #E1E8EA;
}

.info-label .info-label {
    border: none !important;
}

.title-label-big {
    color: #007F7C;
    font-size: 18px;
    margin: 30px 22px 0 0;
    line-height: 17px;
    padding-bottom: 5px;
}

.jobs {
    margin-top: 59px !important;
    margin-left: -1px !important;
}

#jobs-table,
#completed-jobs-table {
    margin-top: -1px !important;
    float: left;
    width: 449px;
    border: 1px solid #d6d6d6;
}

#BudgetHistory {
    border: 1px solid #d6d6d6;
    display: table;
    margin: 0 auto;
}
.title-label-medium {
    color: #007F7C;
    font-size: 18px;
    margin: 23px 22px 0 0;
    line-height: 19px;
    padding-bottom: 5px;
    border: none;
    float: left;
    border-bottom: none !important;
}

.title-label-medium span {
    font-size: 14px;
    color: #ccc;
    font-weight: normal;
}

#info-skills {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

#info-about {
    margin: 10px 22px 0 0;
    font-size: 14px;
    line-height: 19px;
    float: left;
}

.about {
    margin-top: -3px;
}

.title-label-small {
    color: #007F7C;
    font-size: 14px;
    margin: 21px 24px 0 0;
    line-height: 17px;
    padding-bottom: 12px;
}

.title-label-small a,
.title-label-small span{
    font-weight: bold;
    color: #333;
}

#user-location {
    float: left;
    width: 196px;
}

.totals {
    float: left;
    margin: 3px 0px;
    line-height: 22px;
    font-size: 14px;
}

.totals span{
    font-weight: bold;
}

.totals a{
    text-decoration: none;
}

#user-age {
    float: left;
    width: 196px;
    margin-right: 21px;
}

#user-avatar {
    left: 1em;
    width: auto;
}

#avatar {
    background: #ffffff;
    height: 100px;
    width: 100px;
}

#user-stats tbody tr td {
    font-size: 14px;
    background: #E1E8EA;
    padding: 7px 5px;
    border-left: solid 1px #FFFFFF;
}

#user-stats thead tr th span {
    font-size: 14px;
    font-weight: normal;
    border-top: solid 2px #CCCCCC;
    display: inline-block;
    width: 100%;
    border-bottom: solid 2px #999999;
    margin-bottom: 3px;
    padding: 4px 0;
    text-indent: 6px;
}

#user-stats thead tr th {
    border: 0;
    background: #FFFFFF;
    padding: 0 0 0 1px;
}

div.left-column {
    float: left;
    width: 437px;
    overflow-y:auto;
}

div.right-column {
    float: right;
    height: 100%;
    padding-left: 2px;
    width: 455px;
}

#admin-left, #admin-middle, #admin-right {
    float: left;
}

#admin-left {
    margin-right: 0.5em;
}

#admin-right{
    margin-left: 0.5em;
}

#admin-left, #admin-right {
    width: 439px;
    height: 100%;
}

.admin-submit {
    margin-top: 0 !important;
    float: right !important;
}

#annual_salary {
    width: 120px;
}

#admin-left p.info-label {
}
p.bottom {
    position: absolute;
    bottom: 40px;
}

#loading{
    position: absolute;
    top: 6em;
}

#tabs {
    margin: 0 40px 0 3px;
    border: none;
    border-radius: 0;
    padding: 0;
}

.tabs-bottom {
    position: relative;
}

.reviewTitle {
    font-weight: normal !important;
    padding-left: 0 !important;
    width: 415px !important;
    margin-top: 18px;
}

.reviewAddLink,
.reviewEditLink {
    font-size: 12px !important;
    font-weight: normal !important;
    top: 2px;
    position: relative;
}

.reviewAddLink a,
.reviewEditLink a {
    color: #88AAB0 !important;
}

.reviewsList {
    margin: 0 !important;
    height: auto !important;
}

.noReview {
    height: auto !important;
    overflow-y: auto !important;
    padding: 10px 0 20px 0 !important;
    font-style: italic;
    font-size: 12px;
    width: 415px;
    border-top: 2px solid #E1E8EA;
}

.listReviewElement {
    height: auto !important;
    overflow-y: auto !important;
    padding: 10px 0 20px 0;
    font-style: italic;
    font-size: 12px;
    width: 415px;
    border-top: 2px solid #E1E8EA;
}

.listReviewElement .feeRange {
    margin:0 !important;
    float: none !important;
    width: auto !important;
    font-weight:bold;
    text-align: right;
}

.listReviewElement .reviewText {
    width: 415px !important;
    margin: 9px 0 !important;
    font-size: 14px;
    font-style: normal;
    line-height: 19px;
}

.tabs-bottom .ui-tabs-panel {
    overflow: auto;
    padding:4px !important;
    margin-top: 94px;
    padding: 0 !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    height: 20px;
    border-bottom: 1px solid #fff !important;
    padding: 1px 0 !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
    color: #608e96;
}

.top-profile-bar {
    float: left;
    width: 902px;
    border-bottom: 1px solid #d6d6d6;
    position: absolute;
    top: -38px;
}

.tabs-bottom .ui-tabs-nav {
    position: absolute !important;
    left: 0;
    top: 0;
    right:0;
    border-radius: 0;
    background: none;
    border: none;
    padding: 0 !important;
    margin-top: -70px !important;
}

.tabs-bottom .ui-tabs-nav li:last-child {
    border-right: 2px solid #E1E8EA !important;
}

.tabs-bottom .ui-tabs-nav li {
    border: 2px solid #E1E8EA !important;
    border-radius: 0;
    background: none;
    margin: 0 !important;
    border-right: none !important;
    padding: 1px 0 !important;
    height: 27px !important;
}

.tabs-bottom .ui-tabs-nav li a{
    color: #999;
}

.button-row {
    float: right;
    text-align: right;
    margin-top: 23px;
    padding: 5px 0;
    margin-right: 1px;
}

.right-column table,
#BudgetHistory table {
    border: none !important;
}

.right-column table td,
.right-column table th,
#BudgetHistory table th,
#BudgetHistory table td {
    border: none !important;
}

.right-column table td,
#BudgetHistory table td {
    font-size: 12px;
    padding-left: 8px;
    height: 19px;
}

.right-column table tr.rowodd:hover,
#BudgetHistory table tr.rowodd:hover {
    background: #fff;
}

.right-column table tr.roweven:hover,
#BudgetHistory table tr.roweven:hover {
    background: #efefef;
}

.right-column table td a,
#BudgetHistory table td a {
    text-decoration: none;
    cursor: pointer;
}

.right-column table td span {
    font-weight: bold;
}

.right-column table th,
#BudgetHistory table th {
    padding-top: 9px;
    padding-left: 8px;
}

.right-column table th.status,
#BudgetHistory table th.status {
    padding-right: 0;
    width: 50px;
}

.right-column table th.sandbox,
.right-column table td.sandbox,
#BudgetHistory table th.sandbox,
#BudgetHistory table td.sandbox{
    padding-left: 0;
}

.right-column table th:first-child {
    width: 310px;
}

.right-column .table-hdng,
.table-budget-history,
#BudgetHistory .table-hdng{
    height: 28px;
    background: none;
}

.right-column #ping-msg {
    height: 72px !important;
    width: 439px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

.right-column #profile-pingtask {
    padding: 0;
    display: block;
    float: left;
    border: 1px solid #d6d6d6;
    margin: -3px 0 0 -1px;
    width: 450px;
    background: #efefef;
    height: 131px;
}

.right-column #profile-pingtask p {
    float: right;
    padding: 9px 18px 0 0;
    font-size: 12px;
}

.right-column #profile-pingtask #send-ping-btn {
    margin: 0;
    background: #608e96;
    color: #fff;
    width: 112px;
    margin-right: 8px;
    border-radius: 4px;
    margin-top: 5px;
    height: 28px;
}


#info-budget input,
#btn-bonus input {
    background: none;
    padding: 0;
    width: auto;
    font-size: 12px;
    text-decoration: underline;
    color: #608e96;
}

.button-row span {
    margin: 5px;
}

.quarter-column {
    float: left;
    width: 23%;
}

.userName {
    position: absolute;
    left: 100px;
    top: 0;
    color: #007F7C;
    font-size: 45px;
    line-height: 50px;
    vertical-align: top;
    padding: 6px 11px;
    width: 293px;
    font-family:proxima-nova;
    font-weight: bold;
}

.profileContactFavorite {
    margin: 3px 0 -5px -1px;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    vertical-align: top;
    padding: 6px 0;
    border-bottom: 2px solid #E1E8EA;
    border-top: 2px solid #e1e8ea;
    width: 451px;
    font-weight: bold;
    float: left;
}

.profileContactFavorite span{
    font-weight: normal;
}

.profileInfoFavorite {
    position: absolute;
    left: 100px;
    top: 62px;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    vertical-align: top;
    padding: 6px 11px;
    border-bottom: 2px solid #E1E8EA;
    border-top: 2px solid #e1e8ea;
    width: 293px;
    font-weight: bold;
}

.profileInfoFavorite>img {
    vertical-align: middle;
}

.favorite_user,
.favorite_curr_user {
    background-image: url('../images/otherSprite.png');
    background-position: -60px 0;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
}
/* styles needed for favorite label sprite in mission info popup */
.favoriteLabel {
    width: 79px;
    height: 23px;
    background-image: url('../images/otherSprite.png');
    background-position: 0 -110px;
    display: inline;
    position: absolute;
    left: -5px;
    cursor: pointer;
    margin-top: 3px;
}

.favoriteLabel.notfavorited:hover {
    background-position: 0 -133px;
}

.favoriteLabel.favorited {
    background-position: 0 -156px;
}

.favoriteLabel.favorited:hover {
    background-position: 0 -179px;
}
/*styles needed for text beside favorite label in mission info popup */
.favoriteText {
    font-size: 12px;
    color: #666666;
    float: left;
    position: relative;
    top: 6px;
    left: 55px;
    font-weight: normal;
    display: inline;
    margin-right: 10px;
}

.favoriteText .favBlue {
    color: #0033ff;
}

.profileFavoriteText .favBlue {
    color: #999;
    font-weight: normal;
}

.favoriteText .favBlack,
.profileFavoriteText .favBlack {
    color: #333;
}

.leftBonusArea {
    float: left;
    width: 200px;
}

.rightBonusArea {
    float: left;
}

.clearBonusArea {
    clear: both;
    padding-top: 15px;
}

#missionInfoFavoriteCount {
    vertical-align: top;
    color: #333333;
}

#w9status {
    width: 150px;
}

#reject-w9 textarea {
    height: 60px;
    resize: none;
    width: 95%;
}

.bid-info-label {
    font-weight: bold;
}

.bidderStats {
    height: 24px;
    vertical-align: top;
}

.bid-info-label.notes {
    vertical-align: top;
}

#bonus-amount {
    margin: 0;
    padding: 0.4em 0.35em !important;
}
