@font-face {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.userInfoLink {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.common-info {
    overflow: hidden;
}

.bonus-history {
    margin:10px 0 10px 0;
    text-align:left;
}

#unixusername, #projects{
    width: 200px;
}

#reward-link {
  float: right;
}

#quick-reward {
    display:none;
    text-align: left;
}

#quick-reward p {
    font-size: 1.2em;
}

#quick-reward input[type="text"] {
    width: 3em;
}

#quick-reward .labelo {
    display: inline-block;
    width: 11em;
}

#quick-reward .points {
    font-weight: bold;
}

.big-text{
    font-size: 1.6em;
}

p.small-text{
    font-size: 1.1em;
    height:20px;
}

#info-currenttime {
    float: left;
    margin-top: 6px;
    width: 196px;
    border-bottom: none !important;
}

#info-currenttime span {
    font-size: 45px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: -2px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
}

.info-label {
    font-weight: normal;
    border-bottom: 2px solid #E1E8EA;
}

.info-label .info-label {
    border: none !important;
}

.title-label-big,
body > .container-fluid h3 {
    color: #007F7C;
    font-size: 18px;
    margin: 30px 22px 0 0;
    line-height: 17px;
    padding-bottom: 5px;
}

.jobs {
    margin-top: 59px !important;
    margin-left: -1px !important;
}

#jobs-table tr > td {
    white-space: nowrap;
    overflow: hidden;
}

#jobs-table tr > td:first-child {
  max-width: 225px;
}

#jobs-table tr > td:nth-child(2):before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 5em;
    margin-left: -5em;
    height: 1.5em;
}

#jobs-table tr:nth-child(2n+1) > td:nth-child(2):before {
    background: -moz-linear-gradient(left,  rgba(249,249,249,0) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(249,249,249,0)), color-stop(100%,rgba(249,249,249,1)));
    background: -webkit-linear-gradient(left,  rgba(249,249,249,0) 0%,rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(left,  rgba(249,249,249,0) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(left,  rgba(249,249,249,0) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(to right,  rgba(249,249,249,0) 0%,rgba(249,249,249,1) 100%);
}

#jobs-table tr:nth-child(2n) > td:nth-child(2):before {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

#BudgetHistory {
    border: 1px solid #d6d6d6;
    display: table;
    margin: 0 auto;
}
.title-label-medium {
    color: #007F7C;
    font-size: 18px;
    margin: 23px 22px 0 0;
    line-height: 19px;
    padding-bottom: 5px;
    border: none;
    border-bottom: none !important;
}

.title-label-medium span {
    font-size: 14px;
    color: #ccc;
    font-weight: normal;
}

#info-about {
    font-size: 14px;
    line-height: 19px;
}

.about {
    margin-top: -3px;
}
#user-systems > h4 {
    color: #007F7C;
}
#user-systems > h4 + p {
    font-weight: bold;
}
#user-systems > a {
    color: #007F7C;
    font-size: 12px;
    text-decoration: underline;
}


#globalinfo > div > .info-label:first-child {
    color: #007F7C;
    font-size: 14px;
    margin-top: 21px;
    line-height: 17px;
    padding-bottom: 12px;    
}

#globalinfo > div > .info-label:first-child a,
#globalinfo > div > .info-label:first-child span{
    font-weight: bold;
    color: #333;
}

#user-location {
    float: left;
    width: 196px;
}

.totals {
    margin: 3px 0px;
    line-height: 22px;
    font-size: 14px;
}

.totals span{
    font-weight: bold;
}

.totals a{
    text-decoration: none;
}

#user-age {
    float: left;
    width: 196px;
    margin-right: 21px;
}

#user-avatar {
    left: 1em;
    width: auto;
}

#avatar {
    background: #ffffff;
    height: 100px;
    width: 100px;
    float: left;
}

#user-stats tbody tr td {
    font-size: 14px;
    background: #E1E8EA;
    padding: 7px 5px;
    border-left: solid 1px #FFFFFF;
}

#user-stats thead tr th span {
    font-size: 14px;
    font-weight: normal;
    border-top: solid 2px #CCCCCC;
    display: inline-block;
    width: 100%;
    border-bottom: solid 2px #999999;
    margin-bottom: 3px;
    padding: 4px 0;
    text-indent: 6px;
}

#user-stats thead tr th {
    border: 0;
    background: #FFFFFF;
    padding: 0 0 0 1px;
}

.admin-submit {
    margin-top: 0 !important;
    float: right !important;
}

#annual_salary {
    width: 120px;
}

p.bottom {
    bottom: 40px;
}

#loading{
    top: 6em;
}

#love input {
    background: none;
    padding-left: 160px;
    padding-right: 0;
    width: auto;
    font-size: 12px !important;
    font-weight: normal !important;
    color: #88AAB0 !important;
    border: 0 none;
    position: relative;
    top: 2px;
}

.loveTitle {
    border-bottom: 2px solid #E1E8EA;
    padding-bottom: 6px;
    width: 415px !important;
}

.loveTitle a {
    padding-left: 26px;
}

#user-loves {
    padding: .5em 0 .5em;
    color: #6E6E6E;
}

#user-loves > * {
    display: inline;
    line-height: 110%;
    font-size: 1em;
}

#user-loves cite:before {
    content: '\201c';
}

#user-loves cite:after {
    content: '\201d';
}

#user-loves h6 {
    margin-top: .4em;
    margin-bottom: .2em;
}

#user-loves h6,
#user-loves h6 a {
    color: #8B8B8B;
}

#user-loves h6 span {
    color: #999;
}

#user-loves h6 a {
    text-decoration: underline;
}

#user-loves h6:after {
    content: '';
    display: block;
    padding-bottom: 10px;
}

#user-loves h6:before {
    padding-right: 60px;
}
#user-loves + a {
    font-size: 12px;
    font-weight: normal;
    top: 10px;
    padding-bottom: 20px;
    position: relative;
    color: #8B8B8B;
}

.reviewTitle {
    font-weight: normal !important;
    padding-left: 0 !important;
    width: 415px !important;
    margin-top: 20px;
}

.reviewAddLink,
.reviewEditLink {
    font-size: 12px !important;
    font-weight: normal !important;
    top: 2px;
    position: relative;
}

.reviewAddLink a,
.reviewEditLink a {
    color: #88AAB0 !important;
}

.reviewsList {
    margin: 0 !important;
    height: auto !important;
}

.noReview {
    height: auto !important;
    overflow-y: auto !important;
    padding: 10px 0 20px 0 !important;
    font-size: 12px;
    width: 415px;
    border-top: 2px solid #E1E8EA;
}

.listReviewElement {
    height: auto !important;
    overflow-y: auto !important;
    padding: 10px 0 20px 0;
    font-size: 12px;
    width: 415px;
    border-top: 2px solid #E1E8EA;
}

.listReviewElement .feeRange {
    margin:0 !important;
    float: none !important;
    width: auto !important;
    font-weight:bold;
    text-align: right;
}

.listReviewElement .reviewText {
    width: 415px !important;
    margin: 9px 0 !important;
    font-size: 14px;
    font-style: normal;
    line-height: 19px;
}

.button-row {
    float: right;
    text-align: right;
    margin-top: 23px;
    padding: 5px 0;
    margin-right: 1px;
}

#ping-msg {
    height: 72px !important;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

#profile-pingtask {
    padding: 0;
    display: block;
    border: 1px solid #d6d6d6;
    margin-bottom: 15px;
    background: #efefef;
}

#profile-pingtask p {
    padding: 9px 12px;
    font-size: 12px;
}

#send-ping-btn {
    margin: 0;
    background: #608e96;
    color: #fff;
    width: 112px;
    margin-right: 8px;
    border-radius: 4px;
    margin-top: 5px;
    height: 28px;
    border: 0;
    display: inline-block;
    float: right;
}

#info-budget input,
#btn-bonus input,
#completed-jobs-table + div {
    background: none;
    padding: 0;
    width: auto;
    font-size: 12px;
    text-decoration: underline;
    color: #608e96;
    border: 0 none;
}

.button-row span {
    margin: 5px;
}

#completed-jobs-table + div a {
    float: right;
    font-weight: bold;
    color: #608e96;
    text-decoration: underline;
}

.quarter-column {
    float: left;
    width: 23%;
}

.userName {
    color: #007F7C;
    font-size: 28px;
    line-height: 60px;
    vertical-align: top;
    padding: 6px 11px;
    width: 293px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 45px;
    white-space: nowrap;
}

.userName:after {
    content: ' ';
    background-color: white;
    height: 2em;
    width: 7em;
    display: inline-block;
    position: absolute;
    right: 0;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.profileContactFavorite {
    color: #666;
    font-size: 12px;
    line-height: 22px;
    vertical-align: top;
    padding: 6px 0;
    border-bottom: 2px solid #E1E8EA;
    border-top: 2px solid #e1e8ea;
    width: 100%;
    font-weight: bold;
}

.profileContactFavorite span{
    font-weight: normal;
}

.profileContactFavorite,
.profileInfoFavorite {
    margin-top: 61px;
}

.profileInfoFavorite {
    color: #666;
    font-size: 12px;
    line-height: 22px;
    vertical-align: top;
    padding: 6px 11px;
    border-bottom: 2px solid #E1E8EA;
    border-top: 2px solid #e1e8ea;
    width: 310px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
}

.profileInfoFavorite>img {
    vertical-align: middle;
}

.favorite_user,
.favorite_curr_user {
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    display: inline-block;
}
/* styles needed for favorite label sprite in mission info popup */
.favoriteLabel {
    width: 79px;
    height: 23px;
    background-image: url('../images/otherSprite.png');
    background-position: 0 -110px;
    display: inline;
    position: absolute;
    left: -5px;
    cursor: pointer;
    margin-top: 3px;
}

.favoriteLabel.notfavorited:hover {
    background-position: 0 -133px;
}

.favoriteLabel.favorited {
    background-position: 0 -156px;
}

.favoriteLabel.favorited:hover {
    background-position: 0 -179px;
}
/*styles needed for text beside favorite label in mission info popup */
.favoriteText {
    font-size: 12px;
    color: #666666;
    float: left;
    position: relative;
    top: 6px;
    left: 55px;
    font-weight: normal;
    display: inline;
    margin-right: 10px;
}

.favoriteText .favBlue {
    color: #0033ff;
}

.profileFavoriteText .favBlue {
    color: #999;
    font-weight: normal;
}

.favoriteText .favBlack,
.profileFavoriteText .favBlack {
    color: #333;
}

.leftBonusArea {
    float: left;
    width: 200px;
}

.rightBonusArea {
    float: left;
}

.clearBonusArea {
    clear: both;
    padding-top: 15px;
}

#missionInfoFavoriteCount {
    vertical-align: top;
    color: #333333;
}

#w9status {
    width: 150px;
}

#reject-w9 textarea {
    height: 60px;
    resize: none;
    width: 95%;
}

.bid-info-label {
    font-weight: bold;
}

.bidderStats {
    height: 24px;
    vertical-align: top;
}

.bid-info-label.notes {
    vertical-align: top;
}

#bonus-amount {
    margin: 0;
    padding: 0.4em 0.35em !important;
}

body .white-theme .ui-dialog-content label {
    font-size: 0.8em !important;
}

.reviewAddLink {
    float:right;
    font-size:10px;
}

form#roles ul {
    padding: 0;
}
form#roles ul li {
    display: inline;
}

@media (max-width: 480px) {
    .nav-tabs {
        border-bottom: none;
    }

    #profile-nav li {
        font-size: 10px;
    }

    #user-avatar #userName {
        font-size: 20px;
    }

    #profileInfoFavorite {
        left: 15px;
        top: 115px;
    }

    #profileInfoFavorite {
        width: 90%;
        clear: both;
    }

    .listReviewElement,
    .listReviewElement .reviewText,
    #globalinfo #user-age,
    #globalinfo .totals,
    #user-location,
    #info-currenttime {
        width: 100% !important;
        clear: both;
    }

    .listReviewElement {
        overflow-y: inherit;
    }

    .userName{
        width: 100%;
    }

    #info-currenttime span {
        font-size: 25px;
    }

    #globalinfo #user-age.info-label {
        margin-top: 5px;
    }

    .profileContactFavorite {
        margin-top: 10px;
    }

    .button-row {
        float: none;
        text-align: left;
    }

    .button-row span {
        margin: 0;
    }

    #jobs-table tr > td:first-child, #loves-table tr > td:first-child  {
        max-width: 125px;
    }

    form#roles ul li {
        display: block;
    }
}