body > nav.navbar + .container-fluid {
    font-size: 1.9em;
}

body > nav.navbar + .container-fluid > .row {
    margin: 0 5%;
}

@media (max-width: 1024px) {
    body > nav.navbar + .container-fluid {
        font-size: 1.7em;
    }
}

@media (max-width: 768px) {
    body > nav.navbar + .container-fluid {
        font-size: 1.3em;
    }
}

#welcome h2 {
    font-size: 170%;
    width: 1020px;
}

#welcome h3 {
    font-size: 80%;
    font-weight: bold;
    margin-bottom: 20px
}

#welcome h2 > strong {
    display: block;
}

#welcome p {
    margin: 15px 0 30px;
}

#welcome table th,
#welcome table td {
    font-size: 80%;
}

/* columns width settings */
#welcome table tr > td:nth-child(n+1) {
    width: 56%;
}
#welcome table tr > td:nth-child(n+2) {
    width: 33%;
}

@media (max-width: 480px) {
    #welcome table tr > th,
    #welcome table tr > td:nth-child(n+2) {
        display: none;
    }
}

/* table headers styling */
#welcome table th {
    color: #afaca3;
    font-weight: normal;
}

#welcome table tr + tr {
    border-top: 1px solid #e0e0e0;
}

#welcome h2,
#welcome h3,
#welcome table td,
#welcome table td > a {
    color: #007F7C;
}

#welcome table td {
    color: #007F7C;
    padding: 3px 0;
}

#welcome table tr td:nth-child(2) a:not(:last-child):after {
    content: ', ';
}

#github {
    margin: 20px 0;
    background-color: #edebe8;
    padding: 20px;
    text-align: center;
}

#github > a {
    background: transparent url(../images/githubmark.png) 20px center no-repeat;
    background-size: 48px 48px;
    display: inline-block;
    margin: 0 auto;
    background-color: #009999;
    color: #edebe8;
    padding: 15px 20px 15px 80px;
    border-radius: 10px;
}