@font-face {
    font-family: proxima-nova;
    font-style: normal;
    font-weight: bold;
}

.warn {
    color:#F00;
}

.status-error {
    display: block;
    margin: 5px;
    font-weight: bold;
}

#action-error {
    font-weight: bold;
    margin-bottom: 10px;
    margin: 0 auto 10px auto;
    width: 300px;
    display: block;
}

#page-content {
    width: 100%;
    clear:none;
    margin-top: 15px;
    background: #FFF;
}

#page-content table {
    font-size: 13px;
    border: none !important;
    table-layout: fixed;
}

.moneyZone table tr td {
    border: 0 none;
}

.wd-link {
    font-size: 10px;
    text-decoration: underline;
}

span.info-whisper {
    font-weight: normal;
    font-size: smaller;
    display: inline-block;
    margin: 0!important;
    padding: 0!important;
}

.info-summ,.info-data,.info-invite {
    height:25px;
}

.info-summ-big{
    clear:both;
    height: 38px;
    margin-top: 12px;
    font-size: 13px;
    border-bottom: 2px solid #e1e8ea;
    float: left;
    color: #666;
    font-weight: 100;
}

.info-summ-big-text{
    font-size: 30px;
    margin-top: 12px !important;
    padding-left: 3px;
    line-height: 36px;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
}

.info-label{
    font-weight: bold;
    float: left;
    width: 100%;
}

.info-data{
    display:inline-block;
}

.info-data input[type=text]{
    width:351px;
    margin-bottom:8px;
    padding: 6px 9px;
}

input[type=text], input[type=password], textarea {
    border: 1px solid #D6D6D6;
}

input[type=text]:active, input[type=text]:hover, input[type=text]:focus,
textarea:active, textarea:hover, textarea:focus,
input[type=password]:active, input[type=password]:hover, input[type=password]:focus {
    border: 1px solid #608E96;
}

#container-status {
    margin-top: 10px;
}

.info-invite input[type=text]{
    margin-top:8px!important;
    width:256px;
}

.info-comments{
    font-weight:bold;
    margin: 0 10px 4px 0;
    font-size: 18px;
}

.info-comments-order {
    color: #000;
    text-decoration: none;
}

.info-comments-scroll-entry {
    float:right;
    text-align:right;
    padding: 5px 9px 0 0;
    text-decoration: underline;
}

.info-ID {
    float: left;
}

.info-summ-big-text {
    margin-left: -2px;
    font-size: 30px;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
    float: left;
}

#center {
    width: 857px;
}

#searchForm > div {
    float: left;
    height: 30px !important;
    padding: 0 9px;
    width: 165px;
    font-family: proxima-nova,sans-serif !important;
}

#jobStatusFilter {
    padding-top: 0;
    width: 363px;
}

.top-bar {
    background-color: #e1e8ea;
    padding: 14px 0;
    margin-top: 13px !important;
    height: 50px;
    font-size: 14px;
}

.top-bar form{
    float: left;
    width: 173px;
    margin-top: 6px;
}

.first-line {
    position: absolute;
    height: 20px;
    width: 50%;
    border-bottom: 2px solid #e1e8ea;
    margin-left: -475px;
    top: 34px;
}

.sections {
    font-weight: bold;
    font-size: 17px;
    float: left;
    width: 100%;
}

.second-line {
    position: relative;
    height: 44px;
    width: 50%;
    margin-left: -428px;
    top: -24px;
    background-color: #E1E8EA;
    float: left;
}

.project_website {
    font-size: 11px;
}

#left-panel {
    float:left;
    width: 490px !important;
    margin:0 !important;
    padding:0!important;
}

#left-panel .buttonContainer.view-sandbox {
    top: -35px !important;
    right: -2px !important;
    padding-left: 7px !important;
    float: right !important;
    margin: 5px 0 !important;
}

#left-panel .buttonContainer{
    padding-left: 0 !important;
    float: left !important;
    margin: 12px 5px !important;
}

#left-panel .buttonContainer .smbutton{
    border: none !important;
    left: 4px;
    top: 0;
}


#for_view > ul,
#commentZone > ul {
    list-style:none!important;
    width:100%;
    margin:0!important;
    padding:0!important;
    border-top: 1px solid #d6d6d6;
    min-height: 50px;
}

#for_view > ul > li {
    margin-bottom: 20px;
}

#quick-status {
    float: left;
    top: -13px;
    position: relative;
    left: -1px;
    width: 280px;
}

#quick-status  .info-label {
    width: auto;
    margin-top: 13px;
    margin-left: 1px;
    margin-right: 3px;
}

.project .info-label {
    width: auto;
    margin-top: 7px;
    margin-left: 1px;
}

#for_view .info-label,
#for_view .sections {
    margin-bottom: 5px;
}

#left-panel li.last {
    border-bottom:none;
    margin-top:10px;
}

#uploadPanel {
    margin: 13px 0 0 0;
}

#uploadPanel h3 {
    font-size: 18px;
    margin: 0 2px;
}

#uploadPanel .filesIcon {
    margin: 12px 9px 0 9px;
    border-color: #999999;
}

#uploadPanel .filesIcon img{
    width: 68px;
    height: 68px;
}

#uploadPanel .filesDescription {
    padding: 12px 2px 7px 2px;
    min-height: 51px;
    margin: 9px 0 0 0;
}

#uploadPanel .filesDescription h3 {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    margin: 4px 0 3px 0;
}

#uploadPanel .filesDescription p {
    color: #999;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}

#uploadPanel .filesDescription form {
    float: left;
}

#uploadPanel .filesDescription input {
    width: 200px !important;
}

.filesDescription h3:hover, .filesDescription p:hover {
    background: #FFFFFF;
}


#uploadPanel .fileimagecontainer, .filedocumentcontainer{
    border-top: 2px solid #e1e8ea;
    margin: 4px 0 20px 0;
    padding-top: 1px;
}

#uploadPanel . filesIcon{
    margin: 10px;
}

#fileimagecontainer{
    margin-bottom:10px;
}

.bid-form p {
    line-height:1.2em;
    margin:0px;
}

.bid-form input[type="text"] {
    width:13em;
}

.bid-form label {
    float: left;
    width: 6em;
    margin-right: 1em;
}

.bid-form ul, {
    padding: 0 0 0 0.5em;
    list-style: none!important;
}

.bid-form textarea {
    width:18em;
}

.bug_job_id {
    width: 50px;
}

.bugJobSummary {
    display: block;
    margin: 0;
    padding: 5px;
    border-style: none;
    background-color: white;
    z-index: 3000;
    float: right;
    width: 200px
}

.info-notes {
    font-size: 14px;
}

.info-notes textarea{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width:416px;
    height:164px;
    margin-top:8px;
}

#popup-bid-info {
    max-height: 570px;
}

#popup-bid-info #info-notes {
    max-height: 243px;
    overflow: auto;
}

#creatorBox, #runnerBox, #mechanicBox, .keyPeople{
    float: left;
    width: 130px;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    padding-top: 1px;
}

#creatorBox a, #runnerBox a, #mechanicBox a{
    text-decoration: none;
    color: #333;
}

#creatorBox a:hover, #runnerBox a:hover, #mechanicBox a:hover{
    text-decoration: undeline;
}

#runnerBox .buttonContainer {
    margin-left: 15px !important;
}

.runnerName,
.mechanicName,
.creatorName,
.skills-label {
    float: left;
    width: 100%;
    color: #007F7C;
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: normal;
}

.runnerName a,
.mechanicName a,
.creatorName a,
.skills-label a {
    text-decoration: none;
    color: #007F7C !important;
}

.changeRunner {
    display: none;
}

.changeRunner select {
    float: left;
}

.changeRunner .buttonContainer {
    margin-left: 5px !important;
}

.editable:hover,
.clickable {
    cursor:pointer;
}

.editable {
    color: #375D81;

}

.title {
    color: #007F7C !important;
}

.github {
    margin-top: -7px !important;
    padding-left: 42px;
    background-image: url('../images/primaryIcons-WL.png');
    background-position: 0 -1138px;
    background-repeat: no-repeat;
}

#workitem-form {
    width: auto;
    margin-top: -7px !important;
    margin-right: 1px;
}

#workitem-form .top-bar .project {
    position: relative;
    top: -7px;
    right: -10px;
}

.project, .job-budget{
    float: right;
    padding-top: 1px;
    margin-right: 25px;
}

.project a.edit-project {
    top: 7px;
    position: relative;
}

.job-budget{
    width: 316px;
}

.project-github h1 {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.project-github h2 {
    font-size: 10px;
    font-weight: normal;
}

.skills, .people-info{
    height: 56px;
    border-bottom: 2px solid #e1e8ea;
    font-weight: bold;
    font-size: 14px;
}

.code-review {
    border-bottom: 2px solid #e1e8ea;
    font-size: 14px;
    padding: 9px 0 9px 9px;
    line-height: 21px;
    margin-bottom: 8px;
}

.code-review span {
    font-size: 18px;
    font-weight: bold;
    float: left;
    width: 100%;
}

.code-review .buttonContainer {
    top: 4px !important;
    right: 3px;
    background-color: #9A3018 !important;
}

.code-review .buttonContainer .smbutton{
    border-color: #9a6566 !important;
}

.skills {
    padding-left: 10px;
}

.project-label {
    float: left;
    font-weight: bold;
    margin-right: 3px;
}

.sandbox-container {
    margin-top: 15px;
    background-color: #e6f3f4;
    padding: 9px 12px;
    margin-left: -12px;
    font-size: 14px;
    width: 437px;
}

.functional-label {
    font-weight: bold;
    float: left;
    display: block;
    color: #930;
}

#edit_review_url {
    cursor: pointer;
    color: #007F7C;
}

#edit_review_url:hover {
    cursor: pointer;
    text-decoration: underline;
}

.budget-label {
    font-weight: bold;
    display: inline-block;
}

.budgetArea {
    width: 440px;
    margin-bottom: 6px;
}

#budgetInWorkitem {
    float: left;
    width: 366px;
}

.project-dropdown {
    width: 200px;
}

#ping-btn{
    text-decoration:underline;
    cursor:pointer;
}

#send-ping-btn {
    margin-top: 8px;
}

.table-bids thead{
    border: none !important;
}

.bidbutton {
    background-image: url('../images/primaryIcons-WL.png') !important;
    background-position: 8px -985px !important;
    background-repeat: no-repeat !important;
}

.feebutton {
    background-image: url('../images/primaryIcons-WL.png') !important;
    background-position: 9px -985px !important;
    background-repeat: no-repeat !important;
    padding-left: 23px !important;
}

.feebutton .smbutton {
    padding: 2px 0px 2px 9px !important;
    right: -6px !important;
}

.buttonContainer input:hover {
    text-decoration: underline !important;
}

.buttonContainer-save {
    margin:15px 0px 20px -8px;
}

.buttonContainer input {
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
}

.view-sandbox .smbutton {
    border: none !important;
    left: 0px !important;
    top: -1px;
}

#bid-panel {
    margin-bottom: 40px;
}

#fee-accordion #fee-panel {
    margin: 0;
    width: 400px;
}

#fee-panel.ui-accordion-content {
    margin-top: 5px;
    padding: 0px;
    background-color: #FFFFDD;
}

#fee-panel.ui-widget-content {
    background-image:none;
}

#fee-panel #job-total .noteWrapper {
    background-color: #E1E8EA;
    border-top: 3px solid white !important;
    padding: 14px 10px;
    text-align: right;
}

#fee-panel #job-total span.label {
    cursor: auto;
    font-size: 14px; 
    font-weight: bold;
}

#fee-panel #job-total:hover td span.label {
    background-color: #E1E8EA;
}

#fee-panel #job-total span.label:hover {
    background-color: #E1E8EA;
}

#fee-panel #job-total span.data {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    cursor: auto;
    color: #009999;
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    padding: 5px 9px;
}

#fee_desc,
#tip_desc {
    width:280px;
}

#edit_workitem_form ul li {
    float:left;
    list-style: none!important;
}

#edit_workitem_form textarea {
    width:200px;
}

#open_bid_dialog ul li {
    float:left;
    list-style: none!important;
}

.workitem-back {
    font-weight: bold;
    height:26px;
    line-height:26px;
}

#edit-notes {
    height: 164px;
    min-height: 100px;
    width: 410px;
    padding: 6px 9px;
}

.table-bids .table-hdng td:first-child{
    width: 132px;
}

.table-bids .table-hdng td:last-child{
    width: 127px;
    padding-right: 0;
}

.table-bids tbody td:last-child{
    padding-right: 0;
}

.table-hdng{
    background-image:none;
    background-color:#eee;
}

.table-hdng:hover{
    background-image:none;
    background-color:#ddd;
}

.moneyZone .table-hdng{
    background: none !important;
}

.moneyZone .table-hdng td{
    padding-right: 1px;
    margin: 0;
}

.moneyZone .table-hdng td .table-back {
    font-size: 14px;
    font-weight: normal;
    border-top: 2px solid #CCC; border-bottom: 2px solid #999;
    margin: 0;
    width: 100%;
    float: left;
    padding: 3px 0;
    height: 30px;
}

.moneyZone .table-hdng td .table-back span{
    padding: 0 0 0 6px;
}

.moneyZone .table-hdng td.what .table-back span{
    padding: 0 6px;
}

.moneyZone .table-hdng:hover{
    background-image:none;
    background-color:#ddd;
}

.roweven{
    background-image:none;
    background-color:#f5f5f5;

}
* :focus {
    outline: 0;
}

.popup-body, #confirmation {
    display: none;
}

.popup-body {
    padding: 8px;
    text-align: left;
}

.popup-body input[type="text"], .popup-body textarea, .popup-body select {
    font-size: 14px;
    font-family: proxima-nova, sans-serif;
    width: 370px;
}

#popup-bid .notes,
#popup-edit-bid-info .notes {
    height: 120px;
    width: 380px;
}

#popup-bid #mechanic_id {
    width: 420px;
}

#popup-bid #bid,
#popup-edit-bid-info #edit_bid {
    float: right;
    position: relative;
    margin-top: 10px !important;
}

.popup-body input.date {
    width: 130px;
}

.popup-body input.money {
    width: 50px;
}

.popup-body p {
    margin: 0 0 2px;
}

.popup-body .popup-delete-summary {
    padding: 4px;
}

.gravatar {
    float:left;
    height:32px;
    margin-bottom:10px;
    margin-right:5px;
    width:32px;
}

.commentZone ul {
    list-style:none!important;
    padding:0px!important;
    margin:0px 0px 0px 10px!important;
}

.commentZone li {
    list-style:none!important;
    padding: 0 !important;
    margin-bottom: 21px;
    width: auto !important;
}

.commentZone li.imOdd {
}

.commentZone li.imEven {
}

.comment-container {
    float: right;
    position: relative;
    top: -2px;
    left: -1px;
}

.comment-info {
    margin-bottom:3px;
    float:left;
    width: 100%;
}

.comment-text {
    margin-bottom: 4px;
    float: left;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.comment {
    font-size:13px;
    overflow:auto;
    margin-top: 12px;
}

.author {
    display:inline;
    font-size:14px;
}

.date {
    font-size:12px;
    color:#666;
}

.picture {
    float: left;
    height: 50px;
    margin-top: 1px;
    width: 50px;
}

.reply-lnk {
    font-size: 12px;
    width:100%;
    margin-top:0;
    text-align: left;
    float: left;
    text-decoration: underline;
}


.depth-0 .comment-container {
    width: 424px;
}

.depth-1 {
    margin-left: 65px;
}

.depth-1 .comment-container {
    width: 359px;
}

.depth-2 {
    margin-left: 130px;
}

.depth-2 .comment-container {
    width: 294px;
}

.depth-3 {
    margin-left: 195px;
}

.depth-3 .comment-container {
    width: 229px;
}

.depth-4 {
    margin-left: 260px;
}

.depth-4 .comment-container {
    width: 164px;
}

.depth-5 {
    margin-left: 335px;
}

.depth-5 .comment-container {
    width: 99px;
}

.depth-6 {
    margin-left: 400px;
}

.depth-6 .comment-container {
    width: 34px;
}


.desc {
    margin-top:0px !important;
    margin-bottom:2px !important;
}

<!-- [if IE]
#right-panel .moneyZone{
    display:block;
    width:390px!important;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border:2px #DCD998 solid;
    padding:0px 8px 19px 8px;
    background-color: #FFFFDD;
}

#left-panel ul #no_comments{
    margin: 20px !important;

}

#right-panel{
    width: 352px!important;
    float: right;
}

.info-data input[type=text]{
    width:290px;
    margin-bottom:8px;
}

.info-invite input[type=text]{
    margin-top:8px!important;
    width:240px;
}

.commentZone{
    width: 100%;
    margin-top: 40px;
    font-size: 12px;
    float: left;
}

/* bid info popup (accepting, withdrawing bids)*/
.block{
    display: block;
}

#popup-bid-info #left-column, #popup-bid-info #right-column{
    float: left;
    margin-bottom: 15px;
}

#popup-bid-info #left-column{
    margin-right: 10px;
}

#popup-bid-info #user-stats{
    border: none;
    margin-top: 10px;
}

.loader{
    display: none;
}

/* status entries styling */
#statusPanel {
    width: 100%;
    margin-top: 40px;
    font-size: 12px;
}

#statusPanel h3{
   font-size: 18px;
   margin: 0 0 5px 0;
}


.feesum {
    cursor: pointer;
}

#for_view {
    float: left;
    margin-top: 26px;
    width: 100%;
}

.notestext {
    margin:0;
    margin-top: 11px;
    padding-right:5px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 19px;
}

#page-content table td.what {
    text-align: center;
} 

tr.row-feelist-live + tr:not(.row-feelist-live):not(#job-total):after {
    content: '\00a0';
    width: 20px;
    height: 20px;
    position: absolute;
    margin: -10px 0 0 -185px;
    background-color: #fff;
    transform: rotate(45deg);
}

#for_view .notestext a, .comment a {
    color: #336666;
    text-decoration: underline;
}

.reply-lnk a {
    color: #8e8e8e;
}

#for_view .notestext a:hover, .comment a:hover {
    text-decoration:none;
}

#summary, 
#edit-notes {
    width: 425px;
}

input.button-disabled ,
.button-disabled {
    cursor: default;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}

.floatLeft{
    float:left;
}

.floatRight {
    float:right;
}

.clear{
    clear:both;
}

#total-jobs,
#active-jobs {
    color:#98AAB2;
}

#total-jobs,
#active-jobs,
#user-stats span {
    font-weight:bold;
    font-family: proxima-nova,sans-serif;
    font-size:12px;
}

#skills-list {
    display: inline-block;
    font-size: 12px;
}

#skills-edit {
    width: 312px;
    margin: 0 0 23px -1px;
    padding: 6px 9px;
}

/* Budget info */
#be-block {
    font-size:14px;
    z-index:99;
    top:5px;
}

#be-table {
    border: none;
    padding:2px;
}

.be-table_cell1 {
    border: none;
    padding:2px;
}

.be-table_cell2 {
    border: none;
    text-align: right;
    padding:2px;
}

#bidDone,
#bidDoneEdit,
#bidExpires,
#bidExpiresEdit {
    padding: 15px 5px 15px 0;
    font-size: 13px;;
}

/* slider css */
.timeSlider {
    background-color: #333333 !important;
    border: solid 1px #333333 !important;
    cursor: pointer;
    float: right;
    height: 0;
    margin: 5px 20px 0 0;
    width: 280px;
}

#timeSliderValue {
    width: 60px;
    margin-right: 20px;
}

.timeSlider a {
    height: 7px !important;
    width: 10px !important;
    cursor: pointer !important;
}

.sliderStepsArea {
    position: relative;
    top: -9px;
}

.sliderStep {
    margin-top: 3px;
    border-right: 1px solid gray;
    float: left;
    height: 12px;
    width: 27px;
}

.sliderStepLast {
    border: none;
}

.sliderStepLastEmpty{
    width: 1px;
}

.sliderStepFirst {
    width: 22px;
    margin-left: 3px;
}

.sliderStepValue {
    position: relative;
    top: 16px;
    left: -20px;
    width: 60px;
}

a.profile-link {
    text-decoration: none;
    font-weight: bold;
}

.past-due {
    color: #FF0000;
}

.expired_warn {
    background-color: #FF8080;
    color: #640101;
}

.expired_warn a {
    color: #640101;
}

#ping-msg {
    width: 322px;
    height: 100px;
}

#cancelstartcodereview,
#cancelendreview,
#startcodereview {
    cursor: pointer;
}

#cancelendreview {
    float: left;
}

#following,
#invite-link,
.switchmode,
.switchmode-done {
    float: left;
}

#following:hover,
#invite-link:hover,
.switchmode:hover {
    cursor: pointer;
    text-decoration: underline !important;
    color: #608e96 !important;
}

#following {
    padding: 10px 24px 7px 30px;
    background-image: url('../images/primaryIcons-WL.png');
    background-position: 1px -890px;
    background-repeat: no-repeat;
}

#following:hover {
    background-position: -201px -890px;
}

#invite-link {
    padding: 10px 17px 7px 37px;
    background-image: url('../images/primaryIcons-WL.png');
    background-position: 15px -920px;
    background-repeat: no-repeat;
}

#invite-link:hover {
    background-position: -187px -920px;
}


#following,
#invite-link{
    border-right: 2px solid #e1e8ea;
}

.switchmode,
.switchmode-done {
    padding: 10px 15px 7px 31px;
    background-image: url('../images/primaryIcons-WL.png');
    background-position: 13px -950px;
    background-repeat: no-repeat;
}

.switchmode a,
.switchmode-done span {
    text-decoration: none;
    color: #333;
}

.switchmode:hover a{
    text-decoration: underline !important;
    color: #608e96 !important;
}

.switchmode:hover{
    background-position: -189px -950px !important;
}

.hidden {
    display: none;
    margin-top: 15px;
}

.activeBox {
    position: absolute;
    background: #AAAAAA;
    display: none;
    height: 20px;
    z-index: 100;
}

.activeBox label {
    line-height: 20px;
    padding-left: 3px;
}

.ui-icon-carat-1-s {
    background-position: -64px 0 !important;
}

select[name=user],
select[name=mechanic_id] {
    width:150px;
}

div.mechanic_id ul {
    width: 177px;
    max-height: 170px;
}

#mechanicFee,
#mechanicTip,
#mechanicBid {
    width: 170px;
}

#left-panel .project_idList li {
    border: 0;
}

.clear {
    clear: both;
}

#popup-fee-info table,
#popup-fee-info table th,
#popup-fee-info table td {
    border: 0;
}

#ping_bidder {
    margin-left: 4px;
    cursor: pointer;
}

#info-fee-notes {
    overflow: auto;
    max-height: 180px
}

.textJustify {
    text-align: justify;
}

.table-fees .table-hdng td:last-child{
    width: 81px;
    padding-right: 0;
}

.table-fees tbody td:last-child{
    padding-right: 0;
}

.table-fees .nickname {
    width: 66px;
    overflow: hidden;
}

h1.newProject {
    padding: 15px 0 0 0;
    margin: 0;
}

.project-description {
    margin-bottom: 15px;
}

.project-description p {
    font-size: 14px;
    padding: 0;
    margin: 10px 0;
}

#project-status {
    width: 85%;
    margin: 0 auto;
}

#project-status p {
    line-height: 36px;
    margin: 0;
    font-size: 18px;
    padding-right: 30px;
    border-bottom: 1px solid #CCCCCC;
}

#project-status .success {
    font-size: 18px;
    color: green;
    float: right;
}

#project-status .error {
    font-size: 18px;
    color: red;
    float: right;
}

#project-completed {
    text-align: center;
    display: none;
}

#project-completed h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 5px 0;
    padding: 0;
}

#project-completed p {
    font-size: 15px;
}

#sandbox {
    width: 425px
}

#withdraw_bid {
    width: 140px;
}

#popup-multiple-bid-form #accept_bid_select_budget {
    width: 165px;
}


#popup-form-endreview,
#popup-endreview .field,
#popup-reviewurl .field {
    margin-top: 10px;
}

#popup-endreview li {
    font-size: 16px;
    list-style-type: square;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    text-decoration:none !important;
    color: #000 !important;
}


#bid_amount_conatiner {
    width: 100%; 
    margin-bottom: 4px; 
    margin-top: 23px;
}
.bid_amount_p {
    padding-right: 28px;
}
#bid_notes .bid_amount_heading, .bid_amount_heading {
    font-weight: bold; 
    font-size:18px !important; 
    color: #666666 !important;
    font-family: proxima-nova,sans-serif; 
}
.bid_amount_textfield {
    width: 73px !important; 
    margin-top: 6px; 
}
#place_bid_usd {
    float: left; 
    margin-top: 40px;
    position: relative;
}
#bid_amount_description {
    padding-top: 20px; 
    width: 401px; 
    float: left; 
    font-family: proxima-nova;
    padding-left: 25px;
    color: #666666;
    font-size: .9em;
}
.place_bid_divider {
    width: 109%; 
    height: 5px; 
    background-color: #E8EFF0; 
    position: relative; 
    left: -22px;
}
#bid_notes {
    width: 100%; 
    padding-top: 17px; 
    margin-bottom: 19px; 
}
.bid_notes_required {
    color: #999999;
}
.bid_notes_textarea {
    font-family: proxima-nova !important; 
    width: 415px !important; 
    float: left; 
    margin-right: 19px; 
    height: 180px !important; 
    margin-top: 0;
}
#bid_notes_decsription {
    font-family: proxima-nova; 
    color: #666666;
    font-size: .8em;
}
#bid_done_container {
    width: 100%; 
    margin-bottom: 22px;
}
#bidDone {
    width: 100%;
}
#bid_done_description {
    width: 220px; 
    float: left; 
    margin-right: 44px;
}
#bid_done_explanation {
    margin-top: 3px; 
    font-family: proxima-nova;
    width: 220px;
    color: #666666;
    font-size: .9em;
}
#time_slider_container {
    float: left; 
    padding-top: 12px;
}
#right_border {
    width: 281px; 
    height: 12px; 
    position: relative; 
    top: 12px; 
    border-left: 1px solid grey; 
    border-right: 1px solid grey
}
#submit_bid_button {
    padding-top: 9px; 
    padding-bottom: 19px; 
    width: 109%; 
    background-color: #E8EFF0; 
    position: relative; 
    left: -22px
}
#submit_bid_btn_holder {
    padding-left: 22px; 
    padding-right: 14px; 
    float: left; 
}
.place_bid_button {
    height: 44px !important; 
    font-size: 18px !important;
}

#submit_bid_description {
    padding-top: 10px; 
    width: 435px; 
    float: left; 
    font-family: proxima-nova;
    color: #666666;
    font-size: .9em;
}

.sandboxlink {
    max-width: 340px;
    overflow: hidden;
}

.relative {
    position: relative;
}
