.warn {
	color:#F00;
}
#page-content {
	width:856px;
	clear:none;
}
#page-content table {
	font-size:12px;
}
/*#page-content, #left-panel {
	padding:3px;
}*/

.info-label {
	font-weight:bold;
	display:inline-block;
	margin:0!important;
	padding:0!important;
}
.info-summ,.info-data,.info-invite {
	margin-left:4px;
	height:25px;
}

.info-summ-big{
	clear:both;
	margin:7px 0px 8px 0;
}
 
.info-summ-big-text{
	font-size:24px;
	color:#876F6D;
}

.info-data{
	display:inline-block;
}
.info-data input[type=text]{
	width:351px;
	margin-bottom:8px;
}
.info-invite input[type=text]{
	margin-top:8px!important;
	width:256px;
}
.info-comments{
	font-size:14px;
	font-weight:bold;
	margin:0 0 10px 0;
}
.info-ID{
	font-size:10px;
}
#left-panel {
	float:left;
	width:48%;
	margin:12px 0px 0px 0px!important;
	padding:0!important;
}
#left-panel ul{
	list-style:none!important;
	width:447px;
	margin:0!important;
	padding:0!important;
}
#left-panel li {
	padding:1px 0px 5px 0px;
	border-bottom:1px solid lightgrey;
}
#status-switch{
	margin-right:14px;
}
#left-panel li.last {
	border-bottom:none;
	margin-top:10px;
}
#right-panel {
	width:48%;
	float:right;
}
#right-panel .moneyZone{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:2px #DCD998 solid;
	padding:0px 8px 19px 8px;
	background-color: #FFFFDD;
}
 
#uploadPanel {
	margin:11px 0 0 0;
}
 
#fileimagecontainer{
	margin-bottom:10px;
}
.bid-form p {
	line-height:1.2em;
	margin:0px;
}
.bid-form input[type="text"] {
	width:13em;
}
.bid-form label {
	float: left;
	width: 6em;
	margin-right: 1em;
}
.bid-form ul, #for_view ul {
	padding: 0 0 0 0.5em;
	list-style: none!important; 
}
.bid-form textarea {
	width:18em;
}
 
.info-notes{
	font-size:14px;
}

.info-notes textarea{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	width:416px;
	height:164px;
	margin-top:8px;
}
 
#creatorBox, #runnerBox, #mechanicBox, .keyPeople{
	display:inline-block;
	border:none;
	margin: 5px 0px 5px 0px;
	float:none!important;
	clear:none!important;
}
.runnerName, .mechanicName{
	font-weight:bold;
	margin:0px 7px 0px 15px;
}
.creatorName{
	font-weight:bold;
	margin:0px 7px 0px 0px;
}
 
.changeRunner {
	display: none;
}
 
.editable:hover{
    cursor:pointer;
}
.editable {
    color: #375D81;

}

.project-label {
	font-weight:bold;
	margin:0px 7px 0px 0px;
}

.project-dropdown {
    width: 200px;    
}

#ping-btn{
	text-decoration:underline;
	cursor:pointer;
}
 
#ping-r-btn{
	text-decoration:underline;
	cursor:pointer;
}
 
.table-caption {
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color: black;
	padding: 0px 0px 3px 0px;
}
 
.buttonContainer {
	margin:4px 0px -18px;
	text-align:right;
}

.buttonContainer-save {
	margin:15px 0px 20px -8px;
}
 
#bid-panel{
	margin:10px 0 0px;
}
 
#fee-panel{
	margin:10px 0 10px;
}
 
#fee_desc {
	width:280px;
} 
#edit_workitem_form ul li {
	float:left;
	list-style: none!important;
}
#edit_workitem_form textarea {
	width:200px;
}
#open_bid_dialog ul li {
	float:left;
	list-style: none!important;
}
 
.workitem-back {
	height:26px;
	line-height:26px;
}
#edit-notes {
	height:164px;
	min-height:100px;
	max-height:230px;
	width:418px;
}
.table-hdng{
	background-image:none;
	background-color:#eee;
}
 
.table-hdng:hover{
	background-image:none;
	background-color:#ddd;
}
 
.roweven{
	background-image:none;
	background-color:#f5f5f5;

}
* :focus {
	outline: 0;
}
.popup-body, #confirmation {
	display: none;
}
.popup-body {
	padding: 8px;
	text-align: left;
}
.popup-body input[type="text"], .popup-body textarea, .popup-body select {
	font-size: 14px;
	font-family: helvetica, arial, sans-serif;
	width: 370px;
}
#popup-edit textarea {
	height: 110px;
}
.popup-body input.date {
	width: 130px;
}
.popup-body input.money {
	width: 50px;
}
.popup-body p {
	margin: 0 0 2px;
}
.popup-body .popup-delete-summary {
	padding: 4px;
}
 
.gravatar {
	float:left;
	height:32px;
	margin-bottom:10px;
	margin-right:5px;
	width:32px;
}
.commentZone{
	width:418px;
}
.commentZone ul{
	list-style:none!important;
	padding:0px!important;
	margin:0px 0px 0px 10px!important;
}
 
.commentZone li{
	list-style:none!important;
	padding:5px 8px 5px 8px!important;
	margin-bottom:12px;
}
 
.commentZone li.imOdd{
	border:1px #CCC solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
 
.commentZone li.imEven{
	border:1px #CCC solid;
	background-color:#f1f1f1;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
 
.comment-info {
	margin-bottom:5px
}
.comment{
	font-size:13px;
	padding-left:5px;
	overflow:auto;
}
.author {
	display:inline;
	font-size:14;
}
 
.date {
	font-size:11px;
	color:#666;
}

.picture {
	background: #ffffff;
	border: 1px solid lightgrey;
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-top: 3px;
	padding: 5px;
}

.reply-lnk{
	font-size:11px;
	width:100%;
	margin-top:-11px;
	text-align:right;
}
 
.depth-1 {
	margin-left:20px;
	margin-top:-10px;
}
.depth-2 {
	margin-left:40px;
	margin-top:-10px;
}
.depth-3 {
	margin-left:60px;
	margin-top:-10px;
}
.depth-4 {
	margin-left:80px;
	margin-top:-10px;
}
.depth-5 {
	margin-left:100px;
	margin-top:-10px;
}
.depth-6 {
	margin-left:120px;
	margin-top:-10px;
}
.commentform{
	margin-top:20px;
	margin-bottom:25px;
}
.commentform textarea {
	width:422px;
	height:80px;
	margin-top:5px;
	clear:right;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.commentform, .comments {
	border-bottom:none!important;
}

<!-- [if IE]
#right-panel .moneyZone{
	display:block;
	width:390px!important;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:2px #DCD998 solid;
	padding:0px 8px 19px 8px;
	background-color: #FFFFDD;
}

.info-notes textarea{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	width:410px;
	height:164px;
	margin-top:8px;
}

#edit-notes {
	height:164px;
	min-height:100px;
	max-height:230px;
	width:410px;
}

#left-panel ul{
	list-style:none!important;
	width:410px;
	margin:0!important;
	padding:0!important;
}

#right-panel{
	width:410px!important;
	margin-left:30px;
	float:left;
}

.info-data input[type=text]{
	width:290px;
	margin-bottom:8px;
}

.info-invite input[type=text]{
	margin-top:8px!important;
	width:240px;
}

.commentZone{
	margin-top:18px;
	width:418px;
}

/* style analytics info */
#analytics {
    position:absolute;
    left:14px;
    width:85px;
    background:#FFFFDD url(../images/analytics-bg.gif) 100% 0 repeat-y;
    margin-left:-85px;
    color:#FFF;
    line-height:1.4;
}
#analytics p {
    font-size:0.9em;
    padding:10px;
    margin:0;
    font-weight:bold;
    text-align:right;
}
#analytics span {
    display:block;
    font-weight:normal;
}

/* bid info popup (accepting, withdrawing bids)*/
.block{
    display: block;
}
#popup-bid-info #left-column, #popup-bid-info #right-column{
    float: left;
    margin-bottom: 15px;
}
#popup-bid-info #left-column{
    margin-right: 10px;
}

#popup-bid-info #user-stats{
    margin-top: 10px;
    width: 370px;
}

#popup-bid-info #user-stats th,
#popup-bid-info #user-stats td{
    text-align: center;
	border-width:1px;
}
.loader{
    display: none;
}

/* journalChat styles */
#journalChat {
    height:15em;
    overflow:auto;
}
#journalChat .entry {
    margin-bottom:8px;
}
#journalChat .entry-author {
    font-weight:bold;
    margin-right:7px;
}
#journalChat h2, #journalChat div {
    font-size:12px;
    line-height:1.4;
    margin:0 -5px;
    padding:0px 5px;
}
#journalChat h2 {
    padding:3px 5px 2px;
    margin-bottom:2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
/* color entries */
#journalChat .entry h2 {
	background-color:#ccc;
	color: #444;
}
#journalChat .entry h2.extra {
    background-color: #E5E5E5;
}
#journalChat .entry h2.other {
    background-color: #CCC6B0;
}
#journalChat .entry h2.extra.other {
    background-color: #E6DFC6;
}
#journalChat .entry.sendlove h2 {
	background-color:#D24B3F;
	color: #601710;
}
#journalChat .entry.svn h2 {
	background-color:#DBDB6E;
	color: #4F4F28;
}
#journalChat .entry.worklist h2 {
	background-color:#5488D1;
    color: #1F3C66;
}
#journalChat .entry.bot h2 {
	background-color:#D98D4B;
	color: #54371D;
}
#wFees {
  display: none;
}
.feesum {
	cursor: pointer;
}
#feesToolTip {
  display: none;
}

.notestext {
    margin:0;
    margin-top:8px;
    padding-right:5px;
    
}
#for_view li .notestext a, .comment a {
	color: rgb(0, 118, 252);
}
.reply-lnk a {
	color: rgb(152, 170, 178);
}
#for_view li .notestext a:hover, .comment a:hover {
	text-decoration:none;
}
.button-disabled { opacity: 0.5; -moz-opacity: 0.5; -webkit-opacity: 0.5; }

.removeAttachment  {
    cursor: pointer;
    text-decoration: underline;
}

.floatLeft{
	float:left;
}

.floatRight {
	float:right;
}

.clear{
	clear:both;
}
.bottonAtRight{
    margin-top: -4px; 
    float: right;
}

#sent-notify{
	text-align:center;
	background-color:lightgrey;
	height:20px !important;
	line-height:20px;
}

#total-jobs,
#active-jobs {
	color:#98AAB2;
}

#total-jobs,
#active-jobs,
#user-stats span {
	font-weight:bold;
	font-family:helvetica,arial,sans-serif;
	font-size:12px;
}

#skills-list {
    display: block;
    font-size: 12px;
    margin: 5px 0;
}

#skills {
    width: 410px;
    margin: 5px 0;
}