@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(cabin-font.woff) format('woff');
}

.warn {
    color:#F00;
}

.status-error {
    display: block;
    margin: 5px;
    font-weight: bold;
}

#action-error {
    font-weight: bold;
    margin-bottom: 10px;
    margin: 0 auto 10px auto;
    width: 300px;
    display: block;
}

#page-content {
    width: 100%;
    clear:none;
    margin-top: 15px;
    background: #FFF;
}

#page-content table {
    font-size: 13px;
    border: none !important;
    table-layout: fixed;
}

.moneyZone table td, .moneyZone table th {
    border-width: 0px;
    padding: 0 1px 0 0; 
}

.moneyZone table tbody td.bid-notes {
    border: 1px solid #cccccc !important;
    font-size: 11px;
    border-bottom: none !important;
}

.moneyZone table tbody tr:hover td.bid-notes span {
    background: #FFFFFF;
    cursor: auto;
}

.moneyZone table tbody td.bid-notes span{
    padding: 12px;
    float: left;
    word-break: break-all;
}


.moneyZone table tbody td.bid-notes .end-line {
    border-bottom: 1px solid #CCC !important;
    position: relative;
    width: 351px;
    margin-bottom: -14px;
    float: left;
    bottom: 1px;
}

.moneyZone table tbody tr:hover td span {
    background: #E6F3F4;
    cursor: pointer;
}

.moneyZone table tbody tr:active td span {
    background: #E6F3F4;
    cursor: pointer;
}

.moneyZone .table-bids tbody tr{
    border-top: 3px solid white !important;
}

.moneyZone table tbody tr {
    background: #FFF;
    border: 1px solid #E1E8EA !important; 
    border-left: none !important;
    border-bottom: none !important;
}

.moneyZone table tbody tr.row-feelist-live {
    border-top: 3px solid white !important; 
}

.moneyZone table tbody tr:hover{
    background: #FFF;
}

.moneyZone table tbody td .table-back{
    background: #E1E8EA;
    display: inline-block;
    height: 18px;
    padding: 6px 0;
    width: 100%;
    word-break: break-all;
}

.moneyZone table tbody td .table-back span {
    padding: 0 0 0 6px;
}

.moneyZone table  td.who {
    width: 80px;
}

.moneyZone table td.fee {
    width: 70px;
}
    
.moneyZone table td.what {
    width: 55px;
}

.moneyZone table  td.when {
    width: 55px;
}

.moneyZone table td.paid {
    width: 70px;
}

.moneyZone table tbody td.when .table-back{
    padding-left: 2px;
    width: 54px;
}

.moneyZone table tbody td.when .table-back span {
    padding: 6px;
}

.moneyZone table tbody td span a{
    color: #000000;
}

.wd-link {
    font-size: 10px;
    text-decoration: underline;
}

span.info-whisper {
    font-weight: normal;
    font-size: smaller;
    display: inline-block;
    margin: 0!important;
    padding: 0!important;
}

.info-summ,.info-data,.info-invite {
    height:25px;
}

.info-summ-big{
    clear:both;
    height: 32px;
    margin-top: 12px;
    font-size: 13px;
    border-bottom: 2px solid #e1e8ea;
    float: left;
    color: #666;
    font-weight: 100;
}

.info-summ-big-text{
    font-size: 30px;
    margin-top: 12px !important;
    padding-left: 3px;
    line-height: 36px;
    font-family: 'Cabin', sans-serif;
}

.divider {
    border-bottom: 2px solid;
    position: relative;
    top: -14px;
    left: 6px;
    overflow: hidden;
    width: 4px;
    float: left;
}

.info-label{
    font-weight: bold;
    float: left;
    width: 100%;
}

.info-data{
    display:inline-block;
}

.info-data input[type=text]{
    width:351px;
    margin-bottom:8px;
}

input[type=text], input[type=password], textarea {
    border: 1px solid #D6D6D6;
}

input[type=text]:active, input[type=text]:hover, input[type=text]:focus,
textarea:active, textarea:hover, textarea:focus,
input[type=password]:active, input[type=password]:hover, input[type=password]:focus {
    border: 1px solid #608E96;
}

.info-invite input[type=text]{
    margin-top:8px!important;
    width:256px;
}

.info-comments{
    font-weight:bold;
    margin: 0 10px 4px 0;
    float:left;
    font-size: 18px;
}

.info-comments-order {
    color: #000;
    text-decoration: none;
}

.info-comments-scroll-entry {
    float:right;
    text-align:right;
    padding: 5px 9px 0 0;
    text-decoration: underline;
}

.info-ID {
    float: left;
}

.cabin {
    margin-left: -2px;
    font-size: 30px;
    font-family: 'Cabin', sans-serif;
    float: left;
}

.cabin a {
    text-decoration: underline;
}

#center {
    width: 857px;
}

.ui-combobox-textbox {
    margin-left: 5px;
}

#info-top  .ui-state-default .ui-icon {
    background: url("../images/primaryIcons-WL.png") no-repeat scroll 6px -724px transparent !important;
    position: absolute;
    top: 3px;
    right: 4px;
    height: 22px;
    width: 26px;
}

#searchForm > div {
    float: left;
    height: 25px !important;
    padding: 0 9px;
    width: 165px;
    font-family: Arial !important;
}

#jobStatusFilter {
    padding-top: 0;
    width: 363px;
}

#jobStatusFilter .ui-combobox-list li:hover{
    background: #AA1E00;
    color: #FFFFFF;
    cursor: pointer;
}

#jobStatusFilter label {
    text-align: left;
    height: 15px;
    color: #646464;
    float: left;
}


.top-bar {
    background-color: #e1e8ea;
    padding: 14px 0;
    margin-top: 13px !important;
    height: 16px;
    font-size: 14px;
}

.top-bar form{
    float: left;
    width: 173px;
    margin-top: 6px;
}

a {
    text-decoration: none;
    color: #333;
}

a:active{
    color: #aaa;
    text-decoration: underline;
}

a:hover{
    text-decoration: underline;
}

.first-line {
    position: absolute;
    height: 20px;
    width: 50%;
    border-bottom: 2px solid #e1e8ea;
    margin-left: -475px;
    top: 34px;
}

.sections {
    font-weight: bold;
    font-size: 17px;
    float: left;
    width: 100%;
}

.second-line {
    position: relative;
    height: 44px;
    width: 50%;
    margin-left: -428px;
    top: -24px;
    background-color: #E1E8EA;
    float: left;
}

#info-top {
    margin-top: 10px;
    width: 100%;
    float: left;
}

.project_website {
    font-size: 11px;
}

#left-panel {
    float:left;
    width: 490px !important;
    margin:0 !important;
    padding:0!important;
}

#left-panel .buttonContainer.view-sandbox {
    top: -18px !important;
    right: -2px !important;
    padding-left: 7px !important;
    float: right !important;
    margin: 5px 0 !important;
}

#left-panel .buttonContainer{
    padding-left: 0 !important;
    float: left !important;
    margin: 12px 0 !important;
}

#left-panel .buttonContainer .smbutton{
    border: none !important;
    left: 4px;
    top: 0;
}


#left-panel ul{
    list-style:none!important;
    width:100%;
    margin:0!important;
    padding:0!important;
}

#left-panel li {
    padding:1px 0px 5px 0px;
}

#quick-status {
    float: left;
    top: -13px;
    position: relative;
    left: -1px;
    width: 280px;
}

#quick-status  .info-label {
    width: auto;
    margin-top: 13px;
    margin-left: 1px;
    margin-right: 3px;
} 

.project .info-label {
    width: auto;
    margin-top: 7px;
    margin-left: 1px;
} 

#left-panel li.last {
    border-bottom:none;
    margin-top:10px;
}

#uploadPanel {
    margin: 13px 0 0 0;
}

#uploadPanel h3 {
    font-size: 18px;
    margin: 0 2px;
}

#uploadPanel .filesIcon {
    margin: 12px 9px 0 9px;
    border-color: #999999;
}

#uploadPanel .filesIcon img{
    width: 68px;
    height: 68px;
}

#uploadPanel .filesDescription {
    padding: 12px 2px 7px 2px;
    min-height: 51px;
    margin: 9px 0 0 0;
}

#uploadPanel .filesDescription h3 {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    margin: 4px 0 3px 0;
}

#uploadPanel .filesDescription p {
    color: #999;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}

#uploadPanel .filesDescription form {
    float: left;
}

#uploadPanel .filesDescription input {
    width: 200px !important;
}

.filesDescription h3:hover, .filesDescription p:hover {
    background: #FFFFFF;
}


#uploadPanel .fileimagecontainer, .filedocumentcontainer{
    border-top: 2px solid #e1e8ea;
    margin: 4px 0 20px 0;
    padding-top: 1px;
}

#uploadPanel . filesIcon{
    margin: 10px;
}

#fileimagecontainer{
    margin-bottom:10px;
}

.bid-form p {
    line-height:1.2em;
    margin:0px;
}

.bid-form input[type="text"] {
    width:13em;
}

.bid-form label {
    float: left;
    width: 6em;
    margin-right: 1em;
}

.bid-form ul, {
    padding: 0 0 0 0.5em;
    list-style: none!important;
}

.bid-form textarea {
    width:18em;
}

.bug_job_id {
    width: 50px;
}

.bugJobSummary {
    display: block;
    margin: 0;
    padding: 5px;
    border-style: none;
    background-color: white;
    z-index: 3000;
    float: right;
    width: 200px
}

.info-notes {
    font-size: 14px;
}

.info-notes textarea{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width:416px;
    height:164px;
    margin-top:8px;
}

#popup-bid-info {
    max-height: 570px;
}

#popup-bid-info #info-notes {
    max-height: 243px;
    overflow: auto;
}

#creatorBox, #runnerBox, #mechanicBox, .keyPeople{
    float: left;
    width: 130px;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    padding-top: 1px;
}

#creatorBox a, #runnerBox a, #mechanicBox a{
    text-decoration: none;
    color: #333;
}

#creatorBox a:hover, #runnerBox a:hover, #mechanicBox a:hover{
    text-decoration: undeline;
}

#runnerBox .buttonContainer {
    margin-left: 15px !important;
}

.runnerName,
.mechanicName,
.creatorName,
.skills-label {
    float: left;
    width: 100%;
    color: #993300;
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: normal;
}

.runnerName a,
.mechanicName a,
.creatorName a,
.skills-label a {
    text-decoration: none;
    color: #993300 !important;
}

.changeRunner {
    display: none;
}

.changeRunner select {
    float: left;
}

.changeRunner .buttonContainer {
    margin-left: 5px !important;
}

.editable:hover,
.clickable {
    cursor:pointer;
}

.editable {
    color: #375D81;

}

.title {
    color: #993300 !important;

    margin-left: 12px;
}

.github {
    margin-top: -7px !important;
    padding-left: 42px;
    background-image: url('../images/primaryIcons-WL.png');
    background-position: 0 -1138px;
    background-repeat: no-repeat;
}

#workitem-form {
    width: auto;
    float: right;
    margin-top: -7px !important;
    margin-right: 1px;
}

.project, .job-budget{
    float: right;
    padding-top: 1px;
    margin-right: 25px;
}

.project a.edit-project {
    top: 7px;
    position: relative;
}

.job-budget{
    width: 316px;
}

.project-github h1 {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.project-github h2 {
    font-size: 10px;
    font-weight: normal;
}

.skills, .people-info{
    height: 46px;
    border-bottom: 2px solid #e1e8ea;
    font-weight: bold;
    font-size: 14px;
}

.code-review {
    height: 100px;
    border-bottom: 2px solid #e1e8ea;
    font-size: 14px;
    padding: 9px 0 9px 9px;
    line-height: 21px;
    margin-bottom: 8px;
    float: left;
}

.code-review span {
    font-size: 18px;
    font-weight: bold;
    float: left;
    width: 100%;
}

.code-review .buttonContainer {
    top: 4px !important;
    right: 3px;
    background-color: #9A3018 !important;
}

.code-review .buttonContainer .smbutton{
    border-color: #9a6566 !important;
}

.skills {
    padding-left: 10px;
}

.project-label {
    float: left;
    font-weight: bold;
    margin-right: 3px;
}

.sandbox-container {
    margin-top: 15px;
    background-color: #e6f3f4;
    padding: 9px 12px;
    margin-left: -12px;
    font-size: 14px;
}

#info-top .ui-combobox-textbox {
    color: #aa1e00;
    font-weight: bold;
    font-size: 11pt !important;
    position: absolute;
    top: 5px;
    float: left;
    font-family: Arial, Helvetica !important;
}

#info-top #container-project_id {
    background: none #FFFFFF !important;
    border-radius: 0px !important;
    height: 20px;
    padding-top: 3px;
    position: relative;
    float: left;
    height: 27px !important;
    padding: 0 9px;
    width: 165px;
}

#info-top #container-project_id ul{
    left: -1px !important;
    top: 21px;
}

#info-top .ui-combobox-list-selected {
    background: #FFFFFF !important;
    font-weight: bold;
}

#info-top .ui-combobox-list li.ui-state-hover {
    background: #AA1E00 !important;
    color: #FFFFFF;
}


#info-top .ui-state-default .ui-icon {
    background: url("../images/primaryIcons-WL.png") no-repeat scroll 6px -724px transparent !important;
    position: absolute !important;
    top: 3px !important;
    right: 4px;
    height: 22px;
    width: 26px;
}

.functional-label {
    font-weight: bold;
    float: left;
    display: block;
    color: #930;
}

#edit_review_url {
    cursor: pointer;
    color: #993300;
}

#edit_review_url:hover {
    cursor: pointer;
    text-decoration: underline; 
}

.budget-label {
    font-weight: bold;
    margin: 0px 7px 0px 0px;
    float: left;
    width: 48px;
    padding-top: 10px;
}

.budgetArea {
    width: 440px;
    margin-bottom: 6px;
}

#budgetInWorkitem {
    float: left;
    width: 366px;
}

.project-dropdown {
    width: 200px;
}

#ping-btn{
    text-decoration:underline;
    cursor:pointer;
}

#send-ping-btn {
    margin-top: 8px;
}

.table-bids thead{
    border: none !important;
}

.table-caption {
    clear: both;
    height: 26px;
    padding: 0;
}


#btnAcceptMultiple {
    color: #FFFFFF !important;
    background: none !important;
    font-size: 13px !important;
    border-left: 1px solid #83a8a6 !important;
    padding: 1px 0 0 8px !important;
    width: auto !important;
    position: relative;
    height: 28px !important;
    top: -1px;
    margin: 0 !important;
    letter-spacing: 1px !important;
    right: -2px;
}

.smbutton {
    color: #FFFFFF !important;
    background: none !important;
    font-size: 13px !important;
    border-left: 1px solid #83a8a6 !important;
    padding: 1px 0 0 8px !important;
    width: auto !important;
    position: relative;
    height: 28px !important;
    top: -1px;
    margin: 0 !important;
    letter-spacing: 1px !important;
    right: -2px;
}

.bidbutton {
    background-image: url('../images/primaryIcons-WL.png') !important;
    background-position: 8px -985px !important;
    background-repeat: no-repeat !important;
}

.feebutton {
    background-image: url('../images/primaryIcons-WL.png') !important;
    background-position: 9px -985px !important;
    background-repeat: no-repeat !important;
    padding-left: 23px !important;
}

.feebutton .smbutton {
    padding: 2px 0px 2px 9px !important;
    right: -6px !important;
}

.uploadbutton {
    background-image: url('../images/primaryIcons-WL.png') !important;
    background-position: 7px -1013px !important;
    background-repeat: no-repeat !important;
    padding-left: 28px !important;
    line-height: 15px;
}

.buttonContainer:hover {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

.uploadbutton .smbutton {
    padding: 7px 0px 6px 9px !important;
    right: -5px !important;
    top: 6px;
}

#center .buttonContainer {
    display: inline;
    float: right;
    position: relative;
    top: -16px;
    margin: 4px 0 4px 4px;
    text-align:right;
    background-color: #608E96;
    border-radius: 4px;
    height: 27px;
    padding: 1px 14px 0 27px;
}

.buttonContainer input:hover {
    text-decoration: underline !important;
}

.buttonContainer-save {
    margin:15px 0px 20px -8px;
}

.buttonContainer input {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.view-sandbox .smbutton {
    border: none !important;
    left: 0px !important;
    top: -1px;
}

#bid-panel {
    margin-bottom: 40px;
}

#fee-accordion #fee-panel {
    margin: 0;
    width: 400px;
}

#fee-panel.ui-accordion-content {
    margin-top: 5px;
    padding: 0px;
    background-color: #FFFFDD;
}

#fee-panel.ui-widget-content {
    background-image:none;
}

#fee_desc,
#tip_desc {
    width:280px;
}

#edit_workitem_form ul li {
    float:left;
    list-style: none!important;
}

#edit_workitem_form textarea {
    width:200px;
}

#open_bid_dialog ul li {
    float:left;
    list-style: none!important;
}

.workitem-back {
    font-weight: bold;
    height:26px;
    line-height:26px;
}

#edit-notes {
    height: 164px;
    min-height: 100px;
    width: 410px;
}

.table-bids .table-hdng td:first-child{
    width: 132px;
}

.table-bids .table-hdng td:last-child{
    width: 127px;
    padding-right: 0;
}

.table-bids tbody td:last-child{
    padding-right: 0;
}

.table-hdng{
    background-image:none;
    background-color:#eee;
}

.table-hdng:hover{
    background-image:none;
    background-color:#ddd;
}

.moneyZone .table-hdng{
    background: none !important;
}

.moneyZone .table-hdng td{
    padding-right: 1px;
    margin: 0;
}

.moneyZone .table-hdng td .table-back {
    font-size: 14px;
    font-weight: normal;
    border-top: 2px solid #CCC; border-bottom: 2px solid #999;
    margin: 0;
    width: 100%;
    float: left;
    padding: 3px 0;
    height: 15px;
}

.moneyZone .table-hdng td .table-back span{
    padding: 0 0 0 6px;
}

.moneyZone .table-hdng td.what .table-back span{
    padding: 0 6px;
}

.moneyZone .table-hdng:hover{
    background-image:none;
    background-color:#ddd;
}

.roweven{
    background-image:none;
    background-color:#f5f5f5;

}
* :focus {
    outline: 0;
}

.popup-body, #confirmation {
    display: none;
}

.popup-body {
    padding: 8px;
    text-align: left;
}

.popup-body input[type="text"], .popup-body textarea, .popup-body select {
    font-size: 14px;
    font-family: helvetica, arial, sans-serif;
    width: 370px;
}

#popup-bid .notes,
#popup-edit-bid-info .notes {
    height: 120px;
    width: 380px;
}

#popup-bid #mechanic_id {
    width: 420px;
}

#popup-bid #bid,
#popup-edit-bid-info #edit_bid {
    float: right;
    position: relative;
    margin-top: 10px !important;
}   

#popup-edit textarea {
    height: 110px;
}

.popup-body input.date {
    width: 130px;
}

.popup-body input.money {
    width: 50px;
}

.popup-body p {
    margin: 0 0 2px;
}

.popup-body .popup-delete-summary {
    padding: 4px;
}

.gravatar {
    float:left;
    height:32px;
    margin-bottom:10px;
    margin-right:5px;
    width:32px;
}

.commentZone ul {
    list-style:none!important;
    padding:0px!important;
    margin:0px 0px 0px 10px!important;
}

.commentZone li {
    list-style:none!important;
    padding: 0 !important;
    margin-bottom: 21px;
    width: auto !important;
}

.commentZone li.imOdd {
}

.commentZone li.imEven {
}

.comment-container {
    float: right;
    position: relative;
    top: -2px;
    left: -1px;
}

.comment-info {
    margin-bottom:3px;
    float:left;
    width: 100%;
}

.comment-text {
    margin-bottom: 4px;
    float: left;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.comment {
    font-size:13px;
    overflow:auto;
    margin-top: 12px;
}

.author {
    display:inline;
    font-size:14px;
}

.date {
    font-size:12px;
    color:#666;
}

.picture {
    float: left;
    height: 50px;
    margin-top: 1px;
    width: 50px;
}

.reply-lnk {
    font-size: 12px;
    width:100%;
    margin-top:0;
    text-align: left;
    float: left;
    text-decoration: underline;
}


.depth-0 .comment-container {
    width: 424px;
}

.depth-1 {
    margin-left: 65px;
}

.depth-1 .comment-container {
    width: 359px;
}

.depth-2 {
    margin-left: 130px;
}

.depth-2 .comment-container {
    width: 294px;
}

.depth-3 {
    margin-left: 195px;
}

.depth-3 .comment-container {
    width: 229px;
}

.depth-4 {
    margin-left: 260px;
}

.depth-4 .comment-container {
    width: 164px;
}

.depth-5 {
    margin-left: 335px;
}

.depth-5 .comment-container {
    width: 99px;
}

.depth-6 {
    margin-left: 400px;
}

.depth-6 .comment-container {
    width: 34px;
}


.desc {
    margin-top:0px !important;
    margin-bottom:2px !important;
}

.commentform{
    margin-bottom:25px;
}

.commentform .button-container {
    background: #EFEFEF;
    border: 1px solid #D6D6D6;
    padding: 12px;
    margin-top: -4px;
    width: 425px;
    height: 21px;
}

.commentform .button-container .smbutton {
    border: none !important;
}

.commentform .button-container .buttonContainer {
    padding-left: 6px;
    float: left;
    margin: 12px 0;
}

.commentform textarea {
    clear:right;
    margin: 0;
    padding: 12px;
    border: 1px solid #D6D6D6;
    font-size: 13px;
    width: 425px !important;
    height: 52px;
    font-family: Arial, Helvetica, sans-serif;
}

.commentform, .comments {
    border-bottom:none!important;
}

<!-- [if IE]
#right-panel .moneyZone{
    display:block;
    width:390px!important;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border:2px #DCD998 solid;
    padding:0px 8px 19px 8px;
    background-color: #FFFFDD;
}

#left-panel ul{
    list-style:none!important;
    width: 100%;
    margin:0!important;
    padding:0!important;
    float: left;
    border-top: 1px solid #d6d6d6;
    min-height: 50px;
}

#left-panel ul #no_comments{
    margin: 20px !important;

}

#right-panel{
    width: 352px!important;
    float: right;
}

.info-data input[type=text]{
    width:290px;
    margin-bottom:8px;
}

.info-invite input[type=text]{
    margin-top:8px!important;
    width:240px;
}

.commentZone{
    width: 100%;
    margin-top: 40px;
    font-size: 12px;
    float: left;
}

/* bid info popup (accepting, withdrawing bids)*/
.block{
    display: block;
}

#popup-bid-info #left-column, #popup-bid-info #right-column{
    float: left;
    margin-bottom: 15px;
}

#popup-bid-info #left-column{
    margin-right: 10px;
}

#popup-bid-info #user-stats{
    border: none;
    margin-top: 10px;
}

.loader{
    display: none;
}

/* journalChat styles */
#journalPanel {
    width: 100%;
    margin-top: 40px;
    font-size: 12px;
}

#journalPanel h3{
   font-size: 18px;
   margin: 0 0 5px 0;
}

#journalChat {
    border-top: 1px solid #d6d6d6;
    padding-top: 6px;
}

#journalChat .entry {
    margin-bottom:8px;
}

#journalChat .entry-author {
    font-weight:bold;
    margin-right:7px;
}

#journalChat .entry.worklist .entry-author {
    color: #6699cc;
}

#journalChat h2, #journalChat div {
    font-size: 13px;
}

#journalChat h2 {
    padding: 3px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* color entries */
#journalChat .entry h2 {
    color: #444;
}

#journalChat .entry h2 span.entry-date {
    font-size: 11px;
    color: #666666;
}

#journalChat .entry h2.extra {
    background-color: #E5E5E5;
}

#journalChat .entry h2.other {
}

#journalChat .entry h2.extra.other {
    background-color: #E6DFC6;
}

#journalChat .entry.sendlove h2 {
    background-color:#D24B3F;
    color: #601710;
}

#journalChat .entry.svn h2 {
    color: #336666;
}

#journalChat .entry.worklist .entry-text {
    font-size: 14px;
    line-height: 18px;
}

#journalChat .entry.bot h2 {
    background-color:#D98D4B;
    color: #54371D;
}

#wFees {
  display: none;
}

.feesum {
    cursor: pointer;
}

#left, #right {
    background: none;
}

#for_view {
    float: left;
    margin-top: 26px;
    width: 100%;
}

.notestext {
    margin:0;
    margin-top: 11px;
    padding-right:5px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 19px;
}

#page-content table .arrow{
    background-image: url('../images/primaryIcons-WL.png');
    background-position: 11px -1037px;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    padding: 13px 0;
}

#for_view .notestext a, .comment a {
    color: #336666;
    text-decoration: underline;
}

.reply-lnk a {
    color: #8e8e8e;
}

#for_view .notestext a:hover, .comment a:hover {
    text-decoration:none;
}

input.button-disabled ,
.button-disabled { 
    cursor: default;
    opacity: 0.5; 
    -moz-opacity: 0.5; 
    -webkit-opacity: 0.5; 
}

.removeAttachment  {
    cursor: pointer;
    text-decoration: underline;
    font-size: 11px;
    color: #999999;
}

.floatLeft{
    float:left;
}

.floatRight {
    float:right;
}

.clear{
    clear:both;
}

#total-jobs,
#active-jobs {
    color:#98AAB2;
}

#total-jobs,
#active-jobs,
#user-stats span {
    font-weight:bold;
    font-family:helvetica,arial,sans-serif;
    font-size:12px;
}

#skills-list {
    display: inline-block;
    font-size: 12px;
}

#skills {
    width: 330px;
    margin: 0 0 13px -1px;
}

/* Budget info */
#be-block {
    font-size:14px;
    z-index:99;
    top:5px;
}

#be-table {
    border: none;
    padding:2px;
}

.be-table_cell1 {
    border: none;
    padding:2px;
}

.be-table_cell2 {
    border: none;
    text-align: right;
    padding:2px;
}

#bidDone,
#bidDoneEdit,
#bidExpires,
#bidExpiresEdit {
    padding: 15px 5px 15px 0;
    font-size: 13px;;
}

/* slider css */
.timeSlider {
    background-color: #333333 !important;
    border: solid 1px #333333 !important;
    cursor: pointer;
    float: right;
    height: 0;
    margin: 5px 20px 0 0;
    width: 280px;
}

#timeSliderValue {
    width: 60px;
    margin-right: 20px;
}

.timeSlider a {
    height: 7px !important;
    width: 10px !important;
    cursor: pointer !important;
}

.sliderStepsArea {
    position: relative;
    top: -9px;
}

.sliderStep {
    margin-top: 3px;
    border-right: 1px solid gray;
    float: left;
    height: 12px;
    width: 27px;
}

.sliderStepLast {
    border: none;
}

.sliderStepLastEmpty{
    width: 1px;
}

.sliderStepFirst {
    width: 22px;
    margin-left: 3px;
}

.sliderStepValue {
    position: relative;
    top: 16px;
    left: -20px;
    width: 60px;
}

.profile-link{
    cursor: pointer;
}

.past-due {
    color: #FF0000;
}

.expired_warn {
    background-color: #FF8080;
    color: #640101;
}

.expired_warn a {
    color: #640101;
}

#ping-msg {
    width: 322px;
    height: 100px;
}

.table-caption .noteWrapper {
    float:left;
    padding-left: 9px;
}

.table-caption .note {
    font-size: 10px;
    color: #876F6D;
    font-weight: normal;
}

#cancelstartcodereview,
#cancelendreview,
#startcodereview {
    cursor: pointer;
}

#cancelendreview {
    float: left;
}

#following,
#invite-link,
.switchmode,
.switchmode-done {
    float: left;
}

a:hover {
    cursor: pointer;
    text-decoration: underline !important;
    color: #608e96 !important;
}

#following:hover,
#invite-link:hover,
switchmode:hover {
    cursor: pointer;
    text-decoration: underline !important;
    color: #608e96 !important;
}

#following {
    padding: 10px 24px 7px 30px;
    background-image: url('../images/primaryIcons-WL.png');
    background-position: 1px -890px;
    background-repeat: no-repeat;
}

#following:hover {
    background-position: -201px -890px;
}

#invite-link {
    padding: 10px 17px 7px 37px;
    background-image: url('../images/primaryIcons-WL.png');
    background-position: 15px -920px;
    background-repeat: no-repeat;
}

#invite-link:hover {
    background-position: -187px -920px;
}


#following,
#invite-link{
    border-right: 2px solid #e1e8ea;
}

.switchmode,
.switchmode-done {
    padding: 10px 15px 7px 31px;
    background-image: url('../images/primaryIcons-WL.png');
    background-position: 13px -950px;
    background-repeat: no-repeat;
}

.switchmode a,
.switchmode-done span {
    text-decoration: none;
    color: #333;
}

.switchmode:hover a{
    text-decoration: underline !important;
    color: #608e96 !important;
}

.switchmode:hover{
    background-position: -189px -950px !important;
}

.hidden {
    display: none;
    margin-top: 15px;
}

.activeBox {
    position: absolute;
    background: #AAAAAA;
    display: none;
    height: 20px;
    z-index: 100;
}

.activeBox label {
    line-height: 20px;
    padding-left: 3px;
}

.ui-icon-carat-1-s {
    background-position: -64px 0 !important;
}

select[name=user],
select[name=mechanic_id] {
    width:150px;
}

div.mechanic_id ul {
    width: 177px;
    max-height: 170px;
}

#mechanicFee,
#mechanicTip,
#mechanicBid {
    width: 170px;
}

#left-panel .project_idList li {
    border: 0;
}

.clear {
    clear: both;
}

#popup-fee-info table,
#popup-fee-info table th,
#popup-fee-info table td {
    border: 0;
}

#ping_bidder {
    margin-left: 4px;
    cursor: pointer;
}

#info-fee-notes {
    overflow: scroll;
    max-height: 180px
}

.textJustify {
    text-align: justify;
}

#uploadButtonDiv {
}

.table-fees .table-caption {
    white-space: nowrap;
}

.table-fees .table-hdng td:first-child{
}

.table-fees .table-hdng td:last-child{
    width: 81px;
    padding-right: 0;
}

.table-fees tbody td:last-child{
    padding-right: 0;
}

.table-fees .nickname {
    width: 66px;
    overflow: hidden;
}

h1.newProject {
    padding: 15px 0 0 0;
    margin: 0;
}

.project-description {
    margin-bottom: 15px;
}

.project-description p {
    font-size: 14px;
    padding: 0;
    margin: 10px 0;
}

#project-status {
    width: 85%;
    margin: 0 auto;
}

#project-status p {
    line-height: 36px;
    margin: 0;
    font-size: 18px;
    padding-right: 30px;
    border-bottom: 1px solid #CCCCCC;
}

#project-status .success {
    font-size: 18px;
    color: green;
    float: right;
}

#project-status .error {
    font-size: 18px;
    color: red;
    float: right;
}

#project-completed {
    text-align: center;
    display: none;
}

#project-completed h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 5px 0;
    padding: 0;
}

#project-completed p {
    font-size: 15px;
}

#sandbox {
    width: 400px
}

#withdraw_bid {
    width: 140px;
}

#popup-multiple-bid-form #accept_bid_select_budget {
    width: 165px;
}
