.navicon-help {
	background-image: url('../../images/navicons/png/help.png');
	background-repeat: no-repeat;
}
.navicon-jobs {
	background-image: url('../../images/navicons/png/jobs.png');
	background-repeat: no-repeat;
}
.navicon-projects {
	background-image: url('../../images/navicons/png/projects.png');
	background-repeat: no-repeat;
}
.navicon-status {
	background-image: url('../../images/navicons/png/status.png');
	background-repeat: no-repeat;
}
.navicon-team {
	background-image: url('../../images/navicons/png/team.png');
	background-repeat: no-repeat;
}
.navicon-worklist {
	background-image: url('../../images/navicons/png/worklist.png');
	background-repeat: no-repeat;
}
.navicon-hifi {
	background-image: url('../../images/navicons/png/hifi.png');
	background-repeat: no-repeat;
}
