/**
 * Legacy css styling, in transition, this rules were copied from old common styling files 
 * and should be moved/chaged the right way, but will temporarily live here until that.
 */

 /**
  * General 
  */
#wFees,
#feesToolTip,
.popup-body {
    display: none;
}

#stats-area {
    color: #98AAB2;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    text-align: right;
}

#stats-text {
    display: none;
}

#stats-area a {
    cursor: hand;
    color: #6f6f6f;
    text-decoration: none;
}



/**
 * Upload file buttons
 */
#uploadButtonDiv {
    display: inline-block;
    text-align: right;
    background-color: #608e96;
    border-radius: 4px;
    height: 27px;
    padding: 1px 14px 0 20px;
    margin: 5px;
    position: relative;
    vertical-align: top;
}

.uploadbutton {
    background-image: url("../../images/primaryIcons-WL.png") !important;
    background-position: 7px -1013px !important;
    background-repeat: no-repeat !important;
    padding-left: 35px !important;
    line-height: 15px;
    line-height: 15px;
}
