@font-face {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.warn {
    color:#F00;
}

.status-error {
    display: block;
    margin: 5px;
    font-weight: bold;
}

#action-error {
    font-weight: bold;
    margin: 0 auto 10px;
    width: 300px;
    display: block;
}

.wd-link {
    font-size: 10px;
    text-decoration: underline;
}

span.info-whisper {
    font-weight: normal;
    font-size: smaller;
    display: inline-block;
    margin: 0!important;
    padding: 0!important;
}

.info-summ,.info-data {
    height:25px;
}

.info-summ-big-text {
    font-size: 30px;
    margin-top: 12px !important;
    padding-left: 3px;
    line-height: 36px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.info-label{
    font-weight: bold;
    float: left;
    width: 100%;
}

.info-data{
    display:inline-block;
}

.info-data input[type=text]{
    width:351px;
    margin-bottom:8px;
    padding: 6px 9px;
}

input[type=text], input[type=password], textarea {
    border: 1px solid #D6D6D6;
}

input[type=text]:active, input[type=text]:hover, input[type=text]:focus,
textarea:active, textarea:hover, textarea:focus,
input[type=password]:active, input[type=password]:hover, input[type=password]:focus {
    border: 1px solid #608E96;
}

#container-status {
    margin-top: 10px;
}

.info-comments{
    font-weight:bold;
    margin: 0 10px 4px 0;
    font-size: 18px;
}

.info-comments-order {
    color: #000;
    text-decoration: none;
}

.info-comments-scroll-entry {
    float:right;
    text-align:right;
    padding: 5px 9px 0 0;
    text-decoration: underline;
}

.info-ID {
    float: left;
}

.info-summ-big-text {
    margin-left: -2px;
    font-size: 30px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    float: left;
}

#center {
    width: 857px;
}

#searchForm > div {
    float: left;
    height: 30px !important;
    padding: 0 9px;
    width: 165px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

#jobStatusFilter {
    padding-top: 0;
    width: 363px;
}

.first-line {
    position: absolute;
    height: 20px;
    width: 50%;
    border-bottom: 2px solid #e1e8ea;
    margin-left: -475px;
    top: 34px;
}

.sections {
    font-weight: bold;
    font-size: 17px;
    float: left;
    width: 100%;
}

.second-line {
    position: relative;
    height: 44px;
    width: 50%;
    margin-left: -428px;
    top: -24px;
    background-color: #E1E8EA;
    float: left;
}

.project_website {
    font-size: 11px;
}

#for_view > ul {
    list-style:none!important;
    width:100%;
    margin:0!important;
    padding:0!important;
    border-top: 1px solid #d6d6d6;
    min-height: 50px;
}

#for_view > ul > li {
    margin-bottom: 20px;
}

#quick-status {
    float: left;
    top: -13px;
    position: relative;
    left: -1px;
    width: 280px;
}

#quick-status  .info-label {
    width: auto;
    margin-top: 13px;
    margin-left: 1px;
    margin-right: 3px;
}

.project .info-label {
    width: auto;
    margin-top: 7px;
    margin-left: 1px;
}

#for_view .info-label,
#for_view .sections {
    margin-bottom: 5px;
}

#uploadPanel {
    margin: 13px 0 0 0;
}

#uploadPanel h3 {
    font-size: 18px;
    margin: 0 2px;
}

#uploadPanel .filesIcon {
    margin: 12px 9px 0 9px;
    border-color: #999999;
}

#uploadPanel .filesIcon img{
    width: 68px;
    height: 68px;
}

#uploadPanel .filesDescription {
    padding: 12px 2px 7px 2px;
    min-height: 51px;
    margin: 9px 0 0 0;
}

#uploadPanel .filesDescription h3 {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    margin: 4px 0 3px 0;
}

#uploadPanel .filesDescription p {
    color: #999;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}

#uploadPanel .filesDescription form {
    float: left;
}

#uploadPanel .filesDescription input {
    width: 200px !important;
}

.filesDescription h3:hover, .filesDescription p:hover {
    background: #FFFFFF;
}


#uploadPanel .fileimagecontainer, .filedocumentcontainer{
    border-top: 2px solid #e1e8ea;
    margin: 4px 0 20px 0;
    padding-top: 1px;
}

#uploadPanel . filesIcon{
    margin: 10px;
}

#fileimagecontainer{
    margin-bottom:10px;
}

.bid-form p {
    line-height:1.2em;
    margin:0px;
}

.bid-form input[type="text"] {
    width:13em;
}

.bid-form label {
    float: left;
    width: 6em;
    margin-right: 1em;
}

.bid-form ul, {
    padding: 0 0 0 0.5em;
    list-style: none!important;
}

.bid-form textarea {
    width:18em;
}

.info-notes {
    font-size: 14px;
}

.info-notes textarea{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width:416px;
    height:164px;
    margin-top:8px;
}

#creatorBox,
#runnerBox,
#mechanicBox,
#assigneeBox {
    float: left;
    width: 125px;
    font-weight: bold;
    line-height: 15px;
    padding-top: 1px;
}

#workitem-form #runnerBox {
    margin-bottom: 10px;
    width: auto;
}

#creatorBox a, #runnerBox a, #mechanicBox a{
    text-decoration: none;
    color: #333;
}

#creatorBox a:hover, #runnerBox a:hover, #mechanicBox a:hover{
    text-decoration: underline;
}

#runnerBox .buttonContainer {
    margin-left: 15px !important;
}

.changeRunner select {
    float: left;
}

.changeRunner .buttonContainer {
    margin-left: 5px !important;
}

.editable:hover,
.clickable {
    cursor:pointer;
}

.editable {
    color: #375D81;

}

.title {
    color: #007F7C !important;
}

#workitem-form {
    width: auto;
    margin-top: -7px !important;
    margin-right: 1px;
}

.project, .job-budget{
    float: right;
    padding-top: 1px;
    margin-right: 25px;
}

.project a.edit-project {
    top: 7px;
    position: relative;
}

.job-budget {
    width: 316px;
    /*margin: 10px 0; */
}

.project-github h1 {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.project-github h2 {
    font-size: 10px;
    font-weight: normal;
}

.skills,
.people-info {
    height: 64px;
    border-bottom: 2px solid #e1e8ea;
    font-weight: bold;
    font-size: 14px;
}

.skills {
    padding-left: 10px;
}

.project-label {
    float: left;
    font-weight: bold;
    margin-right: 3px;
}

.sandbox-container {
    margin: 15px 0 25px;
    background-color: #e6f3f4;
    padding: 9px 12px;
    font-size: 14px;
}

.functional-label {
    font-weight: bold;
    float: left;
    display: block;
    color: #930;
}

.inline-label,
.budget-label {
    font-weight: bold;
    display: inline-block;
}

.budgetArea {
    width: 440px;
    margin-bottom: 6px;
}

#budgetInWorkitem {
    float: left;
    width: 366px;
}

.table-bids thead{
    border: none !important;
}

.bidbutton {
    background-image: url('../images/primaryIcons-WL.png') !important;
    background-position: 8px -985px !important;
    background-repeat: no-repeat !important;
}

.feebutton {
    background-image: url('../images/primaryIcons-WL.png') !important;
    background-position: 9px -985px !important;
    background-repeat: no-repeat !important;
    padding-left: 23px !important;
}

.feebutton .smbutton {
    padding: 2px 0px 2px 9px !important;
    right: -6px !important;
}

.buttonContainer input:hover {
    text-decoration: underline !important;
}

.buttonContainer-save {
    margin:15px 0px 20px -8px;
}

.buttonContainer input {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.view-sandbox .smbutton {
    border: none !important;
    left: 0px !important;
    top: -1px;
}

#bid-panel {
    margin-bottom: 40px;
}

#fee-accordion #fee-panel {
    margin: 0;
    width: 400px;
}

#fee-panel.ui-accordion-content {
    margin-top: 5px;
    padding: 0px;
    background-color: #FFFFDD;
}

#fee-panel.ui-widget-content {
    background-image:none;
}

#edit_workitem_form ul li {
    float:left;
    list-style: none!important;
}

#edit_workitem_form textarea {
    width:200px;
}

#open_bid_dialog ul li {
    float:left;
    list-style: none!important;
}

.workitem-back {
    font-weight: bold;
    height:26px;
    line-height:26px;
}

#edit-notes {
    height: 164px;
    min-height: 100px;
    width: 410px;
    padding: 6px 9px;
}

.table-bids .table-hdng td:first-child{
    width: 132px;
}

.table-bids .table-hdng td:last-child{
    width: 127px;
    padding-right: 0;
}

.table-bids tbody td:last-child{
    padding-right: 0;
}

.table-hdng{
    background-image:none;
    background-color:#eee;
}

.table-hdng:hover{
    background-image:none;
    background-color:#ddd;
}

.roweven{
    background-image:none;
    background-color:#f5f5f5;

}
* :focus {
    outline: 0;
}

.popup-body, #confirmation {
    display: none;
}

.popup-body {
    padding: 8px;
    text-align: left;
}

.popup-body input[type="text"],
.popup-body textarea,
.popup-body select {
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 370px;
    font-weight: normal;
}

.popup-body input.date {
    width: 130px;
}

.popup-body input.money {
    width: 50px;
}

.popup-body p {
    margin: 0 0 2px;
}

.popup-body .popup-delete-summary {
    padding: 4px;
}

.gravatar {
    float:left;
    height:32px;
    margin-bottom:10px;
    margin-right:5px;
    width:32px;
}

.comment-info {
    margin-bottom:3px;
    float:left;
    width: 100%;
}

.comment-text {
    margin-bottom: 4px;
    line-height: 18px;
    word-wrap: break-word;
}

#entries > li.depth-0 .comment-text {
    max-width: 450px;
}

#entries > li.depth-1 .comment-text {
    max-width: 400px;
}

#entries > li.depth-2 .comment-text {
    max-width: 380px;
}

#entries > li.depth-3 .comment-text {
    max-width: 340px;
}

#entries > li.depth-4 .comment-text {
    max-width: 300px;
}

#entries > li.depth-5 .comment-text {
    max-width: 260px;
}

#entries > li.depth-6 .comment-text {
    max-width: 225px;
}

.comment-info .author,
.comment-text {
    font-size: 1.1em;
}

.comment {
    overflow:auto;
    margin-top: 12px;
}

.comment-info .author {
    display:inline;
}

.date {
    color:#666;
}

.picture {
    float: left;
    height: 50px;
    margin-top: 1px;
    width: 50px;
}

.desc {
    margin-top:0px !important;
    margin-bottom:2px !important;
}

.info-data input[type=text]{
    width:290px;
    margin-bottom:8px;
}

/* bid info popup (accepting, withdrawing bids)*/
.block{
    display: block;
}

.loader{
    display: none;
}

/* status entries styling */
#statusPanel {
    width: 100%;
    margin-top: 40px;
    font-size: 12px;
}

#statusPanel h3{
   font-size: 18px;
   margin: 0 0 5px 0;
}


.feesum {
    cursor: pointer;
}

#for_view {
    float: left;
    margin-top: 26px;
    width: 100%;
}

#workitem-form #for_view {
    margin-top: 0;
}

.notestext {
    padding-right: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 19px;
    clear: left;
    padding-top: 15px;
}

#for_view .notestext a, .comment a {
    color: #336666;
    text-decoration: underline;
}

#for_view .notestext a:hover, .comment a:hover {
    text-decoration:none;
}

#summary,
#edit-notes {
    width: 425px;
}

input.button-disabled ,
.button-disabled {
    cursor: default;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}

.floatLeft{
    float:left;
}

.floatRight {
    float:right;
}

.clear{
    clear:both;
}

#total-jobs,
#active-jobs {
    color:#98AAB2;
}

#total-jobs,
#active-jobs,
#user-stats span {
    font-weight:bold;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size:12px;
}

#skills-list {
    display: inline-block;
    font-size: 12px;
}

#skills-edit {
    width: 312px;
    margin: 0 0 23px -1px;
    padding: 6px 9px;
}

/* Budget info */
#be-block {
    font-size:14px;
    z-index:99;
    top:5px;
}

#be-table {
    border: none;
    padding:2px;
}

.be-table_cell1 {
    border: none;
    padding:2px;
}

.be-table_cell2 {
    border: none;
    text-align: right;
    padding:2px;
}

#bidDone,
#bidDoneEdit,
#bidExpires,
#bidExpiresEdit {
    padding: 15px 5px 15px 0;
    font-size: 13px;;
}

/* slider css */
.timeSlider {
    background-color: #333333 !important;
    border: solid 1px #333333 !important;
    cursor: pointer;
    float: right;
    height: 0;
    margin: 5px 20px 0 0;
    width: 280px;
}

#timeSliderValue {
    width: 60px;
    margin-right: 20px;
}

.timeSlider a {
    height: 7px !important;
    width: 10px !important;
    cursor: pointer !important;
}

.sliderStepsArea {
    position: relative;
    top: -9px;
}

.sliderStep {
    margin-top: 3px;
    border-right: 1px solid gray;
    float: left;
    height: 12px;
    width: 27px;
}

.sliderStepLast {
    border: none;
}

.sliderStepLastEmpty{
    width: 1px;
}

.sliderStepFirst {
    width: 22px;
    margin-left: 3px;
}

.sliderStepValue {
    position: relative;
    top: 16px;
    left: -20px;
    width: 60px;
}

a.profile-link {
    text-decoration: none;
    font-weight: bold;
}

.past-due {
    color: #FF0000;
}

#following,
.switchmode,
.switchmode-done,
span#job-internal-edit {
    float: left;
}

#following:hover,
.switchmode:hover {
    cursor: pointer;
    text-decoration: underline !important;
    color: #608e96 !important;
}

.switchmode,
.switchmode-done {
    padding: 8px 17px 5px 10px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border-bottom: 2px solid #e1e8ea;
}

.switchmode a,
.switchmode-done span {
    text-decoration: none;
    color: #666;
}

.switchmode:hover a{
    text-decoration: underline !important;
    color: #608e96 !important;
}

.hidden {
    display: none;
    margin-top: 15px;
}

.activeBox {
    position: absolute;
    background: #AAAAAA;
    display: none;
    height: 20px;
    z-index: 100;
}

.activeBox label {
    line-height: 20px;
    padding-left: 3px;
}

.ui-icon-carat-1-s {
    background-position: -64px 0 !important;
}

select[name=user],
select[name=mechanic_id] {
    width:150px;
}

div.mechanic_id ul {
    width: 177px;
    max-height: 170px;
}

#mechanicFee,
#mechanicTip,
#mechanicBid {
    width: 170px;
}

.clear {
    clear: both;
}

#info-fee-notes {
    overflow: auto;
    max-height: 180px
}

.textJustify {
    text-align: justify;
}

.table-fees .table-hdng td:last-child{
    width: 81px;
    padding-right: 0;
}

.table-fees tbody td:last-child{
    padding-right: 0;
}

.table-fees .nickname {
    width: 66px;
    overflow: hidden;
}

h1.newProject {
    padding: 15px 0 0 0;
    margin: 0;
}

.project-description {
    margin-bottom: 15px;
}

.project-description p {
    font-size: 14px;
    padding: 0;
    margin: 10px 0;
}

#project-status {
    width: 85%;
    margin: 0 auto;
}

#project-status p {
    line-height: 36px;
    margin: 0;
    font-size: 18px;
    padding-right: 30px;
    border-bottom: 1px solid #CCCCCC;
}

#project-status .success {
    font-size: 18px;
    color: green;
    float: right;
}

#project-status .error {
    font-size: 18px;
    color: red;
    float: right;
}

#project-completed {
    text-align: center;
    display: none;
}

#project-completed h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 5px 0;
    padding: 0;
}

#project-completed p {
    font-size: 15px;
}

#sandbox {
    width: 425px
}

#withdraw_bid {
    width: 140px;
}

#popup-multiple-bid-form #accept_bid_select_budget {
    width: 165px;
}


.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    text-decoration:none !important;
    color: #000 !important;
}

.relative {
    position: relative;
}

@media (max-width: 480px) {
    .white-theme .ui-dialog-content {
        padding: 5px;
    }

    .white-theme {
        padding: 5px;
        max-width: 320px;
        background-color: #F0F6F8;
    }

    .white-theme table,
    .popup-body textarea {
        width: 100%;
    }

    .white-theme .ui-dialog-content {
        padding: 0 !important;
    }

    .project-github h1 {
        float: right;
        line-height: 21px;
    }

    .people-info {
        font-size: 13px;
    }

    #creatorBox, #runnerBox, #mechanicBox {
        width: 33%;
    }

    .project, .job-budget {
        clear: both;
        width: 100%;
    }

    .project {
        margin: 0 10px;
    }

    .info-data {
        display: inline;
    }

    #summary,
    #edit-notes {
        width: 100%;
    }

    .project:after {
        clear: both;
        display: block;
        content: ' ';
    }

    #following span,
    #switchmode_edit span#edit-text,
    #tweet-link span {
        display: none;
    }

    #tweet-link {
        height: 34px;
        padding: 10px 17px 15px 28px;
        background-position: 10px 10px;
    }

    #info-top .glyphicon {
         font-size: 16px;
         color: #000;
     }

    #info-top .glyphicon:hover {
        color: #007f7c;
    }
}
