# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary

# eol
* text=auto

# never replace line endings on 3rd party code
js/bootstrap/* -lf
js/jquery/* -lf
js/dragdealer/* -lf
css/bootstrap/* -lf
css/chosen/* -lf
css/font-awesome/* -lf
css/jquery/* -lf

# let's exclude the tmp and uploads as well
tmp/* -lf
uploads/* -lf

# convert tabs to 4 spaces
*.php filter=tabspace
*.html filter=tabspace
*.mustache filter=tabspace

# Do Not convert tabs on 3rd party code
js/bootstrap/* -tabspace
js/jquery/* -tabspace
js/dragdealer/* -tabspace
css/bootstrap/* -tabspace
css/chosen/* -tabspace
css/font-awesome/* -tabspace
css/jquery/* -tabspace

# let's exclude the tmp and uploads as well
tmp/* -tabspace
uploads/* -tabspace
