
# local install configuration
/server.local.php
/phinx.yml

# dependencies & composer.lock
/vendor
/composer.lock
composer.phar

# temp dir
/tmp

# commonly used for error logging on sandboxes
/php.errors

.idea
/uploads

/.vagrant
