
# local install configuration
/server.local.php

# dependencies & composer.lock
/vendor
/composer.lock

# temp dir
/tmp

# apache dir-level configuration
/.htaccess

# commonly used for error logging on sandboxes
/errors.log
