<div id="budget-transferred" class="popup-body" title = "More info">
    <!-- Seach Field -->
    <div id="bet-search">
        <div id="bet-search-lbl">
            <span>Search in the report</span>
        </div>
        <input type="text" id="bet-search-field"/>
        <div id="bet-search-clean"></div>
    </div>

    <!-- Report Table -->
	<table width="100%" id="table-budget-transferred">
	    <thead>
	        <tr style="cursor:arrow;" class="table-hdng">
	            <td id="bet-id" width="40px">ID</td>
	            <td id="bet-budget" width="60px">Budget</td>
	            <td id="bet-notes">Notes</td>
	            <td id="bet-who" width="100px">Who</td>
	            <td id="bet-amount" width="60px">Amount</td>
	            <td id="bet-created" width="95px">Created</td>
	        </tr>
	    </thead>
	    <tbody>
	    </tbody>
	</table><br/>
	<input type="submit" class="disableable" id="budget-report-export-transferred" value="Export to CSV"/>
</div>
