<div id="budget-transfer" class="popup-body" title = "More info">
	<table width="100%" id="table-transfer-expanded">
	    <thead>
	        <tr style="cursor:arrow;" class="table-hdng">
	            <td id="bt-id" width="40px">ID</td>
	            <td id="bt-budget" width="140px">Budget</td>
	            <td id="bt-date" width="30px">Date</td>
	            <td id="bt-recipient" width="40px">Recipient</td>
	            <td id="bt-amount" width="40px">Amount</td>
	        </tr>
	    </thead>
	    <tbody>
        {{#currentUser.budget.transfersDetails}}
            <tr><td>{{id}}</td>
            <td>{{reason}}</td>
            <td>{{transfer_date}}</td>
            <td><a href="./user/{{receiver_id}}" target="blank">{{nickname}}</a></td>
            <td>{{amount_granted}}</td></tr>
        {{/currentUser.budget.transfersDetails}}
	    </tbody>
	</table><br/>
</div>