<script type="text/html" id="uploadDocument">
    <div class="attachment"><span><#= title #></span><span id="fileRemoveAttachment_<#= fileid #>" 
	    class="removeAttachment"><i class="fa fa-times"></i></span></div>
</script>
