<section id="footer" class="wl-icon-hifi-black">
    <p>&copy; 2014 <a href="http://highfidelity.io">High Fidelity Inc.</a></p>
    <ul>
        <li>
            <a title="Twitter Feed" href="https://twitter.com/theworklist" >
                Worklist Twitter
            </a>
        </li>
        <li>
            <a title="Follow us on Twitter" href="https://twitter.com/highfidelityinc" >
                Hifi Twitter
            </a>
        </li>
        <li>
            <a href="{{app.feeds_url}}" title="Rss & Atom Feeds">
                RSS
            </a>
        </li>
        <li>
            <a href="./privacy">
                Privacy Policy
            </a>
        </li>
    </ul>
</section>
