<section id="footer">
    <p>&copy; 2014 <a href="http://highfidelity.io" target="_blank">High Fidelity Inc.</a></p>
    <ul>
        <li><a title="Twitter Feed" href="https://twitter.com/worklistnet" target="_blank">Worklist Twitter</a></li>
        <li><a title="Follow us on Twitter" href="https://twitter.com/highfidelityinc" target="_blank">Hifi Twitter</a></li>
        <li><a href="{{app.feeds_url}}" title="Rss & Atom Feeds">RSS</a></li>
        <li><a href="./privacy">Privacy Policy</a></li>
        <li>Version {{app.version}}</li>
    </ul>
</section>