<div id="popup-edit-role" class="popup-body" title = "Edit Role">
    <form name="popup-form" id="popup-form" action="" method="post">
        <input type="hidden" name="role_id" value="" />
        <p class="info-label"><span class="required-field">*</span> Role Title:<br />
            <input type="text" name="role_title_edit" id="role_title_edit" class="text-field" />
        </p>
        <p class="info-label"><span class="required-field">*</span> Percentage<br />
            <input type="text" name="percentage_edit" id="percentage_edit" class="text-field" />
        </p>
        <p class="info-label">Minimum Amount<br />
            <input type="text" name="min_amount_edit" id="min_amount_edit" class="text-field" />
        </p>
        <script type="text/javascript">
            var regex_amount = /^(\d{1,3},?(\d{3},?)*\d{3}(\.\d{0,2})?|\d{1,3}(\.\d{0,2})?|\.\d{1,2}?)$/;
            var regex_percent = /^100$|^\d{0,2}(\.\d{1,2})?$/;
            var min_amount_edit = new LiveValidation('min_amount_edit',{ insertAfterWhatNode: 'min_amount_edit', onlyOnSubmit: true });
                min_amount_edit.add( Validate.Format, { pattern: regex_amount, failureMessage: "Invalid Input!" });

            var percentage_edit = new LiveValidation('percentage_edit',{ insertAfterWhatNode: 'percentage_edit', onlyOnSubmit: true });
                percentage_edit.add( Validate.Presence, { failureMessage: "Can't be empty!" });
                percentage_edit.add( Validate.Format, { pattern: regex_percent, failureMessage: "Invalid Input!" });
                
            var role_title_edit = new LiveValidation('role_title_edit', { insertAfterWhatNode: 'role_title_edit', onlyOnSubmit: true});
                role_title_edit.add( Validate.Presence, { failureMessage: "Can't be empty!" });
        </script>
        <div>
            <input type="submit" id="edit_role" name="edit_role" value="Save">
        </div>
    </form>
    <div class="right-note"><span class="required-field">*</span> Required fields</span></div>
</div>