<div id="popup-endreview" class="popup-body" title = "End Review">
    <ul>
        <li>To finish the review, enter (optional) notes and Review fee, then click the 'Finish Review'</li>
        <li>Click the 'Abort Review' button if you are not able to complete the review.</li>
        <li>Click 'Cancel' to close this dialog if you are not finished.</li>
    </ul>
    <form name="popup-form" id="popup-form-endreview" action="" method="post">
        <input type="hidden" name="itemid" value="" />
        <div class="field">
            <label id="reviewernick">Reviewer: <em>{{reviewer.getNickname}}</em></label>
        </div>
        <div class="clear"></div>
        <div class="field">
            <label class="enterCrAmount" for="crfee_amount">Fee:</label>
            <input type="text" name="crfee_amount" id="crfee_amount" class="text-field money iToolTip enterCrAmount"
            size="48" value="{{crFee}}" />
        </div>
        <div class="field">
            <label class="enterNotes" for="crfee_desc">Notes (optional):</label>
            <input type="text" name="crfee_desc" id="crfee_desc" class="text-field iToolTip enterNotes" 
                size="48" /><br />
                <span class="info-whisper">(Enter detailed review info in Comments Section)</span>
        </div>

        <script type="text/javascript">
            function closeDialog() {
                $('#popup-endreview').dialog('close');
            }
            function cancelReview() {
                $.ajax({
                    type: 'post',
                    url: 'jsonserver.php',
                    data: {
                        workitem: workitem_id,
                        userid: user_id,
                        action:'cancelCodeReview'
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.success) {
                            var buttonElement = $('.endCr');
                            buttonElement.remove();
                            var startcrButton = '<input class="iToolTip cR smbutton" type="submit" value="Start Review" ' +
                                'onclick="return CheckCodeReviewStatus();" alt="">';
                            $('#review-pointer').before(startcrButton);
                            $('#popup-endreview').dialog('close');
                            MapToolTips();
                        }
                    }
                });
                return false;
            }
            // see http://regexlib.com/REDetails.aspx?regexp_id=318
            // but without  dollar sign 22-NOV-2010 <krumch>
            var regex = /^(\d{1,3},?(\d{3},?)*\d{3}(\.\d{0,2})?|\d{1,3}(\.\d{0,2})?|\.\d{1,2}?)$/;

            var crfee_amount = new LiveValidation('crfee_amount',{ onlyOnSubmit: true });
                crfee_amount.add( Validate.Presence, { failureMessage: "Can't be empty!" });
                crfee_amount.add( Validate.Format, { pattern: regex, failureMessage: "Invalid Input!" });
        </script>
        <div class="buttonContainer">
            <input type="button" name="cancel" id="cancelendreview" value="Cancel" onClick="closeDialog();"/>
            <input type="button" class="wide" name="cancel_codereview" value="Abort Review" onClick="cancelReview();" />
            <input type="submit" class="wide" name="finish_codereview" value="Finish Review" />
        </div>
    </form>
</div><!-- end of popup-endreview -->
