<div id="popup-testflight" class="popup-body" title="TestFlight">
    <div class="loading">Loading...</div>
    <p class="info-label error"></p>
    <form name="popup-form" id="popup-form-testflight" action="javascript:;" method="post">
        <p class="info-label">Message<br />
            <textarea name="message" id="message" size="48"></textarea>
        </p>
        <p class="info-label" id="ipa-select">Select .ipa file<br />
        </p>
        <p class="info-label">Notify teammates
            <input type="checkbox" name="notify" value="Notify" />
        </p> 
        <div class="bid_action_button">
            <input type="submit" id="submit_testflight" name="submit_testflight" value="Submit" />
        </div>
    </form>
</div>