<div id = "jobs-popup" style = "display: none;" title = "Jobs list">
    <table>
        <thead>
            <tr class = "table-hdng">
                <th><span>Job #</span></th>
                <th><span>Summary</span></th>
                <th><span>Creator</span></th>
                <th><span>Runner</span></th>
                <th><span>Date</span></th>
                <th class="status"><span>Status</span></th>
                <th class="unfollow"><span>Un-Follow</span></th>
            </tr>
        </thead>
        <tbody><tr><td></td></tr>
        </tbody>
    </table>
</div>

<div id = "latest-earnings-popup" style = "display: none;" title = "Fees for the last 30 days">
    <table>
        <thead>
            <tr class = "table-hdng">
                <th>Job #</th><th>Fee amount</th><th>Summary</th><th>Creator</th><th>Runner</th><th>Paid</th>
            </tr>
        </thead>
        <tbody><tr><td></td></tr>
        </tbody>
    </table>
</div>

<div id = "lovelist-popup" style = "display: none;"  title = "Love received">
    <table>
        <thead>
            <tr class = "table-hdng">
                <th><span>From</span></th><th><span>Why</span></th><th><span>When</span></th>
            </tr>
        </thead>
        <tbody><tr><td></td></tr>
        </tbody>
    </table>
</div>
