<div id="popup-stats" title = "Statistics for last 7 days" class = "popup-body" style = "display:none;">
	<form name="popup-form" id="popup-form-edit" action="" method="post">
		<input type="hidden" name="itemid" value="0" />
		<input type="hidden" name="page" value="{{#page}}{{page}}{{/page}}" class="popup-page-value" />

		<div id = "for_view">
		<p class="info-label" id="lbl-bids">Jobs Bidding: <span id="span-bids"></span></p>
		<p class="info-label" id="lbl-work">Jobs Under Way: <span id="span-work"></span></p>
		<p class = "info-label" id="lbl-fees">Average fees/job: <span id="span-fees"></span></p>
		</div>
		
		<div style="float:left; width:22%;margin-right:2%">
			<p class="info-label"><br/>Top Viewed Bidding Jobs<br/></p>
			<table width="100%" class="table-visited-list">
			<thead>
				<tr class="table-hdng" >
				<td>Job Id</td>
				<td>Visits</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>

		<div style="float:left; width:37%">
			<p class="info-label"><br/>Fees added in the last 30 days<br/></p>
			<table width="100%" class="table-fees-list">
			<thead>
				<tr class="table-hdng" >
				<td>User</td>
				<td>Fees</td>
				<td>% of Total</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>

		<div style="float:right; width:37%">
			<p class="info-label"><br/>Fees added in the last 7 days<br/></p>
			<table width="100%" class="table-fees-list7">
			<thead>
				<tr class="table-hdng" >
				<td>User</td>
				<td>Fees</td>
				<td>% of Total</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>

		<div style="clear: both"></div>

		<div style="clear: left; float:left; width:49%;">
			<p class="info-label"><br/>Top 10 runners<br/></p>
			<table width="100%" class="table-runners">
			<thead>
				<tr class="table-hdng">
				<td>Runner</td>
				<td style="text-align: right;">Tasks</td>
				<td style="text-align: right;">Working on</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>

		<div style="float:right; width:49%;">
			<p class="info-label"><br/>Top 10 mechanics<br/></p>
			<table width="100%" class="table-mechanics">
			<thead>
				<tr class="table-hdng">
				<td>Mechanic</td>
				<td width="35%" style="text-align: right;">Number of Tasks</td>
				<td width="25%" style="text-align: right;">Working on</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>
		
		<div style="float:left; width:49%;">
			<p class="info-label"><br/>Top 10 fee adders<br/></p>
			<table width="100%" class="table-fee-adders">
			<thead>
				<tr class="table-hdng">
				<td>Mechanic</td>
				<td style="text-align: right;">Number Fees</td>
				<td style="text-align: right;">Average Fee Amount</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>	
		
		<div style="float:right; width:49%;">
			<p class="info-label"><br/>Top 10 mechanics with tasks marked "Past Due"<br/></p>
			<table width="100%" class="table-past-due">
			<thead>
				<tr class="table-hdng">
				<td>Mechanic</td>
				<td width="35%" style="text-align: right;">Number of Tasks</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>
	</form>
</div>
