<div id="popup-startreview" class="popup-body" title = "Start Code Review">
    <p>You have started the Code Review. Please click ok to continue or cancel to abort the process.<br/>
       You can click the 'End Code Review' button to cancel or finish the review later from this workitem page.</p>
    <form name="popup-form" id="popup-form-startreview" action="" method="post">
            <input type="hidden" name="itemid" value="" />
            <p class="info-label" style="display:block">Reviewer: <em>{{currentUser.nickname}}</em></p>
         <input type='hidden' name='mechanic_id' id='mechanic_id' value='{{currentUser.id}}' />
        <div class="buttonContainer">
            <input type="button" name="cancelme" value="Cancel" onClick="Job.cancelStartReview();" id="cancelstartcodereview"/>
            <input type="button" name="changebutton" value="Ok" onClick="Job.changeButton();" id="startcodereview"/>
        </div>
            </form>
</div><!-- end of popup-startreview -->
