{{#maxTip}}
    <div id="popup-addtip" class="popup-body" title = "Add Tip">
        <form name="popup-form" id="popup-form-addtip" action="" method="post">
            <div class="field">
                <label for="mechanic_id">Pay To</label>
                {{& userTipSelectbox}}
                <input type='hidden' name='mechanic_id' id='mechanic_id' value='{{currentUser.id}}' />
                <br/>
            </div>
            <input type="hidden" name="itemid" value="" />
            <div class="field">
                    <label for="tip_amount">Tip ($USD)</label>
                        <input type="text" name="tip_amount" id="tip_amount" class="text-field money iToolTip enterAmount" size="48" />
            </div>
            <div class="clear">
                <label for="tip_desc">Note</label>
                    <input type="text" name="tip_desc" id="tip_desc" class="text-field iToolTip enterAmount" size="48" />
                
            </div>
            <script type="text/javascript">
                // see http://regexlib.com/REDetails.aspx?regexp_id=318
                // but without  dollar sign 22-NOV-2010 <krumch>
                var regex = /^(\d{1,3},?(\d{3},?)*\d{3}(\.\d{0,2})?|\d{1,3}(\.\d{0,2})?|\.\d{1,2}?)$/;

                var tip_amount = new LiveValidation('tip_amount', { onlyOnSubmit: true });
                    tip_amount.add(Validate.Presence, {failureMessage: "Can't be empty!" });
                    tip_amount.add(Validate.Format, {pattern: regex, failureMessage: "Invalid Input!" });
                    tip_amount.add(Validate.Numericality, {maximum: {{max_tip}}, tooHighMessage: "Tip cannot exceed the accepted bid!" });

                var tip_desc = new LiveValidation('tip_desc', {onlyOnSubmit: true });
                    tip_desc.add( Validate.Presence, {failureMessage: "Can't be empty!" });
                $('#popup-form-addtip').submit(function() {
                    var massValidationFee = LiveValidation.massValidate([tip_amount, tip_desc]);
                    if (!massValidationFee) {
                        return false;
                    }
                    $('#add_tip').click(function() {
                        $('#add_tip').attr('disabled', 'disabled');
                    });
                    $('#popup-form-addtip').submit(function() {
                        return false;
                    });
                    if ($('#mechanicTip').length !== 0) {
                        $('#popup-addtip #mechanic_id').val($('#popup-addtip .mechanicTipList li.ui-combobox-list-selected').attr('val'));
                    }
                    return true;
                });
                $(function() {
                    if ($('#mechanicTip').length !== 0) {
                        createActiveFilter('#mechanicTip', 'users', 1);
                    }
                });
            </script>
            <div class="clear">
                <input type="submit" id="add_tip" name="add_tip" value="Add Tip" />
            </div>
        </form>
    </div>
{{/maxTip}}
