    <div id="popup-addfee" class="popup-body" title = "Add Fee">
        <form name="popup-form" id="popup-form-addfee" action="./{{worklist.id}}" method="post">
            {{#canFeeOthers}}
                <div class="clear">
                    <p class="info-label"><label for="mechanic_id">Pay To</label>
                        {{& userFeeSelectBox}}
                    </p>
                </div>
            {{/canFeeOthers}}
            {{^canFeeOthers}}
                <p class="info-label"><label for="mechanic_id">Pay To</label>
                    <span id="mechanic_id">{{currentUser.nickname}}</span>
                </p>
            {{/canFeeOthers}}
            <input type='hidden' name='mechanic_id' id='mechanic_id' value='{{currentUser.id}}' />
            <br/>
            <input type="hidden" name="itemid" value="" />
            <div>
                <p class="info-label iToolTip enterAmount"><label for="fee_amount">Fee ($USD)</label>
                <input type="text" name="fee_amount" id="fee_amount" class="text-field money iToolTip enterAmount" size="48" />
                </p>
            </div>
            <div>
                <p class="info-label iToolTip enterAmount">
                    <label for="fee_desc">Description</label>
                    <textarea name="fee_desc" id="fee_desc" class="expand" rows="2" cols="20"></textarea>
                </p>
            </div>

            <script type="text/javascript">
                // see http://regexlib.com/REDetails.aspx?regexp_id=318
                // but without  dollar sign 22-NOV-2010 <krumch>
                var regex = /^(\d{1,3},?(\d{3},?)*\d{3}(\.\d{0,2})?|\d{1,3}(\.\d{0,2})?|\.\d{1,2}?)$/;
                var fee_amount = new LiveValidation('fee_amount', {onlyOnSubmit: true});
                    fee_amount.add(Validate.Presence, { failureMessage: "Can't be empty!" });
                    fee_amount.add(Validate.Format, { pattern: regex, failureMessage: "Invalid Input!" });

                var fee_desc = new LiveValidation('fee_desc', {onlyOnSubmit: true});
                    fee_desc.add( Validate.Presence, { failureMessage: "Can't be empty!" });
                $('#popup-form-addfee').submit(function() {
                    var massValidationFee = LiveValidation.massValidate([fee_amount, fee_desc]);
                    if (!massValidationFee) {
                        return false;
                    }
                    $('#add_fee').click(function() {
                        $('#add_fee').attr('disabled', 'disabled');
                    });
                    if ($('#mechanicFee').length !== 0) {
                        $('#popup-addfee #mechanic_id').val($('#mechanicFee').val());
                    }
                    return true;
                });
                $(function() {
                    if ($('#mechanicFee').length !== 0) {
                        //createActiveFilter('#mechanicFee', 'users', 1);
                        $('#mechanicFee').chosen({width: 'auto'});
                    }
                });
            </script>
            <div class="clear">
                <input type="submit" name="add_fee" value="Add Fee" class="floatRight" />
            </div>
        </form>
    </div><!-- end of popup-addfee -->
    
    
