    <div id="popup-confirmphone" class="popup-body">
        <h1>Phone number confirmation</h1>
        <div id="in-lt" class="in-lt-confirmphone">
            <div id="phone-confirm-form" class="worklist">
                <div id="phoneConfirmFormHolder">
                    <span>A confirmation code was just sent to the sms number you entered. If you do not receive a code, click "Reset", check your info and try entering it again.</span>
                    <br /> <br /> 
                    <div class="LVspace">
                        <label>Code: <br /> <br />
                        <input type="text" id="phoneconfirmstr" name="phoneconfirmstr" class="text-field" size="10" />
                        </label>
                    </div>
                    <span>
                        <input type= "submit" id="Confirm" value="Confirm" name="Confirm" class="text-field" alt="Confirm phone number">
                        <span id="clean_phone_span" class="clean_phone">
                            <input type= "submit" id="Cancel_Clean" value="Reset" class="text-field" alt="Cancel Phone Number">
                        </span>
                    </span>
                </div>
            </div>
        </div> 
    </div>