<div id="invite-people" class="popup-body" title="Invite User to this Job">
    
    <form action="" method="post" name="invite-form" onSubmit="return sendInviteForm();">
        <div>
            <label for="invite">Invite Worklist Users <small>(use comma seperated list)</small></label>
            <input id="invite" type="text" class="invite ac_input" name="invite" />
        </div>
        <div class="clear">
            <input type="submit" name="invite-people" value="Invite" class="bottonContainer" />
        </div>
    </form>
    
</div>
