<div id="popup-reviewurl" title="Functional &amp; Review URL" class="popup-body" style="padding-right:5px;">
    <form name="popup-form" id="popup-form-reviewurl" action="" method="post">
        <div style="float:left;width:90%">
            <p>Please add any specific notes if needed for the Designer and/or reviewer, and be sure your sandbox is current.</p>
            <div class="clear"></div>
            <div class="field">
                <label for="sandbox-url">Sandbox URL to Review</label>
                <input class="text-field"  type="text" name="sandbox-url" id="sandbox-url" class="text-field"/>
            </div>
            <div class="field">
                <label for="review-notes">Notes</label>
                <input class="text-field" type="text" name="review-notes" id="review-notes" 
                  title="Add notes for Designer &amp; Reviewer if needed." class="text-field" />
            </div>
            <input type="hidden" name="quick-status-review" id="quick-status-review"/>
        </div>
        <div class="clear"></div>
        <input type="submit" name="save-review-url" value="Save" id="save-review-url" style="position:relative; left:264px;" />
     </form>
</div>

