<meta property="og:title" content="{{app.metadata.title}}" />
<meta name="description" content="{{app.metadata.description}}" />
<meta property="og:description" content="{{app.metadata.description}}" />
<meta property="og:image" content="{{app.metadata.image}}" />
