<div class="modal fade" id="{{modal_id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="./{{job_id}}" method="post">
        <input type="hidden" name="itemid" value="{{job_id}}" />
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add fee</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-9">
                    <label for="{{#canFeeOthers}}mechanicFee{{/canFeeOthers}}{{^canFeeOthers}}mechanic_id{{/canFeeOthers}}">
                        Pay To
                    </label>
                    {{#canFeeOthers}}
                        <select name="mechanic_id" id="mechanicFee" data-placeholder="Select user">
                            {{#users}}
                                <option value="{{id}}">{{nickname}}</option>
                            {{/users}}
                        </select>
                    {{/canFeeOthers}}
                    {{^canFeeOthers}}
                        <span id="mechanic_id">{{current_nickname}}</span>
                        <input type='hidden' name='mechanic_id' id='mechanic_id' value='{{current_id}}' />
                    {{/canFeeOthers}}
                </div>
                <div class="col-md-3">
                    <label for="fee_amount" data-toggle="tooltip"
                      title="Enter the amount you want to be paid if this job is accepted and done.">
                        Fee
                    </label>
                    <div class="input-group">
                      <input type="text" name="fee_amount" id="fee_amount" class="form-control" />
                      <span class="input-group-addon">USD</span>
                    </div>
                </div>
            </div>
            <label for="fee_desc">Description</label>
            <textarea name="fee_desc" id="fee_desc" class="form-control"></textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" name="add_fee">Add fee</button>
        </div>
      </form>
    </div>
  </div>
</div>