<div class="modal fade" id="{{modal_id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{action}}" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{& title}}</h4>
        </div>
        <div class="modal-body">{{& content}}</div>
        <div class="modal-footer">
          {{#buttons}}
            <button class="btn {{className}}"
              {{#type}}type="{{type}}"{{/type}} {{#name}}name="{{name}}"{{/name}} {{#dismiss}}data-dismiss="modal"{{/dismiss}}>
              {{content}}
            </button>
          {{/buttons}}
        </div>
      </form>
    </div>
  </div>
</div>

