<div class="modal fade" id="{{modal_id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{& title}}</h4>
      </div>
      <div class="modal-body">{{& content}}</div>
      <div class="modal-footer">
        {{#buttons}}
          <button type="button" class="btn {{className}}" {{#dismiss}}data-dismiss="modal"{{/dismiss}}>
            {{content}}
          </button>
        {{/buttons}}
      </div>
    </div>
  </div>
</div>

