<div class="modal fade" id="{{modal_id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Love Received</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>From</th>
              <th>Why</th>
              <th>When</th>
            </tr>
          </thead>
          <tbody>
            {{#data.love}}
              <tr>
                <td>
                  <a href="./{{giver}}">{{giver}}</a>
                </td>
                <td>{{why}}</td>
                <td>at_format</td>
              </tr>
            {{/data.love}}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>