<form method="post" id="addJob">
    <div class="row">
        <div class="col-sm-3">
            <select id="itemProjectCombo" name="itemProject" data-placeholder="Select project">
                <option value="select" {{#first_selected}}selected="selected"{{/first_selected}}>
                    Select project
                </option>
                {{#projects}}
                    <option value="{{id}}" {{#current}}selected="selected"{{/current}}>
                        {{name}}
                    </option>
                {{/projects}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <input type="text" id="summary" name="summary" class="form-control" placeholder="Title" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <label for="notes">Description</label>
            <textarea class="form-control autogrow" name="notes" id="notes"
              placeholder="describe the work necessary to successfully complete this job"></textarea>
        </div>
        <div class="col-sm-3">
            <label>Labels</label>
            <ul id="labels">
                {{#skills}}
                    <li>
                        <input id="label{{id}}" type="checkbox" name="label[{{id}}]" value="{{skill}}" />
                        <label for="label{{id}}">{{skill}}</label>
                    </li>
                {{/skills}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <fieldset id="attachments">
              <label>Drag &amp; drop or <em>select files</em> files to attach.</label>
              <ul></ul>
            </fieldset>
        </div>
    </div>
    <div class="row">
        {{#userIsInternal}}
        <div class="col-sm-offset-6 col-sm-3">
            <input type="checkbox" name="is_internal" id="is_internal" />
            <label for="is_internal">Internal</label>
            <button class="btn btn-primary" type="submit" name="save_item">Add job</button>
        </div>
        {{/userIsInternal}}
        {{^userIsInternal}}
        <div class="col-sm-offset-7 col-sm-2">
            <button class="btn btn-primary" type="submit" name="save_item">Add job</button>
        </div>
        {{/userIsInternal}}
    </div>
</form>
<script type="text/javascript">
    $(function() {
        AddJob.init();
    })
</script>