<div class="row">
    <p>
        Worklist is fully integrated with GitHub to improve your experience as a developer. 
        Please login via your GitHub account to continue.
    </p>
</div>
<section id="github">
    <a href="./github/login">Log in with GitHub</a>
</section>