<div class="row">
    <p>
        The Worklist has been federated with <a target="-blank" href="https://github.com">GitHub</a> 
        in order to improve your experience as a developer. Please 
        <a href="./github/login">Log in through your github account</a> to continue.
    </p>
</div>
<section id="github">
    <a href="./github/login">Log in with GitHub</a>
</section>