<table class="table table-striped table-worklist">
    <thead>
        <tr>
            <td>Name</td>
            <td>RSS</td>
            <td>Atom</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td >Worklist Top Priority Bidding Jobs</td>
            <td>
                <a href="./feeds?name=priority&format=rss"><img alt="rss feed" src="images/rss.png" title="rss feed" /></a>
            </td>
            <td>
                <a href="./feeds?name=priority&format=atom"><img alt="rss feed" src="images/atom.png" title="rss feed" /></a>
            </td>
        </tr>
        <tr>
            <td>Worklist most Recent completed jobs</td>
            <td>
                <a href="./feeds?name=completed&format=rss"><img alt="rss feed" src="images/rss.png" title="rss feed" /></a>
            </td>
            <td>
                <a href="./feeds?name=completed&format=atom"><img alt="rss feed" src="images/atom.png" title="rss feed" /></a>
            </td>
        </tr>               
        <tr>
            <td>Worklist most recent comments</td>
            <td>
                <a href="./feeds?name=comments&format=rss"><img alt="rss feed" src="images/rss.png" title="rss feed" /></a>
            </td>
            <td>
                <a href="./feeds?name=comments&format=atom"><img alt="rss feed" src="images/atom.png" title="rss feed" /></a>
            </td>
        </tr>
    </tbody>
</table>