<h1>Recover Your Password</h1>
<h3>So many passwords, so little time... :)</h3><br />
<form action="#" method="post">
    {{& msg}}
    <div class="LVspace">
        <label>Email<br />
            <input type="text" id="username" name="username" class="text-field" size="30" />
        </label>
        <script type="text/javascript">
        </script>
     </div>
     <br />
     <p><input type="submit" value="Send Mail" alt="Send Mail" name="Send Mail" /></p>
</form>
