<h2>Help</h2>

<h3>General FAQs</h3>
<ul>
    <li><a href="./help#gf1">What is Worklist?</a></li>
    <li><a href="./help#gf2">I'm a web programmer, can I work on Worklist?</a></li>
    <li><a href="./help#gf3">Why do I need a Github account?</a></li>
    <li><a href="./help#gf4">What is an Issue?</a></li>
    <li><a href="./help#gf5">What is the difference between a Developer and a Designer?</a></li>
    <li><a href="./help#gf6">What is a Bid?</a></li>
    <li><a href="./help#gf7">What is a Fee?</a></li>
</ul>

<h3>Developer FAQs</h3>
<ul>
    <li><a href="./help#df1">What's the best way to get started?</a></li>
    <li><a href="./help#df2">How can I locate Issues to bid?</a></li>
    <li><a href="./help#df3">What is the workflow of an Issue?</a></li>
    <li><a href="./help#df4">What is a reasonable bid amount?</a></li>
    <li><a href="./help#df5">Can I view the source code and/or download it to my own server?</a></li>
    <li><a href="./help#df6">I tried to bid on an Issue and it said I am not eligible to bid, what's wrong?</a></li>
    <li><a href="./help#df7">After I have completed my work, how do I get paid?</a></li>
    <li><a href="./help#df8">Who is eligible to perform code reviews?  How do I become eligible?</a></li>
    <li><a href="./help#df9">Where can I go for more information?</a></li>
</ul>

<h3>General FAQs<span class="heading-links" /></h3>
<h4><a name="gf1">What is Worklist?</a></h4>
<p>
    Worklist is High Fidelity's distributed development system.  Our global team
    of developers include Web Developers, Project Managers (Designers), Engineers, UI/UX experts and QA Testers.
</p>
<h4><a name="gf2">I'm a web programmer, can I work on Worklist?</a></h4>
<p>
    Absolutely! We're always looking for new talent to join our community. To get started,
    you'll need to have a <a href='https://github.com/'> Github </a>account. You can then <a href='https://worklist.net/'>
    Login</a> with your Github credentials.  On first time login, you'll be redirected to your settings page where we'll
    ask you to provide necessary Worklist account info.
</p>
<h4><a name="gf3">Why do I need a Github account?</a></h4>
<p>
    Worklist is completely federated with Github.  We require write access on repositories in order to create branches
    and pull requests from Worklist; for example, when you receive a bid acceptance on an Issue, a branch is created on
    your Github account under the Issue's ticket number. Later in the process, when you change the status of an Issue
    on Worklist to "Code Review," a pull request is automatically created from the Issue's branch.

Even private repo access is necessary as some of the code in the High Fidelity architecture is not public.
</p>
<h4><a name="gf4">What is an Issue?</a></h4>
<p>
    An Issue is equivalent to a job.
</p>

<h4><a name="gf5">What is the difference between a Developer and a Designer?</a></h4>
<p>
    Developer refers to the person performing the actual work on a Issue.  The Designer is the Issue Manager.
</p>
<h4><a name="gf6">What is a Bid?</a></h4>
<p>
    A bid is a Developer's proposal to perform work on an Issue.  Bids consist of 1) the amount you would like to be paid,
    2) the approach you will take to complete the work needed to resolve the Issue, 3) the amount of time that it will take
    to complete the work, and 4) how long you want the bid to remain active - the maximum time and our default is 7 days.
    <br/ > <br/ >
    When you enter a bid, it is always better to give a brief, yet detailed, description of how you intend to address
    the Issue requirements. Designers are not just looking for the lowest bid; we are looking for a considered bid that has
    some thought behind it while not being unrealistic in cost.
</p>
<h4><a name="gf7">What is a Fee?</a></h4>
<p>
    In addition to the initial bid, you will probably also see one or more fees attached to
    an Issue. During the course of an Issue, fees are added for code reviews(automatically calculated
    for most projects), testing or other help. We encourage Developers to use their best judgment
    when fee'ing in.
</p>

<h3>Developer FAQs</h3>
<h4><a name="df1">What's the best way to get started?</a></h4>
<p>
    Browse our <a href='./Jobs'>Issues</a> page to view the type of work we're doing and join us in our
    <a href='http://gitter.im/highfidelity/worklist'>Gitter</a> chat where there are almost
    always other people around to answer questions and help you get started.
</p>
<h4><a name="df2">How can I locate Issues to Bid?</a></h4>
<p>Go to our <a href='./Jobs'>Issues</a> page and select "Bidding" from the status drop down. This will show
you a list of all currently open Issues.</strong>
</p>
<h4><a name="df3">What is the workflow of an Issue?</a></h4>
<p>Issues on Worklist go through various statuses from preparation through release. Once your bid is accepted,
you might find this cheat sheet helpful until you get the knack of our workflow.
<p><strong>Stage One: Preparation > Issue Setup</strong></p>
<ul>
    <li><strong>Suggested -</strong> Worklist allows anyone to make suggestions for improvements to any active project. When
    Suggested issues are added, Designers are notified via email and they decide whether or not to move them into Bidding.</li>
    <li><strong>SuggestedWithBid -</strong> Sometimes when a Developer has a suggestion, they will also have a particular solution
    in mind and be willing to do the work. Once a Developer adds a Suggested issue, they have the ability to add a bid which in
    turn changes the status to SuggestedWithBid.  Designers are again notified and make the final decision on whether or not to go
    ahead with the issue.</li>
    <li><strong>Pass -</strong> If for some reason a Designer decides not to move an issue into Bidding, they will set the
    issue to Pass.  Issues in Suggested and SuggestedWithBid status are also auto-passed once they age 30 days.</li>
    <li><strong>Bidding -</strong> Once an Issue is set to Bidding by a Designer, any Developer can put in their offer.
    Designers will review bids and accept based upon the best match to the issue requirements.</li>
</ul>
    <p><strong>Stage Two: In Progress > Getting Issues DONE</strong></p>
<ul>
    <li><strong>Working -</strong> Once a bid has been accepted, the Issue will automatically set to Working status. It will remain
    there until the Developer is done with the work.</li>
    <li><strong>Functional -</strong> When the Developer is ready for their work to be functionally tested, they will commit the
    changes to their branch (no Pull Request at this point)  and set the Issue to Functional. At this step in the process, the
    Designer will test the functionality in the Developer's sandbox and then either ask for modifications or indicate their approval
    to move to Code Review.  Setting the Issue to Code Review will automatically generate a Pull Request(PR) in Github.</li>
    <li><strong>Code Review -</strong> Code Review means the new code is ready to be reviewed by another Developer. If the reviewer
    finds any problems, they are either worked out in real-time in our <a href='http://gitter.im/highfidelity/worklist' target='_blank'>Gitter</a>
    or via comments added to the Issue ticket. Once all requirements have been fulfilled, the Developer commits the code and sets the
    Issue to Completed.</li>
</ul>
    <p><strong>Stage Three: Finished > Your Issue is Done</strong></p>
<ul>
    <li><strong>Completed -</strong> Once your Issue is merged into the Github Master Repository, the Developer sets the Issue to
    Completed. The Issue Designer will again be notified via email. This stage allows Designers additional time once the Issue is
    live to verify the new functionality in production. If all is good, they will move the Issue to the final status: Done!</li>
    <li><strong>Done -</strong> The Developer will not be paid until the Issue is moved into Done status. Done Issues will be picked
    up in our payment system during the next payment run via Paypal, currently twice a week.</li>
    </p>
</ul>
<h4><a name="df4">What is a reasonable bid amount?</a></h4>
<p>A bid is simply defined as the amount of money you will ask for completing the task described by an Issue write up. You can browse
through Done Issues to get a good idea of what others have charged for similar Issues. When considering an Issue, be sure to carefully
think about any problem areas or potential extra work before placing your bid, as your bid is considered an agreement between you and
Worklist for any given Issue.</strong>
</p>
<h4><a name="df5">Can I view the source code and/or download it to my own server?</a></h4>
<p>Yes! Our two main repositories, High Fidelity and Worklist are housed on <a href="https://github.com/highfidelity">Github</a>. The repositories are public and you can browse
the code there.  You can read more on the Github process in our
<a href="https://github.com/highfidelity/worklist/wiki/Using-GitHub-with-the-Worklist-Project">Worklist wiki</a>.
</p>
<h4><a name="df6">I tried to bid on an Issue and it said I am not eligible to bid, what's wrong?</a></h4>
<p>Before you can place a bid, you need to set up your payment information in your <a href='./settings'> profile settings</a>. You need to both add your Paypal address and,
if you're in the US, you will need to upload your W9 for our verification. </strong>
</p>
<h4><a name="df7">After I have completed my work, how do I get paid?</a></h4>
<p>Once you've finished work and it has had a functional and code review completed, you should set the Issue to COMPLETED.
 The project Designer will then need to verify it works in production and will then set the Issue to DONE. You will not get paid until this
 happens. Please view the <a href ="ff6"> Project Status</a> flow for more information.  All payments are
 currently handled through Paypal. When you create your worklist account, you'll be asked to supply your Paypal email address. We will pay as
 quickly as possible after a Issue is marked DONE in the worklist (this is done by the person who created or is the Designer for the Issue).</strong>

<h4><a name="df8">Who is eligible to perform code reviews?  How do I become eligible? </a></h4>
<p>Each project managed in the Worklist has it's own set of rules for Code Review eligibility.  The Project Admin
maintains these specifications. The Admin can select from the following options:</strong>
</p>
<ul>
    <li><strong>Anyone</strong></li>
    <li><strong>Anyone that is Trusted by more than 3 people</strong></li>
    <li><strong>Anyone that is Trusted by the Project Admin</strong></li>
    <li><strong>Anyone that is Trusted by the Issue Manager</strong></li>
    <li><strong>Use only code reviewers listed below</strong>(Only specific users that the Project Admin delegates)</li>
</ul>

<p>If you meet the Code Review qualifications, you will be able to start a code review by clicking the Start Code Review
button within a task.  If not, a hover message will appear over the button stating that "You are not Authorized to Code Review
this Issue".
</p>
<p>To view the guidelines for a project, navigate to the specific project from the <a href ='./projects'>
Projects page.</a>
</p>
<p>Trust generally follows completed Issues.  Therefore, if you do a really awesome job on Issues, Trust will come and so will Code Review
Eligibility!
</p>
<h4><a name="df9">Where can I go for more information?</a></h4>
<p>We have a number of Github Wiki's containing a wealth of information:
</p>
<ul>
    <li><strong><a href='https://github.com/highfidelity/worklist/wiki/Using-GitHub-with-the-Worklist-Project'>
    Using Github with the Worklist Project</a></strong></li>
    <li><strong><a href='https://github.com/highfidelity/worklist/wiki/Coding-Standards'>
    Worklist Project Coding Standards</a></strong></li>
    <li><strong><a href='https://github.com/highfidelity/hifi/wiki'>High Fidelity Project specific wiki's</a></strong></li>
</ul>
<p>
Or just visit the <a href='http://gitter.im/highfidelity/hifi'>Gitter</a> chat and ask!</strong>
</p>