<form class="row" id="search">
    <div id="query" class="col-sm-4 col-md-4">
      <fieldset>
        <input type="text" name="query" placeholder="Search" value="{{getQuery}}" />
        <button href="#" class="glyphicon glyphicon-remove" title="Clear Search Parameters"></button>
      </fieldset>
    </div>
    <div class="col-sm-3 col-md-3 filter">
      {{& projectSelect}}
    </div>
    {{#currentUser.id}}
    <div class="col-sm-3 col-md-3 filter">
      {{& statusSelect}}
    </div>
    <div id="buttons" class="col-xs-12 col-sm-2 col-md-2">
        <p>
            <a href="./job/add" id="addJobButton" title="Suggest a Feature or Report a Bug">
                Add job
            </a>
        </p>
    </div>
    {{/currentUser.id}}
    {{^currentUser.id}}
    <div class="col-sm-5 col-md-5 filter">
      {{& statusSelect}}
    </div>
    {{/currentUser.id}}
</form>
<section class="row">
    <table class="table table-striped table-worklist">
        <thead>
            <tr>
                <th class="clickable project-col">Project</th>
                <th><span class="clickable">Job ID</span> &amp; <span class="clickable">Summary</span></th>
                <th class="clickable status-col">Status</th>
                <th class="clickable who-col">Who</th>
                <th class="clickable age-col" id="defaultsort">Age</th>
                <th class="clickable comments-col"><div class="wl-icon-comments wl-icon-comments-dims" title="Comments"></div></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <span id="direction" style="display: none; float: right;"><img src="images/arrow-up.png" /></span>
</section>
<script type="text/javascript">
    var page = {{page}};
    var dir = '{{filter.getDir}}';
    var sort = '{{filter.getSort}}';
    var only_needs_review_jobs = {{review_only}};
</script>