<form class="row" id="search">
    <div id="query" class="col-md-3">
      <fieldset>
        <input type="text" name="query" alt="Search" size="20" value="{{getQuery}}" />
        <button href="#" class="glyphicon glyphicon-remove" title="Clear Search Parameters"></button>
        <input type="checkbox" id="search_comments" name="search_comments"></input>
        <label for="search_comments"></label>
      </fieldset>
    </div>
    <div class="col-md-8" id="filters">
      {{& projectSelect}}
      {{& userSelect}}
      {{& statusSelect}}
    </div>
    {{#currentUser.id}}
    <div id="buttons" class="col-md-1">
        <p>
            <button href="./addjob" id="addJobButton" title="Suggest a Feature or Report a Bug">
                Add job
            </button>
        </p>
    </div>
    {{/currentUser.id}}
</form>
<section class="row">
    <table class="table-worklist">
        <thead>
            <tr class="table-hdng">
                <td class="clickable project-col">Project</td>
                <td><span class="clickable">Job ID</span> &amp; <span class="clickable">Summary</span></td>
                <td class="clickable status-col">Status</td>
                <td class="clickable who-col">Who</td>
                <td class="clickable age-col" id="defaultsort">Age</td>
                <td class="clickable comments-col"><div class="comments-icon" title="Comments"></div></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <span id="direction" style="display: none; float: right;"><img src="images/arrow-up.png" /></span>
</section>
<script type="text/javascript">
    var page = {{page}};
    var dir = '{{filter.getDir}}';
    var sort = '{{filter.getSort}}';
    var only_needs_review_jobs = {{review_only}};
</script>