<h1>Change Password</h1>
{{#msg}}
    <p class="error">{{text}}</p>
{{/msg}}
<form method="post" action="./password" id="password" onSubmit="return validate();">
    <div class="row">
        <section class="col-md-6">
            <label>Current Password</label>
            <input type="password" name="oldpassword" id="oldpassword" class="form-control" placeholder="Enter password" />
        </section>
    </div>
    <div class="row">
        <section class="col-md-6">
            <label>New Password</label>
            <input type="password" name="newpassword" id="newpassword" class="form-control" placeholder="Enter password" />
        </section>
    </div>
    <div class="row">
        <section class="col-md-6">
            <label>Re-enter New Password</label>
            <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Enter password" />
        </section>
    </div>
    <div class="row">
        <section class="col-md-6">
            <input type="submit" value="Change Password" name="change-password" />
        </section>
    </div>
</form>
