<h2>PayPal MassPay Run</h2>
{{#alert_msg}}<p>{{alert_msg}}</p>{{/alert_msg}}
{{^actionPay}}
    <form id="fundForm" method="POST" action="./payments">
        <label id="label-fund" for="fund_id">Fund:</label>
        {{& fundSelectBox}}
    </form>
    <form id="paymentForm" action="./payments?{{& order}}" method="POST">
        <p>
            Actions:
            <input type="button" value="Invert Selection" id="invertSelection" />
            <input type="button" value="Select All" id="selectAll" />
            <input type="button" value="Select None" id="selectNone" />
        </p>          
        <input type="hidden" id="action" name="action" 
          value="{{^actionDefined}}confirm{{/actionDefined}}{{#actionDefined}}pay{{/actionDefined}}" />
        <table class="table table-bordered" id="payments-table">
            <thead>
                <tr>
                    <th>Pay</th>
                    <th>Developer</th>
                    <th>Fee/Bonus ID</th>
                    <th>Task ID</th>
                    <th>Project</th>
                    <th>Amount</th>
                    <th>Job Summary</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {{& paymentsTableRows}}
            </tbody>
        </table>
        <p id="submit-btns">
            {{#actionConfirm}}
                Password: <input type="password" name="password" id="password" />
                <br>Paypal API Username: <input type="text" name="pp_api_username" id="pp_api_username" />
                <br>Paypal API Password: <input type="password" name="pp_api_password" id="pp_api_password" />
                <br>Paypal API Signature: <input type="password" name="pp_api_signature" id="pp_api_signature" /><br>
            {{/actionConfirm}}
            <input class="disableable" type="submit" id="commit-btn" name="commit"
              value="{{#actionConfirm}}Pay Now{{/actionConfirm}}{{^actionConfirm}}Confirm{{/actionConfirm}}" />
                Total Selected: 
                $<input type="text" id="total-selected-fees" disabled="disabled" value="0.00" />
            <input type="hidden" name="fund_id" value="{{fund_id}}" />
        </p>
    </form>
{{/actionPay}}
{{#actionPay}}
   {{& paymentResults}}
{{/actionPay}}
