{{#currentUser.is_admin}}
    <div id="title-wrapper">
        <a href="javascript:" id="add-project" title="Add my project" class="fa fa-plus-circle"> New project</a>
    </div>
{{/currentUser.is_admin}}
<section class="row" id="projects">
</section>
<nav id="page-nav">
    <!-- this link is here because infinitescroll requires it -->
    <a href="api.php?action=getProjects&page=2"></a>
</nav>    
<script type="text/javascript">
    $(function() {
        Projects.init();
    });
</script>