<a href="javascript:" id="add-project" title="Add my project"><span>+</span> New project</a>
<h1><strong>PROJECTS:</strong> Active in the past 90 days</h1>
<section class="row" id="projects"></section>
<a id="all-projects" href="javascript:">All other projects</a>
<nav id="page-nav">
    <!-- this link is here because infinitescroll requires it -->
    <a href="api.php?action=getProjects&page=2"></a>
</nav>    
