<script type="text/javascript">
    var errorOut = '{{errorOut}}';
    var projectName = '{{projectName}}',
        project_id = {{project.getProjectId}},
        username = {{username}},
        nickname = '{{nickname}}',
        unixname = '{{unixname}}',
        newuser = '{{newUser}}',
        dbuser = '{{db_user}}',
        template = '{{templateEmail}}',
        github_repo_url = '{{projectObj.getRepository}}',
        github__repo_type = '{{projectObj.getRepo_type}}';
    GitHub.isConnected = '{{isGitHubConnected}}';
    GitHub.applicationKey = '{{projectObj.getGithubId}}';
</script>
<h1 class="newProject">Project {{projectName}} setup underway...</h1>
    {{#isGithubProject}}
    <div class="project-description">
        <p>Your project is being linked to the GitHub repository you specified. 
           Users will be able to bid on your projects once they have validated their GitHub credentials with Worklist. 
        </p>
    </div>
    {{/isGithubProject}}
    {{^isGithubProject}}
    <div class="project-description">
        <p>The setup of your project includes a MySQL database, Code Repository with a sample PHP page, and a Sandbox in which you may add to and update your codebase.</p>
    </div>
    {{/isGithubProject}}
    <div id="project-status">
            {{#isGithubProject}}
            <p>GitHub Repository linked</p>    
            <p>Emails sent</p>    
            <p>Project created!</p>
            {{/isGithubProject}}
            {{^isGithubProject}}
            <p id="db-status">Creating  MySQL Database with sample table ...</p>
            <p id="repo-status">Creating  Repository with sample php page ...</p><p id="sandbox-status">Creating Sandbox ...</p>
            <p id="emails-status">E-Mailing credentials ...</p>
            {{/isGithubProject}}
</div>
<div id="project-completed">
    <h1>Welcome to the Worklist!</h1>
    <p>Your project details can be viewed and updated here: <strong><a href="./{{projectName}}">{{projectName}}</a></strong></p>
</div>
