<section id="reports-filter" class="form-inline">
    <div class="row">
        <div class="col-md-2">
            <label>Fund:</label>
            {{& fundSelectBox}}
        </div>
        <div class="col-md-4">
            <label for="start-date">Fee between</label>
            <input type="text" id="start-date" name="start_date" value="{{filterStartDate}}" 
              title="Start Date" size="10" class="form-control" />
            <label for="end-date">&amp;</label>
            <input type="text" id="end-date" name="end_date" value="{{filterEndDate}}" 
              title="End Date" size="10" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Order</label>
                <select id="sort-by">
                <option value="name" {{#filterOrderedByName}}selected="selected"{{/filterOrderedByName}}>Alphabetically</option>
                <option value="date" {{#filterOrderedByDate}}selected="selected"{{/filterOrderedByDate}}>Chronologically</option>
            </select>
        </div>
        <div class="col-md-1">
            <input type="submit" value="Go" id="refreshReport"></input>
        </div>
        <div class="col-md-2">
            {{#currentUser.is_payer}}
                <input type="submit" value="Run MassPay" id="pp-masspay-button" /><br />
            {{/currentUser.is_payer}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <fieldset>            
                <label>Payee</label>
                {{& userSelectbox}}
            </fieldset>            
            <fieldset>            
                <label>Paid Status:</label>
                <select id="paid-status" >
                    <option value="ALL" {{#filterPaidStatusAll}}selected="selected"{{/filterPaidStatusAll}}>ALL</option>
                    <option value="1" {{#filterPaidStatusPaid}}selected="selected"{{/filterPaidStatusPaid}}>Paid</option>
                    <option value="0" {{#filterPaidStatusUnpaid}}selected="selected"{{/filterPaidStatusUnpaid}}>Unpaid</option>
                </select>
            </fieldset>
            <fieldset>            
                <label>Item Status:</label>
                {{& statusSelectBox}}
            </fieldset>
            <fieldset>            
                <label>Type:</label>
                <select id="type-status">
                    <option value="ALL" {{#filterTypeAll}}selected="selected"{{/filterTypeAll}}>ALL</option>
                    <option value="Fee" {{#filterTypeFee}}selected="selected"{{/filterTypeFee}}>Fee</option>
                    <option value="Bonus" {{#filterTypeBonus}}selected="selected"{{/filterTypeBonus}}>Bonus</option>
                    <option value="Expense" {{#filterTypeExpense}}selected="selected"{{/filterTypeExpense}}>Expense</option>
                </select>
            </fieldset>
            <fieldset>            
                <label>Project:</label>
                {{& projectSelectbox}}
            </fieldset>
            <fieldset>            
                <label>Designer:</label>
                {{& runnerSelectBox}}
            </fieldset>
            <fieldset>            
                <input id="w2_only" name="w2_only" type="checkbox" class="wlcheckbox" 
                  {{#w2_only}}checked="checked"{{/w2_only}} />
                <label for="w2_only">W2 Only</label>
            </fieldset>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs" id="tabs">
                <li><a href="#details" data-toggle="tab">Details</a></li>
                <li class="active"><a href="#chart" data-toggle="tab">Chart</a></li>
                <li><a href="#payee" data-toggle="tab">Payee</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="details">
                    <form id="reportForm" method="post" action="" />
                        <input type="hidden" id="paid-list" name="paidList" value="" />
                        <table class="table table-striped table-worklist">
                            <thead>
                                <tr>
                                    {{#currentUser.is_payer}}
                                        <td><input type="checkbox" id="report-check-all" value="1" /></td>
                                        <td>Void Fee</td>
                                    {{/currentUser.is_payer}}
                                    <th class="sort {sortkey: 'id'} clickable">ID<div class = "arrow"><div/></th>
                                    <th class="sort {sortkey: 'summary'} clickable">Summary<div class = "arrow"><div/></th>
                                    <th class="sort {sortkey: 'desc'} clickable">Description<div class = "arrow"><div/></th>
                                    <th class="sort {sortkey: 'payee'} clickable">Payee<div class = "arrow"><div/></th>
                                    <th class="sort {sortkey: 'paid_date'} clickable">Paid Date<div class = "arrow"><div/></th>
                                    <th class="sort {sortkey: 'fee'} clickable">Fee<div class = "arrow"><div/></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        {{#currentUser.is_payer}}
                            <input type="submit" id="pay" name="paid" value="Mark Paid" /> 
                            <span id="amtpaid" style="display:none">($0 paid)</span>
                        {{/currentUser.is_payer}}
                    </form>
                </div>
                <div class="tab-pane active" id="chart">
                    <div id="timeline-chart"></div>
                </div>
                <div class="tab-pane" id="payee">
                    <div id="payee">
                        <table class="table table-striped table-worklist-payee">
                            <thead>
                             <tr>
                                <th class="sort {sortkey: 'payee'} clickable" >Payee name<div class = "arrow"><div/></th>
                                <th class="sort {sortkey: 'jobs'} clickable" >Jobs<div class = "arrow"><div/></th>
                                <th class="sort {sortkey: 'avg_job'} clickable" >Avg / Job<div class = "arrow"><div/></th>
                                <th class="sort {sortkey: 'total_fees'} clickable" >Total Fees<div class = "arrow"><div/></th>
                             </tr>
                            </thead>
                          <tbody>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var currentTab = {{showTab}}; // 0 for details and 1 for chart
    var current_order = {{filterDirAsc}};
    var current_sortkey = '{{filter.getOrder}}';
    var page = {{#filter.getPage}}{{filter.getPage}}{{/filter.getPage}}{{^filter.getPage}}1{{/filter.getPage}};
    var activeUsers = {{activeUsers}};
    var activeRunners = {{activeRunners}};
    var activeProjects = {{activeProjects}};
</script>
