<form class="form-signin" role="form" action="./github/safe" method="post">
    <input name="redir" type="hidden" value="{{redir}}" />
    <h2 class="form-signin-heading">Safe-mode sign in</h2>
    <input name="username" type="email" class="form-control" placeholder="Email address" required autofocus>
    <input name="password" type="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
