<div class="row">
    <div class="col-sm-4 col-md-3 sidebar">
        <section id="need-review">
            <h3>Ready for 
                <strong>Code Review</strong>
            </h3>
            <ul></ul>
        </section>
        <section id="biddingJobs" class="row">
            <p class="col-md-5">
                <a href="./addjob">Add job</a>
            </p>
            <p class="col-md-5">
                There <span>are</span> 
                <a href="./jobs?project=&user=0&status=bidding">no jobs</a> 
                you can bid on
            </p>
        </section>
    </div>
    <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
        <h3 class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">System 
            Notifications
        </h3>
        <ul id="entries">
            {{#entries}}{{#visible}}
            <li entryid="{{id}}" class="{{^oldFormatEntry}}markdown{{/oldFormatEntry}}">
                <h4>{{date}}</h4>
                {{#oldFormatEntry}}
                    {{& entry}}
                {{/oldFormatEntry}}
                {{^oldFormatEntry}}
                    {{& markdownEntry}}
                {{/oldFormatEntry}}
            </li>
            {{/visible}}{{/entries}}
        </ul>
    </div>
</div>