<div class="row">
    <div class="col-sm-4 col-md-3 sidebar">
        <section id="need-review">
            <h3>Ready for 
                <strong>Code Review</strong>
            </h3>
            <ul></ul>
        </section>
        <a  href="https://gitter.im/highfidelity/hifi">Join us in Gitter to chat.</a>
    </div>
    <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
        <h3 class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">System 
            Notifications
        </h3>
        <ul id="entries">
            {{& entries}}
        </ul>
    </div>
</div>
