<script type="text/javascript">
    var current_letter = '{{cur_letter}}';
    var runner =  {{currentUser.is_runner}};
    var current_page = {{cur_page}};
    var showUserLink = '{{showUserLink}}';
</script>
<h1>Team Members</h1>
<div id="newUserStats">
    <h2>New user statistics:</h2>
    <p>
        <span>In the past 30 days</span><br /> 
        {{& newStats}}
    </p>
</div>
<div id="leftcol">
    <div id="searchbar">
        <div id="search_user_box">
            <div id="search-filter-wrap">
                <div>
                    <div class="input_box">
                        <div class="searchDiv">
                            <input type="text" id="query" name="query" alt="Search team..." size="20" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="filters_box">
            {{#currentUser.id}}
            <div class="myfavorite-users">
                <input type="checkbox" id="filter-by-myfavorite" />
                <label for="filter-by-myfavorite">Trusted by Me</label>
            </div>
            {{/currentUser.id}}
            <div class="active-users">
                <div>
                    <input type="checkbox" id="filter-by-fees" />
                    <label for="filter-by-fees">Has fees in the last</label>
                </div>
                <select name="days" id="days">
                    <option value="7">7 days</option>
                    <option value="30" selected="selected">30 days</option>
                    <option value="60">60 days</option>
                    <option value="90">90 days</option>
                    <option value="360">1 year</option>
                </select>
            </div>
        </div>
    </div>
    <div id="message">No results</div>
    <table class="table-userlist" style="width:100%">
        <thead>
            <tr class="table-hdng">
                <th class="sort {sortkey: 'nickname'} clickable">Nickname<div class = "arrow"><div/></th>
                <th class="sort {sortkey: 'added'} clickable age">Age<div class = "arrow"><div/></th>
                <th class="sort {sortkey: 'jobs_count'} clickable jobs">Jobs<div class = "arrow"><div/></th>
                <th class="sort {sortkey: 'budget'} clickable money">Budget<div class = "arrow"><div/></th>
                <th class="sort {sortkey: 'earnings'} clickable money">Total Earnings<div class = "arrow"><div/></th>
                <th class="sort {sortkey: 'earnings30'} clickable money">30 Day Earnings<div class = "arrow"><div/></th>
                <th class="sort {sortkey: 'rewarder'} clickable money">(%) Bonus $<div class = "arrow"><div/></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="ln-letters">
        <a href="#" class="all ln-selected">ALL</a>
        <a href="#" class="_">0-9</a>
        <a href="#" class="a">A</a>
        <a href="#" class="b">B</a>
        <a href="#" class="c">C</a>
        <a href="#" class="d">D</a>
        <a href="#" class="e">E</a>
        <a href="#" class="f">F</a>
        <a href="#" class="g">G</a>
        <a href="#" class="h">H</a>
        <a href="#" class="i">I</a>
        <a href="#" class="j">J</a>
        <a href="#" class="k">K</a>
        <a href="#" class="l">L</a>
        <a href="#" class="m">M</a>
        <a href="#" class="n">N</a>
        <a href="#" class="o">O</a>
        <a href="#" class="p">P</a>
        <a href="#" class="q">Q</a>
        <a href="#" class="r">R</a>
        <a href="#" class="s">S</a>
        <a href="#" class="t">T</a>
        <a href="#" class="u">U</a>
        <a href="#" class="v">V</a>
        <a href="#" class="w">W</a>
        <a href="#" class="x">X</a>
        <a href="#" class="y">Y</a>
        <a href="#" class="z ln-last">Z</a>
    </div>
    <div class="ln-pages"></div>
</div>
