<div id="container">
    <div id="dollar-amount">
        $ <span id="dollar-figure">0</span>
    </div>
    <div id="map-container"></div>
    <canvas id="canvas"></canvas>
    
    <div id="participant-icons">
        <img src="images/timeline-footer.png" />
    </div>
</div>
