<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base href="{{app.url}}" />
    {{> meta/copyright}}
    {{> meta/favicon}}
    {{& styleTags}}
    <script type="text/javascript">
        var userId = user_id = {{currentUser.id}};
        var is_runner = {{currentUser.is_runner}};
        var is_admin = {{currentUser.is_admin}};
        var is_payer = {{currentUser.is_payer}};
        var worklistUrl = '{{app.url}}';
        var selfLink = '{{app.self_url}}';
        var sessionusername = '{{currentUser.username}}';
        var ajaxRefresh = {{config.ajaxRefresh}} * 1000;
    </script>
    {{& scriptTags}}
    <script type="text/javascript">
        $(function() {
            NewWorklist.init();
        });
    </script>
    {{> meta/opengraph}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
</head>
<body>
    {{> navbar/fixed}}
    <section class="container-fluid">
        {{& content}}
    </section>
    {{> footer}}
    {{> popup-budget}}
    {{> popup-fees}}
    {{> budget-expanded}}
    {{> budget-transfer}}
    {{> popup-addproject}}
    {{> popup-stats}}
    {{> popups-userstats}}
    {{> footer-analytics}}
</body>
