/* Button
----------------------------------*/

.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; }
button.ui-button-icons-only { width: 3.7em; }

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */





/* Dialog
----------------------------------*/
.white-theme { position: absolute; padding: 0; width: 300px; overflow: hidden; }
.white-theme .ui-dialog-titlebar { padding:0; position: relative;  }
.white-theme .ui-dialog-title { float: left; margin: .1em 16px .2em 0; }
.white-theme .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.white-theme .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.white-theme .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.white-theme .ui-dialog-content { border: 0; padding: 15px; background: none; overflow: auto; position:relative; }
.white-theme .ui-dialog-content .checkbox-label { color: #000000 !important; font-weight: normal; font-family: sans-serif; font-size: 1em !important; }
.white-theme .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.white-theme .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.white-theme .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }

.white-theme .ui-dialog-content label {
    font-size:1.1em !important;
    color: #666666 !important;
    font-family: proxima-nova, sans-serif;
    display: block;
    text-align: left;
    padding-bottom: 0.5em;
    font-weight: bold;
}

.white-theme .ui-dialog-content .small-label,
.white-theme .ui-dialog-content label small {
    font-weight: normal;
    color: #707070!important;
    font-size:0.75em !important;
    font-family: helvetica, arial, sans-serif;
    padding-bottom: 0.15em;
}

.white-theme .ui-dialog-content input[type=text]:not(.ui-combobox-textbox) {
    padding: 0.5em 0.35em !important;
}

/* W9 Form loader*/
.w9_loader {
    height: 16px;
    width: 16px;
    background: url(../images/ajax-loader.gif) no-repeat;
    display: inline-block;
    visibility: hidden;
}
.w9_upload_disabled {
    cursor: wait !important;
    background: #CFDDE0 !important;
}

/*Overrides*/
.white-theme .ui-button-text {
    padding: 0 6px;;
}

.white-theme .ui-dialog-buttonset {
    padding: 0 15px 34px 28px;
}

/*
input[type=button], button, input[type=submit] {
    background: #608e96;
    color: white;
    border-radius: 5px;
    -o-border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;
    height: 2.2em;
    margin-right: 3px;
    font-size: 1.1em;
    border: none;
    -webkit-appearance: none;
}
*/

.white-theme input[type=button], .white-theme input[type=submit] {
    margin-top: 2em;
    float: none;
    font-weight: bold;
}

input[type=button].wide,
input[type=submit].wide {
    width: 200px;
}

.white-theme .ui-widget-content {
    border: none;
}

.white-theme strong {
    color: #608e96 !important;
}
.white-theme span.ui-icon-closethick {
    margin-left: auto;
    margin-right: auto;
    margin-top: 27%;
    background: url(./images/dialog-close.png) no-repeat;
}
.white-theme .ui-dialog-content {
    padding: 10px 50px 55px 35px !important;
}

.white-theme .popup-body p {
  font-size: 16px !important;
  margin-bottom: 0.4em;
}

.white-theme .ui-dialog-title {
    display: none;
    font-family: proxima-nova,sans-serif;
    padding: 0 0 0 37px;
    font-weight: bold;
    font-size: 1.3em;
    color: #007F7C;
    margin: 0;
}

.white-theme .ui-dialog-titlebar {
    background: none;
    border: 0px;
    height: 38px;
    font-size: 16px;
}
.white-theme .ui-dialog-titlebar-close {
    height: 38px !important;
    width: 38px !important;
    background: #eaeff0 !important;
    top: -7px !important;
    right: -15px !important;
    margin-top:-1px !important;
    border-radius: 0px;
    moz-border-radius: 0px;
    -o-border-radius: 0px;
    webkit-border-radius: 0px;
    border: none !important;
}
.white-theme .ui-dialog-titlebar-close:hover,.white-theme  .ui-dialog-titlebar-close:active,.white-theme  .ui-dialog-titlebar-close:focus {
    border: none !important;
    padding: 1px !important;
}
.white-theme {
    color:#876F6D;
    padding:8px 15px 6px;
    font-size: 16px;
    box-shadow: none;
    -o-box-shadow: none;
    moz-box-shadow: none;
    webkit-box-shadow: none;
    border:5px solid #eaeff0 !important;
    border-radius: 0px;
    -o-border-radius: 0px;
    webkit-border-radius: 0px;
    moz-border-radius: 0px;
    background: white;
    text-align:left;
    li {
      font-size: 16px !important;
    }
}

.white-theme input[type="text"]:active, .white-theme input[type="text"]:hover, .white-theme  input[type="text"]:focus,.white-theme input[type="password"]:active, .white-theme input[type="password"]:hover, .white-theme  input[type="password"]:focus, .white-theme textarea:active, .white-theme textarea:hover, .white-theme textarea:focus {
    outline: 1px solid #608e96;
}
/* This won't work unless we remove the white-theme class, due to jquery ui limitations */
.white-theme .ui-widget-overlay {
    background: white;
    opacity: 0.85;
}

/* Dialog specific code */

.white-theme #withdraw_bid input[type=submit] { width: 130px; }

.white-theme #popup-confirmation #button_accept { left: 0px !important; }
.white-theme #popup-confirmation p { margin-bottom: 1em; }

.white-theme #popup-bid-info-buttons input[type=button] {
    font-size: 1em;
}
.white-theme #popup-bid-info-buttons input[type=button]#edit {
    width: 70px;
}
.white-theme #popup-bid-info-buttons input[type=button]#withdraw_bid_accept {
    width: 95px;
}
.white-theme #popup-bid-info-buttons input[type=button]#confirm_budget {
    width: 80px;
}
.white-theme #popup-bid-info-buttons input[type=button]#cancel_budget {
    width: 80px;
}

.white-theme .field {
    clear: both;
    padding-bottom: 15px;;
}

.white-theme .popup-buttons {
    margin-top: 25px;
}
.white-theme table {
    border: none;
}

.white-theme td {
    font-size: 14px;
    background: #E1E8EA;
    padding: 7px 5px;
    border-left: solid 1px #FFFFFF;
    border-right: none;
    border-bottom: none;
    border-top: solid 2px #FFFFFF;
}

.white-theme th span {
    font-size: 14px;
    font-weight: normal;
    border-top: solid 2px #CCCCCC;
    display: inline-block;
    width: 100%;
    border-bottom: solid 2px #999999;
    margin-bottom: 1px;
    padding: 4px 0;
    text-indent: 6px;
    white-space: nowrap;
}

.white-theme th {
    border: 0;
    background: #FFFFFF;
    padding: 0 0 0 1px;
}

/* Combobox */

#for_view .ui-combobox-textbox,
.white-theme .ui-combobox-textbox {
    color: #009999;
    font-weight: bold;
    font-size: 1.1em !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-indent: 9px;
    padding-bottom: 6px !important;
    position: relative;
    top: -2px;
}

#for_view div.ui-state-default,
.white-theme div.ui-state-default {
    background: none #FFFFFF !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

#for_view div.ui-state-default .ui-icon,
.white-theme div.ui-state-default .ui-icon {
    background: url("../../images/primaryIcons-WL.png") no-repeat scroll 6px -724px transparent !important;
    right: 4px;
    height: 22px;
    width: 26px;
}

#for_view .ui-combobox-list-selected,
.white-theme .ui-combobox-list-selected {
    background-color: transparent;
    font-weight: bold;
}

#for_view .ui-combobox-list li.ui-state-hover,
.white-theme .ui-combobox-list li.ui-state-hover {
    background-color: #009999;
    color: #FFFFFF;
}

#for_view .ui-combobox-list,
.white-theme .ui-combobox-list {
    border-radius: 0;
    margin-top: 1px !important;
}

#for_view .ui-combobox-list li,
.white-theme .ui-combobox-list li {
    padding: 0 5px 0 4px;
    line-height: 18px;
}

.white-theme .activeBox {
    margin-left: 0;
    padding: 0;
}
