<div class="modal fade" id="add-funds-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add funds</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" name="budget-seed" id="budget-seed" val="0" />
            <div class="row">
              <div class="col-md-6">
                <label for="budget-current">Total Funds Available (all budgets):</label>
              </div>
              <div class="col-md-6">
                ${{reqUser.getBudget}}
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <label for="budget-source">Source: </label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="budget-source" name="budget-source" class="form-control" />
                    <span id="budget-source-combo-area">
                        <select id="budget-source-combo" name="budget-source-combo">
                        <option value="0" selected="selected">Select a budget</option>
                        {{& reqUser.getBudgetCombo}}
                        </select>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="amountToAdd">Amount to Add (USD): </label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="amountToAdd" name="amountToAdd" class="form-control" /> 
                </div>
            </div>
            <div class="row currentBudgetArea">
                <div class="col-md-6">
                    <label for="newBudgetTotal">New Budget Total: </label>
                </div>
                <div class="col-md-6">
                    $<span id="newBudgetTotal"></span>
                </div>
            </div>
            <input type="hidden" name="receiver_id" value="{{profileUser.id}}" />
            <input type="hidden" id="add_funds_to" name="add_funds_to" value="0" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Ok</button>
        </div>
      </form>
    </div>
  </div>
</div>
