<div class="modal fade" id="budget-give-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Give budget</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="receiver_id" value="{{profileUser.getId}}" />
          <div class="row currentBudgetArea">
            <div class="col-md-6">
              <label for="budget-current">Total Available Funds (all budgets): </label>
            </div>
            <div class="col-md-6">
              ${{currentUser.budget.available}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="budget-amount">New Budget to Give (USD): </label>
              <input type="text" id="budget-amount" name="amount" class="form-control" /> 
            </div>
            <div class="col-md-6">
              <label for="budget-reason">For:</label>
              <input type="text" id="budget-reason" name="budget-reason" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label for="budget-source">Source:</label>
              <input type="text" id="budget-source" name="budget-source" class="form-control" />
              <span id="budget-source-combo-area">
                <select id="budget-source-combo" name="budget-source-combo">
                  <option value="0" selected="selected">Select a budget</option>
                  {{& reqUser.getBudgetCombo}}
                </select>
              </span>              
            </div>
            <div class="col-md-4">
              {{#budgetAuthorized}}
                <input type="checkbox" id="budget-seed" name="budget-seed" class="wlcheckbox" />
                <label for="budget-seed">Seed</label>
              {{/budgetAuthorized}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="budget-note">Note: </label>
              <textarea id="budget-note" name="budget-note" class="form-control" ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Give Budget</button>
        </div>
      </form>
    </div>
  </div>
</div>