<div class="modal fade" id="budget-update-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Budget update</h4>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-md-2"><label for="budget-amount">Budget: </label></div>
              <div class="col-md-3">
                  <input type="text" disabled="disabled" id="budget-amount" name="amount" class="form-control" />
              </div>
              <div class="col-md-1"><label for="budget-reason">For: </label></div>
              <div class="col-md-6">
                  <input type="text" id="budget-reason" name="budget-reason" class="form-control" />
              </div>
            </div>
            <fieldset class="input-group">
            </fieldset>
            <fieldset id="budget-sources-table" class="input-group">
              <h4>Sources:</h4>
              <table class="table table-striped" cellspacing="0" >
                  <thead>
                      <tr>
                          <th class="date">Date</th>
                          <th class="giver">Grantor</th>
                          <th class="amount">Amount</th>
                          <th class="for">From</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
            </fieldset>
            <fieldset class="input-group">
            <input type="hidden" name="receiver_id" value="{{profileUser.id}}" />
            <label for="budget-note">Notes: </label>
            <textarea id="budget-note" name="budget-note" class="form-control"></textarea>
            {{#currentUser.is_runner}}
            <table id="be-table" class="table table-striped">
              <tr id="budgetRemainingFunds">
                <td><strong>Remaining Funds:</strong></td>
                <td>0.00</td>
              </tr>
              <tr id="budgetAllocated">
                <td>Allocated:</td>
                <td>0.00</td>
              </tr>
              <tr id="budgetSubmitted">
                <td>Submitted:</td>
                <td>0.00</td>
              </tr>
              <tr id="budgetPaid">
                <td>Paid:</td>
                <td>0.00</td>
              </tr>
              <tr id="budgetTransferred">
                <td>Transfered:</td>
                <td>0.00</td>
              </tr>
            </table>
            {{/currentUser.is_runner}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="closeOutButton">Close out</button>
          <button type="button" class="btn btn-default" id="addFundsButton">Add Funds</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="updateButton">Save</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="closeButton">Ok</button>
        </div>
      </form>
    </div>
  </div>
</div>

